Repository liqotech/liqo, pull requests merged in 2020-11, with the labels that each got.

#340 LAN Discovery Refactoring
  apis/config/v1alpha1/clusterconfig_types.go
  apis/discovery/v1alpha1/foreigncluster_methods.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/peeringrequest_types.go
  cmd/discovery/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/templates/clusterconfig.yaml
  go.mod
  go.sum
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/gratuitous-answers.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/wan.go
  internal/discovery/txtData.go
  internal/peering-request-operator/peering-request-controller.go
  test/unit/crdReplicator/env_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
  test/unit/liqonet/env_test.go
Labels: discovery, size/XL

#356 service account secret reflection
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  test/unit/reflection/secrets_test.go
Labels: size/M, virtual-node

#350 Add Services Environment Labels
  internal/kubernetes/kubernetes.go
  internal/node/env.go
  internal/node/env_internal_test.go
  internal/node/mock_test.go
  internal/node/pod.go
  internal/node/podcontroller.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/outgoingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/reflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/test/mockController.go
  pkg/virtualKubelet/namespacesMapping/test/mockNamespaceMapper.go
  pkg/virtualKubelet/namespacesMapping/test/mockNamespaceMapperController.go
Labels: size/L, virtual-node

#364 Virtual kubelet provider moved to pkg
  cmd/virtual-kubelet/register.go
  pkg/virtualKubelet/provider/node.go
  pkg/virtualKubelet/provider/pod.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/test/configmap.go
  pkg/virtualKubelet/provider/test/configmapTestCases.go
  pkg/virtualKubelet/provider/test/const.go
  pkg/virtualKubelet/provider/test/endpointsTestCases.go
  pkg/virtualKubelet/provider/test/namespaceNattingTable.go
  pkg/virtualKubelet/provider/test/node.go
  pkg/virtualKubelet/provider/test/nodeTestCases.go
  pkg/virtualKubelet/provider/test/secret.go
  pkg/virtualKubelet/provider/test/secretTestCases.go
  pkg/virtualKubelet/provider/test/service.go
  pkg/virtualKubelet/provider/test/serviceTestCases.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: virtual-node

#214 [tray-agent]: introduction of CRDController for the AgentController
  apis/sharing/v1alpha1/advertisementClient.go
  cmd/advertisement-operator/main.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/tray-agent/agent/client/advertisement-cache.go
  internal/tray-agent/agent/client/advertisement-op.go
  internal/tray-agent/agent/client/advertisementController.go
  internal/tray-agent/agent/client/agent-client.go
  internal/tray-agent/agent/client/agent-client_test.go
  internal/tray-agent/agent/client/clusterConfigController.go
  internal/tray-agent/agent/client/crdClients.go
  internal/tray-agent/agent/client/dashboard-client.go
  internal/tray-agent/agent/client/doc.go
  internal/tray-agent/agent/client/notifyChannels.go
  internal/tray-agent/agent/logic/actions.go
  internal/tray-agent/agent/logic/logic_test.go
  internal/tray-agent/agent/logic/managers.go
  internal/tray-agent/app-indicator/indicator.go
  internal/tray-agent/app-indicator/listener.go
  internal/tray-agent/app-indicator/notify.go
  pkg/virtualKubelet/provider/provider.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/controller_test.go
Labels: advertisement_management, api, discovery, hold, size/XL, ui

#375 Fix build pipeline for forked repositories
  .github/workflows/integration.yml
Labels: size/XS

#369 auth service
  .github/workflows/integration.yml
  build/auth-service/Dockerfile
  cmd/auth-service/main.go
  go.mod
  go.sum
  internal/auth-service/auth-service.go
  internal/auth-service/auth-token.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/httpHandler.go
  internal/auth-service/kubeconfig.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  pkg/auth/roleRequest.go
Labels: size/XL

#376 Generate Liqo Agent dependencies from Liqo Makefile
  Makefile
Labels: size/XS

#372 change section's title
  docs/pages/User/GettingStarted/test.md
Labels: documentation, size/XS

#382 golang-ci lint update
  .github/workflows/lint.yml
Labels: size/XS

#381 fix provider failed
  internal/virtualKubelet/node/pod.go
  pkg/virtualKubelet/storage/cacheManager.go
  pkg/virtualKubelet/utils/storage.go
Labels: size/M

#384 ci labeler update
  .github/labeler.yml
  test/unit/reflector/reflector.go
Labels: size/S

#386 Fix push images when building master branch and releases
  .github/workflows/integration.yml
Labels: size/XS

#351 Acquire Liqodash configuration from Clusterconfig CR
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/subcharts/liqoDash/templates/liqodash_deployment.yaml
  deployments/liqo/subcharts/liqoDash/values.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/values.yaml
  go.mod
  go.sum
  internal/tray-agent/agent/client/agent-client.go
  internal/tray-agent/agent/client/agent-config.go
  internal/tray-agent/agent/client/dashboard-client.go
  internal/tray-agent/agent/client/dashboard-client_test.go
  internal/tray-agent/app-indicator/indicator.go
  internal/tray-agent/app-indicator/listener.go
Labels: size/L, ui

#387 Update new version of the Liqo Logo
  docs/images/logo-liqo-blue.svg
  docs/images/logo-liqo-white.svg
Labels: documentation, size/XXL

#377 discover auth service
  apis/config/v1alpha1/clusterconfig_types.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  go.mod
  go.sum
  internal/discovery/authData.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/discoveryCache.go
  internal/discovery/discoveryData.go
  internal/discovery/foreign.go
  internal/discovery/gratuitous-answers.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/search-domain-operator/wan.go
  internal/discovery/txtData.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/mdns_test.go
Labels: discovery, size/L

#389 Bugfix: crdReplicator now handles correctly namespaced resources
  internal/crdReplicator/crdReplicator-config.go
  internal/crdReplicator/crdReplicator-operator.go
Labels: bug, size/XS

#391 Add ok-to-test label to build forked PRs
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  install.sh
  test/installer/install-test.sh
Labels: ok-to-test, size/M

#392 Fix typhos in integration pipeline
  .github/workflows/integration.yml
Labels: size/XS

#390 demo: support other architecture that linux-amd64
  README.md
  docs/examples/kind.sh
  install.sh
  test/installer/install-test.sh
Labels: community, documentation, ok-to-test, size/L

#393 Readme: add link to convert meeting hour to local time zone
  README.md
Labels: community, ok-to-test, size/XS

#395 Fix Integration Pipeline: Docker action context is wrongly set
  .github/workflows/integration.yml
Labels: size/XS
