Repository liqotech/liqo, pull requests merged in 2020-10, with the labels that each got.

#302 Draft PRs test execution
  .github/workflows/go.yml
Labels: size/XS

#304 Versioned pipeline fix
  .github/workflows/go.yml
Labels: size/XS

#309 NamespaceNattingTable deepcopy fixup
  api/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/virtualKubelet/namespacesMapping/namespaceMapper.go
Labels: api, size/M, virtual-node

#308 Dashboard version install
  deployments/liqo_chart/crds/dashboard.liqo.io_views.yaml
  deployments/liqo_chart/subcharts/liqodash_chart/templates/liqodash_deployment.yaml
  deployments/liqo_chart/values.yaml
  install.sh
  test/installer/install-test.sh
Labels: size/L

#318 Advertisement ObjectMeta fix
  internal/advertisement-operator/broadcaster.go
Labels: advertisement_management, size/XS

#315 Set Network status in ForeignCluster
  api/discovery/v1alpha1/foreigncluster_types.go
  api/discovery/v1alpha1/zz_generated.deepcopy.go
  api/net/v1alpha1/networkconfig_types.go
  cmd/discovery/main.go
  deployments/liqo_chart/crds/discovery.liqo.io_foreignclusters.yaml
  go.sum
  install.sh
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  pkg/owner/owner.go
  test/unit/discovery/env_test.go
Labels: api, discovery, networking, size/L

#317 Reflection cleanup implementation
  internal/kubernetes/virtualNodeupdater.go
  internal/node/node.go
  pkg/virtualKubelet/apiReflection/const.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/incomingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/outgoingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/reflectorsController.go
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
Labels: advertisement_management, size/L, virtual-node

#297 Deploy App - E2E test
  go.mod
  go.sum
  test/e2e/deploy_app_test.go
  test/e2e/e2e_test.go
  test/e2e/join_test.go
  test/e2e/net_test.go
Labels: documentation, size/L

#321 Virtual kubelet for-select pattern fix
  internal/kubernetes/virtualNodeupdater.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/incomingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/outgoingReflectorsController.go
Labels: size/S, virtual-node

#311 Make kind.sh script self-contained
  docs/examples/kind.sh
  docs/examples/liqo-cluster-config.yaml
Labels: documentation, size/M, virtual-node

#320 Virtual kubelet profiling
  Makefile
  cmd/virtual-kubelet/internal/commands/root/flag.go
  cmd/virtual-kubelet/internal/commands/root/opts.go
  cmd/virtual-kubelet/internal/commands/root/root.go
  cmd/virtual-kubelet/internal/commands/root/tracing.go
  cmd/virtual-kubelet/internal/provider/store.go
  cmd/virtual-kubelet/main.go
  cmd/virtual-kubelet/register.go
  internal/kubernetes/kubernetes.go
  pkg/advertisement-operator/creation.go
Labels: advertisement_management, discovery, networking, size/L, ui, virtual-node

#313 Discovery Type Priority
  apis/discovery/v1alpha1/foreigncluster_methods.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/wan.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/env_test.go
Labels: api, discovery, size/L

#326 Discovery Roles
  deployments/liqo/subcharts/discoveryOperator/templates/discovery-deploy.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
Labels: discovery, size/L

#328 PeeringRequest and Broadcaster Roles
  cmd/advertisement-broadcaster/main.go
  cmd/peering-request-operator/main.go
  deployments/liqo/subcharts/peeringRequestOperator/templates/broadcaster.yaml
  deployments/liqo/subcharts/peeringRequestOperator/templates/peering-request-deploy.yaml
  go.sum
  internal/advertisement-operator/broadcaster.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
  test/unit/discovery/env_test.go
Labels: advertisement_management, discovery, size/L

#331 Versioning pipeline fix
  .github/workflows/go.yml
Labels: size/M

#329 Network operators supporting peering sessions with more than two clusters
  internal/kubernetes/virtualNodeupdater.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  pkg/liqonet/tunnel.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/L, virtual-node

#336 Docker images CI suffix
  .github/workflows/go.yml
  install.sh
  test/installer/install-test.sh
Labels: size/S

#339 Integration pipeline update for Liqo Agent binary release
  .github/workflows/go.yml
  build/tray-agent/Dockerfile
Labels: size/M, ui

#342 Add Kind installation to infrastructure script
  docs/examples/kind.sh
Labels: documentation, size/S

#343 Cluster creation script
  docs/examples/kind.sh
Labels: documentation, size/XS

#345 naming changed in kind.sh
  docs/examples/kind.sh
Labels: documentation, size/XS

#344 Improve Liqo description and few more badges
  README.md
Labels: community, size/M

#348 README broken link fix
  README.md
Labels: community, size/XS

#346 Add changelog generation for Liqo Releases
  .github/workflows/go.yml
  docs/pages/contributing/guidelines.md
  lerna.json
Labels: documentation, size/M

#330 Improve pod translation in Liqo virtual kubelet
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/sharing/v1alpha1/advertisement_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/sharing.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/kubernetes/virtualNodeupdater.go
  pkg/labelPolicy/allTrue.go
  pkg/labelPolicy/allTrueNoLabelIfFalse.go
  pkg/labelPolicy/anyTrue.go
  pkg/labelPolicy/anyTrueNoLabelIfFalse.go
  pkg/labelPolicy/labelPolicy.go
  pkg/labelPolicy/labelPolicy_test.go
  pkg/virtualKubelet/translation/mutation.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, enhancement, size/XL, virtual-node

#347 Fix some typhos in the README.md
  README.md
Labels: community, size/S

#353 ApiReflector Race condition
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
Labels: size/XS
