Repository liqotech/liqo, pull requests merged in 2020-12, with the labels that each got.

#400 Small docs improvement.
  ROADMAP.md
  docs/pages/User/GettingStarted/_index.md
  docs/pages/User/GettingStarted/peer.md
  docs/pages/User/GettingStarted/play.md
  docs/pages/User/GettingStarted/test.md
Labels: documentation, size/M

#399 Add kubectl installation to sample infrastructure script
  docs/examples/kind.sh
Labels: documentation, size/M

#394 Add slash commands pipelines
  .github/workflows/greeting.yml
  .github/workflows/merge.yml
  .github/workflows/ok-to-test.yml
  .github/workflows/rebase.yml
  .github/workflows/slash-commands.yml
  lerna.json
Labels: size/L

#404 Removing a trailing comma in slash-commands pipeline
  .github/workflows/slash-commands.yml
Labels: size/XS

#403 kind.sh: use posix comparaison in order to be compatible with zsh
  docs/examples/kind.sh
Labels: documentation, ok-to-test, size/XS

#383 Replicaset integration in virtual kubelet provider
  cmd/virtual-kubelet/register.go
  internal/virtualKubelet/node/podcontroller.go
  pkg/virtualKubelet/apiReflection/const.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/test/mockController.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods_test.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets_test.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/const.go
  pkg/virtualKubelet/context/ctx.go
  pkg/virtualKubelet/context/knownContexts.go
  pkg/virtualKubelet/forge/apiForger.go
  pkg/virtualKubelet/forge/configmaps.go
  pkg/virtualKubelet/forge/endpointslices.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/replicaSets.go
  pkg/virtualKubelet/forge/services.go
  pkg/virtualKubelet/namespacesMapping/namespaceMapperController.go
  pkg/virtualKubelet/namespacesMapping/test/mockNamespaceMapperController.go
  pkg/virtualKubelet/options/types/networking.go
  pkg/virtualKubelet/provider/node.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/pods_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/provider_suite_test.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
  pkg/virtualKubelet/storage/cache.go
  pkg/virtualKubelet/storage/cacheManager.go
  pkg/virtualKubelet/storage/indexers.go
  pkg/virtualKubelet/storage/interfaces.go
  pkg/virtualKubelet/storage/test/mockCacheManager.go
  pkg/virtualKubelet/translation/mutation.go
  pkg/virtualKubelet/translation/serviceEnv/serviceEnv.go
  pkg/virtualKubelet/utils/storage.go
  test/e2e/net_test.go
  test/e2e/util/util.go
  test/unit/virtualKubelet/kubernetes_provider/kubernetes_test.go
  test/unit/virtualKubelet/reflection/endpointslices_test.go
Labels: size/XXL, virtual-node

#405 install.sh: [darwin] fix package installation when script is piped
  install.sh
Labels: ok-to-test, size/XS

#402 Foreign pod deletion transitory state
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/blacklists.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/blacklists.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
  pkg/virtualKubelet/context/ctx.go
  pkg/virtualKubelet/context/knownContexts.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/storage/cache.go
Labels: size/L, virtual-node

#410 Aligning the liqo demo namespace with the one used in the documentation
  README.md
Labels: community, documentation, merge-requested, size/S

#408 Virtual kubelet logs and exec fix
  internal/utils/errdefs/invalid.go
  internal/virtualKubelet/node/api/exec.go
  internal/virtualKubelet/node/api/logs.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/storage/cacheManager.go
  pkg/virtualKubelet/storage/interfaces.go
  pkg/virtualKubelet/storage/test/mockCacheManager.go
Labels: size/L, virtual-node

#398 Introduce dedicated authentication service
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/discovery/v1alpha1/foreigncluster_methods.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/peeringrequest_methods.go
  apis/discovery/v1alpha1/peeringrequest_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/auth-service/main.go
  cmd/discovery/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_peeringrequests.yaml
  deployments/liqo/crds/discovery.liqo.io_searchdomains.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/crds/scheduling.liqo.io_schedulingnodes.yaml
  deployments/liqo/crds/sharing.liqo.io_advertisements.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacenattingtables.yaml
  deployments/liqo/subcharts/authService/templates/auth-service-deploy.yaml
  deployments/liqo/subcharts/discoveryOperator/templates/unauth-role.yaml
  deployments/liqo/templates/clusterconfig.yaml
  internal/advertisement-operator/controller.go
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/httpHandler.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  internal/discovery/authData.go
  internal/discovery/caData.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/peering-request-operator/foreign-cluster.go
  pkg/auth/roleRequest.go
  pkg/discovery/const.go
  pkg/kubeconfig/kubeconfig.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/discovery/clusterID_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: advertisement_management, discovery, size/XXL

#411 Foreign replicaset deletion
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets_test.go
  pkg/virtualKubelet/forge/apiForger.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/kubeletInterface/node.go
  pkg/virtualKubelet/kubeletInterface/provider.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/pods_test.go
Labels: size/L, virtual-node

#409 Add ClusterIdentity endpoint to authentication service
  apis/discovery/v1alpha1/foreigncluster_methods.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/subcharts/authService/templates/auth-service-deploy.yaml
  go.mod
  go.sum
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/idsHttpHandler.go
  internal/discovery/authData.go
  internal/discovery/discovery.go
  internal/discovery/discoveryCache.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/gratuitous-answers.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/txtData.go
  internal/discovery/utils/utils.go
  internal/peering-request-operator/foreign-cluster.go
  pkg/auth/const.go
  pkg/auth/ids.go
  pkg/discovery/const.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/mdns_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: discovery, size/XL

#414 Home pods finalizer
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets_test.go
  pkg/virtualKubelet/const.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/pods_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
Labels: size/M, virtual-node

#418 Multiple tolerations in mutatingWebhook
  pkg/mutate/mutate.go
Labels: merge-requested, size/S

#417 Nil pod correctly handled by the virtual kubelet provider
  go.mod
  pkg/virtualKubelet/provider/pods.go
Labels: merge-requested, size/XS, virtual-node

#374 Southbound driver for vpn backends
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/discovery/v1alpha1/groupversion_info.go
  apis/net/v1alpha1/groupversion_info.go
  apis/net/v1alpha1/networkconfig_types.go
  apis/net/v1alpha1/tunnelEndpointClient.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  build/liqonet/Dockerfile
  cmd/liqonet/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/subcharts/networkModule/templates/route-operator.yaml
  deployments/liqo/subcharts/networkModule/templates/tunnelEndpoint-operator.yaml
  deployments/liqo/subcharts/tunnelEndpointCreator/templates/tunnelEndpointCreator.yaml
  go.mod
  go.sum
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/liqonet/route-operator-config.go
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator/podWatcher.go
  internal/liqonet/route-operator/route-operator.go
  internal/liqonet/route-operator/serviceWatcher.go
  internal/liqonet/route-operator_test.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnel-operator/podWatcher.go
  internal/liqonet/tunnel-operator/serviceWatcher.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator/foreignclusterWatcher.go
  internal/liqonet/tunnelEndpointCreator/gatewayPodWatcher.go
  internal/liqonet/tunnelEndpointCreator/secretWatcher.go
  internal/liqonet/tunnelEndpointCreator/serviceWatcher.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqonet/gretun.go
  pkg/liqonet/iptables.go
  pkg/liqonet/overlay/overlay.go
  pkg/liqonet/overlay_network.go
  pkg/liqonet/route.go
  pkg/liqonet/tunnel.go
  pkg/liqonet/tunnel/driver.go
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/liqonet/utils.go
  pkg/liqonet/vxlan.go
  pkg/liqonet/wireguard/utils.go
  pkg/liqonet/wireguard/wireguard.go
  pkg/virtualKubelet/provider/test/const.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
  test/unit/discovery/env_test.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: documentation, merge-requested, networking, size/XXL, virtual-node

#428 Added Advertisement print columns
  CONTRIBUTING.md
  apis/sharing/v1alpha1/advertisement_types.go
  deployments/liqo/crds/sharing.liqo.io_advertisements.yaml
Labels: merge-requested, size/S

#430 BugFix: correctly handling k8s service used to expose vpn endpoint
  internal/liqonet/tunnelEndpointCreator/serviceWatcher.go
Labels: networking, size/S

#415 Test on Managed Kubernetes
  cmd/auth-service/main.go
  deployments/liqo/subcharts/authService/templates/auth-service-deploy.yaml
  deployments/liqo/subcharts/authService/values.yaml
  deployments/liqo/subcharts/discoveryOperator/templates/discovery-deploy.yaml
  deployments/liqo/subcharts/discoveryOperator/values.yaml
  deployments/liqo/subcharts/peeringRequestOperator/templates/peering-request-deploy.yaml
  deployments/liqo/values.yaml
  install.sh
  internal/auth-service/auth-service.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/peering-request-operator/broadcaster.go
  test/unit/discovery/discovery_test.go
Labels: discovery, merge-requested, size/L

#431 Add label to exclude virtual-node from load-balancers
  pkg/virtualKubelet/provider/node.go
Labels: size/XS, virtual-node

#413 Move the DNS/WAN discovery to use the new AuthService
  apis/discovery/v1alpha1/searchdomain_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/discovery.liqo.io_searchdomains.yaml
  internal/discovery/authData.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/wan.go
  internal/discovery/txtData.go
  pkg/discovery/const.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/mdns_test.go
Labels: discovery, merge-requested, size/L

#433 Virtual node initialized to NotReady
  pkg/virtualKubelet/provider/node.go
Labels: merge-requested, size/XS, virtual-node

#412 protection for concurrent operations on Indicator components
  internal/tray-agent/app-indicator/gui-provider.go
  internal/tray-agent/app-indicator/indicator.go
  internal/tray-agent/app-indicator/indicator_test.go
  internal/tray-agent/app-indicator/listener.go
  internal/tray-agent/app-indicator/menu-node.go
  internal/tray-agent/app-indicator/notify.go
  internal/tray-agent/app-indicator/notify_test.go
Labels: size/L, ui

#426 Virtual kubelet metrics API
  cmd/virtual-kubelet/internal/commands/root/http.go
  cmd/virtual-kubelet/internal/commands/root/root.go
  cmd/virtual-kubelet/internal/provider/provider.go
  go.mod
  go.sum
  internal/virtualKubelet/node/api/server.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/provider.go
Labels: kind/feature, size/L, virtual-node

#432 Old vk tests deletion
  pkg/virtualKubelet/provider/test/configmap.go
  pkg/virtualKubelet/provider/test/configmapTestCases.go
  pkg/virtualKubelet/provider/test/const.go
  pkg/virtualKubelet/provider/test/endpointsTestCases.go
  pkg/virtualKubelet/provider/test/namespaceNattingTable.go
  pkg/virtualKubelet/provider/test/node.go
  pkg/virtualKubelet/provider/test/nodeTestCases.go
  pkg/virtualKubelet/provider/test/secret.go
  pkg/virtualKubelet/provider/test/secretTestCases.go
  pkg/virtualKubelet/provider/test/service.go
  pkg/virtualKubelet/provider/test/serviceTestCases.go
Labels: size/XL, virtual-node

#435 Setting default value for the service type used to expose liqo-gateway to "NodePort"
  deployments/liqo/subcharts/networkModule/templates/tunnelEndpoint-operator.yaml
  deployments/liqo/subcharts/networkModule/values.yaml
  deployments/liqo/values.yaml
Labels: networking, size/XS
