Repository liqotech/liqo, pull requests merged in 2020-09, with the labels that each got.

#213 Update dashboard subchart and installer
  deployments/liqo_chart/README.md
  deployments/liqo_chart/subcharts/liqodash_chart/templates/liqodash_deployment.yaml
  deployments/liqo_chart/values.yaml
  install.sh
Labels: size/M

#208 Change Advertisement CRD version and family
  .github/labeler.yml
  api/discovery/v1/foreigncluster_methods.go
  api/sharing/v1alpha1/advertisementClient.go
  api/sharing/v1alpha1/advertisement_types.go
  api/sharing/v1alpha1/groupversion_info.go
  api/sharing/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-broadcaster/main.go
  cmd/advertisement-operator/main.go
  cmd/discovery/main.go
  cmd/liqonet/main.go
  cmd/schedulingNode-operator/main.go
  config/advertisement-operator/crd/bases/protocol.liqo.io_advertisements.yaml
  config/advertisement-operator/crd/kustomization.yaml
  config/advertisement-operator/crd/kustomizeconfig.yaml
  config/advertisement-operator/crd/patches/cainjection_in_advertisements.yaml
  config/advertisement-operator/crd/patches/webhook_in_advertisements.yaml
  deployments/liqo_chart/crds/sharing.liqo.io_advertisements.yaml
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  docs/pages/Architecture/Cluster Sharing/Networking/_index.md
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/nodeUpdater_test.go
  internal/kubernetes/virtualNodeupdater.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  internal/schedulingNode-operator/schedulingNodeFromNode.go
  internal/tray-agent/agent/client/advertisement-cache.go
  internal/tray-agent/agent/client/advertisement-op.go
  internal/tray-agent/agent/client/agent-client.go
  internal/tray-agent/agent/logic/actions.go
  pkg/advertisement-operator/client.go
  pkg/advertisement-operator/creation.go
  pkg/advertisement-operator/owner-ref.go
  scripts/advertisement-operator/Makefile
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/advertisement-operator/controller_test.go
  test/unit/advertisement-operator/creation_test.go
  test/unit/advertisement-operator/owner-ref_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: advertisement_management, api, discovery, documentation, networking, size/XL, virtual-node

#210 Change discovery v1 to v1alpha1
  api/discovery/v1alpha1/foreigncluster_methods.go
  api/discovery/v1alpha1/foreigncluster_types.go
  api/discovery/v1alpha1/groupversion_info.go
  api/discovery/v1alpha1/peeringRequestClient.go
  api/discovery/v1alpha1/peeringrequest_methods.go
  api/discovery/v1alpha1/peeringrequest_types.go
  api/discovery/v1alpha1/searchdomain_types.go
  api/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  cmd/crdReplicator/main.go
  cmd/discovery/main.go
  deployments/liqo_chart/crds/foreign-cluster-crd.yaml
  deployments/liqo_chart/crds/peering-request-crd.yaml
  deployments/liqo_chart/crds/search-domain-crd.yaml
  docs/pages/User/Configure/discovery.md
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/setup.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/foreign-cluster.go
  internal/peering-request-operator/peering-request-admission/setup.go
  internal/peering-request-operator/peering-request-admission/webhook.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
  pkg/clusterID/clusterID.go
  scripts/discovery/foreign-cluster.yaml
  scripts/discovery/search-domain.yaml
  scripts/kind/templates/foreign-template.yaml
  scripts/peering-request-webhook-init/peering-request-webhook-init.sh
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: advertisement_management, api, discovery, documentation, size/L

#215 Dashboard documentation
  docs/images/dashboard/dashboard-ui.png
  docs/pages/User/GettingStarted/_index.md
  docs/pages/User/GettingStarted/install.md
  docs/pages/User/_index.md
  docs/pages/User/dashboard.md
Labels: documentation

#219 Fix init-vk permissions
  internal/advertisement-operator/controller.go
  scripts/virtual-kubelet/script.sh
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/crdReplicator/env_test.go
Labels: advertisement_management

#207 Update AdvertisementConfig
  api/config/v1alpha1/clusterconfig_types.go
  deployments/liqo_chart/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  docs/pages/User/Configure/cluster-config.md
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  scripts/cluster-config/Makefile
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/advertisement-operator/controller_test.go
  test/unit/crdReplicator/env_test.go
  test/unit/discovery/env_test.go
  test/unit/liqonet/env_test.go
Labels: advertisement_management, api, documentation, size/M

#216 Added documentation for Discovery protocol (and workflow)
  docs/images_src/discovery/discovery-workflow.drawio
Labels: documentation, size/XS

#220 Updated Adv crd description
  api/discovery/v1alpha1/foreigncluster_types.go
  api/discovery/v1alpha1/peeringrequest_types.go
  api/sharing/v1alpha1/advertisement_types.go
  cmd/advertisement-operator/main.go
  deployments/liqo_chart/crds/sharing.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/kubernetes/nodeUpdater_test.go
  internal/kubernetes/virtualNodeupdater.go
  internal/tray-agent/agent/client/advertisement-cache.go
  pkg/advertisement-operator/client.go
  pkg/advertisement-operator/creation.go
  pkg/advertisement-operator/owner-ref.go
  scripts/advertisement-operator/Makefile
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/advertisement-operator/controller_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
Labels: advertisement_management, api, size/L, ui, virtual-node

#224 Fix build in integration pipelines
  .github/workflows/go.yml
Labels: size/XS

#185 Uninstall script
  docs/pages/User/GettingStarted/_index.md
  docs/pages/User/GettingStarted/uninstall.md
  install.sh
Labels: documentation, size/L

#221 Changing family and version of network API
  api/liqonet/v1/zz_generated.deepcopy.go
  api/liqonet/v1alpha1/groupversion_info.go
  api/net/v1alpha1/groupversion_info.go
  api/net/v1alpha1/networkconfig_types.go
  api/net/v1alpha1/tunnel_endpoint_types.go
  api/net/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  cmd/liqonet/main.go
  deployments/liqo_chart/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo_chart/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo_chart/subcharts/crdReplicator_chart/templates/crdReplicator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/route-operator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/tunnelEndpoint-operator.yaml
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_tunnelEndpoint.md
  docs/pages/User/Configure/network.md
  docs/pages/User/GettingStarted/peer.md
  install.sh
  internal/advertisement-operator/broadcaster.go
  internal/crdReplicator/crdReplicator-config_test.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/env_test.go
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  pkg/liqonet/route.go
  pkg/liqonet/route_mock.go
  pkg/liqonet/tunnel.go
  pkg/liqonet/utils.go
  scripts/kind/kind.sh
  scripts/liqonet/Makefile
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/route-operator_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: advertisement_management, api, documentation, networking

#223 CRDReplicator Enhancement
  cmd/crdReplicator/main.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
Labels: size/L

#226 fix crdReplicator permission - remove apiVersion
  internal/discovery/discovery-config.go
Labels: discovery, size/XS

#211 Scheduling node operator fix
  .github/workflows/go.yml
  build/scheduling-node-operator/Dockerfile
  build/schedulingnode-operator/Dockerfile
  cmd/schedulingNodeOperator/main.go
  deployments/liqo_chart/subcharts/schedulingNodeOperator_chart/templates/sn-deploy.yaml
  deployments/liqo_chart/subcharts/schedulingNodeOperator_chart/values.yaml
  deployments/liqo_chart/values.yaml
  internal/schedulingNodeOperator/schedulingNodeController.go
  internal/schedulingNodeOperator/schedulingNodeFromNode.go
Labels: size/M, virtual-node

#227 Fix broadcaster & update adv operator
  api/sharing/v1alpha1/advertisement_types.go
  api/sharing/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo_chart/crds/sharing.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  pkg/advertisement-operator/creation.go
  pkg/object-references/types.go
  test/unit/advertisement-operator/creation_test.go
Labels: advertisement_management, api, size/M

#232 AdmissionWebhook CSR auto-approve
  cmd/advertisement-operator/main.go
  install.sh
  pkg/csrApprover/csr.go
  pkg/csrApprover/csr_test.go
  scripts/secret-creation/secret-creation.sh
  scripts/virtual-kubelet/script.sh
Labels: advertisement_management, size/M

#231 Broadcaster refactoring
  cmd/advertisement-broadcaster/main.go
  cmd/peering-request-operator/main.go
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  deployments/liqo_chart/templates/configmap.yaml
  deployments/liqo_chart/values.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
  test/unit/discovery/env_test.go
Labels: advertisement_management, discovery, size/L

#233 Fixing broken links in documentation
  docs/pages/Architecture/Cluster Sharing/Networking/_index.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_routeOperator.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_tunEndCreator.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_tunnelEndpoint.md
Labels: documentation, size/M

#229 Add shell lint checks
  .github/workflows/lint.yml
  docs/examples/kind.sh
  docs/examples/liqo-cluster-config.yaml
  docs/pages/User/GettingStarted/_index.md
  docs/pages/User/_index.md
  docs/pages/User/liqo-brief.md
  docs/pages/contributing/guidelines.md
  install.sh
  internal/tray-agent/icon/make_icon.sh
  scripts/kind/kind.sh
  scripts/kind/liqo-cluster-config.yaml
  scripts/kind/templates/foreign-template.yaml
  scripts/peering-request-webhook-init/peering-request-webhook-init.sh
  scripts/pod-mutator-webhook/pod-mutator-webhook-deployment.sh
  scripts/secret-creation/secret-creation.sh
  scripts/utils/bump-go-mod-k8s-libraries.sh
  scripts/virtual-kubelet/script.sh
  test/installer/installer.sh
  test/installer/unit.sh
Labels: documentation, size/L, ui

#238 Endpoint IP translation
  internal/kubernetes/endpoints.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/mutation.go
  internal/kubernetes/pod.go
  internal/kubernetes/test/endpoints.go
  internal/kubernetes/virtualNodeupdater.go
Labels: size/M, virtual-node

#244 Fix bug in vk podCIDR setting
  internal/kubernetes/virtualNodeupdater.go
Labels: size/XS, virtual-node

#235 Dashboard ingress and custom view
  deployments/liqo_chart/Chart.lock
  deployments/liqo_chart/crds/dashboard.liqo.io_views.yaml
  deployments/liqo_chart/subcharts/liqodash_chart/templates/liqodash_deployment.yaml
  deployments/liqo_chart/subcharts/liqodash_chart/values.yaml
  deployments/liqo_chart/values.yaml
  install.sh
Labels: documentation, size/L

#240 Test endpoints reflection
  internal/kubernetes/configmapReflection_e2e_test.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/secretReflection_e2e_test.go
  internal/kubernetes/serviceReflection_e2e_test.go
  internal/kubernetes/test/const.go
  internal/kubernetes/test/endpointsTestCases.go
  internal/kubernetes/test/namespaceNattingTable.go
Labels: size/L, virtual-node

#251 Fix TunnelEndpointCreator broken watchers on CRD
  cmd/liqonet/main.go
  internal/liqonet/route-operator-config.go
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/L

#262 Establishing the network connection based on the join/unjoin flow
  cmd/liqonet/main.go
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  internal/liqonet/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/L

#253 crdReplicator: replace watchers with informers
  cmd/crdReplicator/main.go
  internal/crdReplicator/crdReplicator-config.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/env_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
Labels: size/XL

#266 Fixing route-operator not processing tunnelendpoints.net.liqo.io resources on restart
  internal/liqonet/route-operator.go
Labels: networking, size/M

#243 CI tagging pipeline
  .github/workflows/go.yml
Labels: size/S

#255 Fix DNS Discovery
  api/config/v1alpha1/clusterconfig_types.go
  deployments/liqo_chart/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/wan.go
  test/unit/crdReplicator/env_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/liqonet/env_test.go
Labels: api, discovery, size/L

#268 Bug fixing and enhancement network operators
  cmd/liqonet/main.go
  deployments/liqo_chart/subcharts/networkModule_chart/templates/route-operator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/tunnelEndpoint-operator.yaml
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  pkg/liqonet/gretun.go
  pkg/liqonet/tunnel.go
  test/unit/liqonet/route-operator_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/L

#247 peering process improvements
  api/discovery/v1alpha1/foreigncluster_methods.go
  api/discovery/v1alpha1/peeringrequest_types.go
  deployments/liqo_chart/crds/peering-request-crd.yaml
  install.sh
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/peering-request-controller.go
  test/unit/discovery/discovery_test.go
Labels: api, discovery, networking, size/L

#261 Update CSR watcher
  cmd/advertisement-operator/main.go
  pkg/csrApprover/csr.go
Labels: advertisement_management, size/M

#270 fix ForeignCluster finalizer
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
Labels: bug, discovery, size/XS

#273 Tunnel-Operator switching to klog
  cmd/liqonet/main.go
  internal/liqonet/tunnel-operator.go
Labels: networking, size/M

#279 Move ClusterConfig watch to shared informer
  api/config/v1alpha1/clusterConfigClient.go
  pkg/clusterConfig/watchConfig.go
  pkg/crdClient/informer.go
  test/unit/advertisement-operator/config-watcher_test.go
Labels: api, size/L

#281 Improve Advertisement Generation and Broadcasting
  api/config/v1alpha1/clusterconfig_types.go
  deployments/liqo_chart/crds/config.liqo.io_clusterconfigs.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/remote-watcher.go
  internal/kubernetes/test/const.go
  internal/kubernetes/virtualNodeupdater.go
  pkg/const.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
Labels: advertisement_management, api, size/L, virtual-node

#278 Broadcaster periodic creation of secret
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, size/L

#280 RouteOperator idempotency
  cmd/liqonet/main.go
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  pkg/liqonet/iptables.go
  pkg/liqonet/iptables_mock.go
  pkg/liqonet/iptables_test.go
  pkg/liqonet/route.go
  pkg/liqonet/route_mock.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/route-operator_test.go
Labels: networking, size/XXL

#288 fixing Helm Chart
  deployments/liqo_chart/templates/clusterconfig.yaml
  deployments/liqo_chart/values.yaml
Labels: size/XS

#287 Test LIQO on Kubernetes v1.19
  .github/workflows/go.yml
  docs/examples/liqo-cluster-config.yaml
Labels: documentation, size/XS

#286 Advertisement Finalizer
  api/config/v1alpha1/clusterconfig_types.go
  api/discovery/v1alpha1/foreigncluster_methods.go
  api/sharing/v1alpha1/advertisement_types.go
  deployments/liqo_chart/crds/sharing.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/kubernetes/nodeUpdater_test.go
  internal/kubernetes/virtualNodeupdater.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/discovery/discovery_test.go
Labels: advertisement_management, api, size/XL, virtual-node

#285 Migrate advertisement remote-watcher to informer
  api/sharing/v1alpha1/advertisementClient.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/remote-watcher.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
Labels: advertisement_management, api, size/L, virtual-node

#289 Uninstall E2E
  test/e2e/join_e2e/join_test.go
  test/e2e/unjoin_e2e/unjoin_test.go
  test/e2e/util/util.go
Labels: size/M

#296 Update virtual node version
  build/virtual-kubelet/Dockerfile
  cmd/virtual-kubelet/main.go
Labels: size/M, virtual-node

#283 Add EndpointSlice support
  internal/kubernetes/pod.go
  pkg/virtualKubelet/apiReflection/const.go
  pkg/virtualKubelet/apiReflection/controller/incomingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/outgoingReflectorsController.go
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/blacklists.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
  pkg/virtualKubelet/namespacesMapping/namespaceMapper.go
  pkg/virtualKubelet/translation/mutation.go
  test/unit/reflection/endpointslices_test.go
  test/unit/reflection/secrets_test.go
  test/unit/reflection/util.go
Labels: size/XL, virtual-node

#301 Blacklist inverted bool fix
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
Labels: size/S
