Repository liqotech/liqo, pull requests merged in 2020-07, with the labels that each got.

#71 Virtual Kubelet Reflection testing platform
  api/advertisement-operator/v1/advertisementClient.go
  api/advertisement-operator/v1/groupversion_info.go
  api/cluster-config/v1/clusterConfigClient.go
  api/discovery/v1/foreigncluster_types.go
  api/discovery/v1/peeringrequest_types.go
  api/namespaceNattingTable/v1/groupversion_info.go
  api/namespaceNattingTable/v1/namespaceNattingTableClient.go
  internal/kubernetes/configMap.go
  internal/kubernetes/endpoints_test.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/namespace.go
  internal/kubernetes/reflectionController.go
  internal/kubernetes/secret.go
  internal/kubernetes/service.go
  internal/kubernetes/test/endpoints.go
  internal/kubernetes/test/endpointsTestCases.go
  pkg/crdClient/fakeInformer.go
  pkg/crdClient/fakeInformerMethods.go
  pkg/crdClient/informer.go
  pkg/crdClient/v1alpha1/client.go
  pkg/crdClient/v1alpha1/registry.go
Labels: api, size/XL, virtual-node

#77 Vk ep reflection filtering
  internal/kubernetes/endpoints.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  pkg/crdClient/fakeInformerMethods.go
Labels: size/L, virtual-node

#78 e2e service reflection test
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/namespace.go
  internal/kubernetes/service.go
  internal/kubernetes/serviceReflection_e2e_test.go
  internal/kubernetes/test/const.go
  internal/kubernetes/test/endpointsTestCases.go
  internal/kubernetes/test/namespaceNattingTable.go
  internal/kubernetes/test/service.go
  internal/kubernetes/test/serviceTestCases.go
Labels: size/L, virtual-node

#73 Cluster Config Improvements and Discovery Config
  api/cluster-config/v1/clusterConfigClient.go
  api/cluster-config/v1/clusterconfig_types.go
  cmd/advertisement-operator/main.go
  config/cluster-config/crd/bases/policy.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/crds/policy.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  pkg/clusterConfig/watchConfig.go
  pkg/discovery/v1/peeringRequestMethods.go
  test/unit/advertisement-operator/controller_test.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: advertisement_management, api, discovery, size/XL

#76 Advertisement management test
  pkg/advertisement-operator/creation.go
  test/unit/advertisement-operator/creation_test.go
  test/unit/advertisement-operator/owner-ref_test.go
Labels: size/L

#80 Add E2E Pipeline Trigger
  .github/workflows/go.yml
  .github/workflows/test_e2e.yml
Labels: size/M

#90 Broadcaster Hotfix
  internal/advertisement-operator/broadcaster.go
Labels: advertisement_management, size/XS

#88 Add check for Liqo
  .github/workflows/go.yml
Labels: size/S

#89 Remote-Watcher & Broadcaster refactoring
  api/advertisement-operator/v1/advertisementClient.go
  cmd/advertisement-broadcaster/main.go
  cmd/advertisement-operator/main.go
  config/advertisement-operator/crd/bases/protocol.liqo.io_advertisements.yaml
  deployments/liqo_chart/crds/protocol.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/remote-watcher.go
  internal/kubernetes/kubernetes.go
  pkg/crdClient/v1alpha1/api.go
  pkg/crdClient/v1alpha1/client.go
Labels: advertisement_management, api, size/L, virtual-node

#98 logging verbosity improved in endpoint reflection
  internal/kubernetes/endpoints.go
Labels: size/S, virtual-node

#94 Add version templating for Helm chart
  .github/workflows/go.yml
  deployments/liqo_chart/subcharts/adv_chart/templates/adv-deploy.yaml
  deployments/liqo_chart/subcharts/adv_chart/values.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-cm.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-deploy.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/unauth-role.yaml
  deployments/liqo_chart/subcharts/discovery_chart/values.yaml
  deployments/liqo_chart/subcharts/mutatingWebhook_chart/templates/mutating-webhook.yaml
  deployments/liqo_chart/subcharts/mutatingWebhook_chart/values.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/route-operator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/tunnelEndpoint-operator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/values.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-deploy.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/values.yaml
  deployments/liqo_chart/subcharts/schedulingNodeOperator_chart/templates/sn-deploy.yaml
  deployments/liqo_chart/subcharts/schedulingNodeOperator_chart/values.yaml
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/values.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  deployments/liqo_chart/templates/configmap.yaml
  deployments/liqo_chart/values.yaml
Labels: size/L

#101 Fix Helm Chart wrong templating and removal of legacy pod-mutator manifest
  deployments/liqo_chart/subcharts/networkModule_chart/templates/route-operator.yaml
  deployments/pod-mutator/deploy.yaml
Labels: size/L

#95 Node update from advertisement test
  api/advertisement-operator/v1/advertisementClient.go
  api/cluster-config/v1/clusterconfig_types.go
  api/discovery/v1/foreigncluster_types.go
  api/discovery/v1/peeringrequest_types.go
  api/namespaceNattingTable/v1/namespaceNattingTableClient.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/kubernetes/configmapReflection_e2e_test.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/namespace.go
  internal/kubernetes/nodeUpdater_test.go
  internal/kubernetes/secretReflection_e2e_test.go
  internal/kubernetes/serviceReflection_e2e_test.go
  internal/kubernetes/test/const.go
  internal/kubernetes/test/node.go
  internal/kubernetes/test/nodeTestCases.go
  internal/peering-request-operator/config.go
  internal/peering-request-operator/peering-request-admission/setup.go
  internal/peering-request-operator/peering-request-admission/webhook.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
  pkg/clusterConfig/watchConfig.go
  pkg/clusterID/clusterID.go
  pkg/crdClient/ClientInterface.go
  pkg/crdClient/api.go
  pkg/crdClient/client.go
  pkg/crdClient/fakeApi.go
  pkg/crdClient/fakeInformer.go
  pkg/crdClient/fakeInformerMethods.go
  pkg/crdClient/informer.go
  pkg/crdClient/registry.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: advertisement_management, api, discovery, size/XL, virtual-node

#102 Moving configuration of network module to the 'clusterconfig' CRD
  api/cluster-config/v1/clusterconfig_types.go
Labels: api, networking, size/XS

#103 Possible schema for the documentation of individual components
  docs/templates/component-schema.md
Labels: size/S

#100 Anti-throttling mechanism
  cmd/virtual-kubelet/internal/commands/root/root.go
  internal/kubernetes/configmapReflection_e2e_test.go
  internal/kubernetes/endpoints.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/pod.go
  internal/kubernetes/reflectionController.go
  internal/kubernetes/secretReflection_e2e_test.go
  internal/kubernetes/serviceReflection_e2e_test.go
  internal/kubernetes/virtualNodeupdater.go
Labels: size/XL, virtual-node

#107 Enable default LAN discovery
  deployments/liqo_chart/templates/clusterconfig.yaml
Labels: size/XS

#109 Control loop safety function removed
  internal/kubernetes/reflectionController.go
  internal/tray-agent/agent/client/advertisement-op.go
Labels: size/S, ui, virtual-node

#106 Update Installer and add E2E tests
  .github/workflows/go.yml
  install.sh
  test/e2e/join_e2e/join_test.go
Labels: size/L

#118 Fix Apt update in golint pipelines
  .github/workflows/golint.yml
Labels: size/XS

#111 Discovery Docs
  docs/design/discovery-component.md
  docs/design/peering-request-operator.md
Labels: size/L

#119 Add checks on negative advertised resources
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, size/S

#110 Resource sharing docs
  docs/design/resource_sharing.md
  docs/images/resource_sharing/pod_lifecycle.png
  docs/images/resource_sharing/reflection.png
Labels: documentation, size/M

#108 Unjoin
  api/discovery/v1/foreigncluster_methods.go
  api/discovery/v1/foreigncluster_types.go
  cmd/advertisement-operator/main.go
  cmd/discovery/main.go
  cmd/peering-request-operator/main.go
  deployments/liqo_chart/crds/foreign-cluster-crd.yaml
  go.mod
  go.sum
  internal/advertisement-operator/controller.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign.go
  internal/discovery/search-domain-operator/setup.go
  internal/peering-request-operator/peering-request-admission/setup.go
  internal/peering-request-operator/setup.go
  pkg/clusterID/clusterID.go
  scripts/discovery/foreign-cluster.yaml
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: advertisement_management, api, discovery, size/XL

#112 Adv protocol documentation
  .github/labeler.yml
  docs/design/advertisement_management.md
  docs/design/advertisement_protocol.md
  docs/design/architecture.md
  docs/design/broadcaster.md
  docs/design/controller.md
  docs/images/advertisement-protocol/architecture.png
  docs/images/advertisement-protocol/broadcaster-workflow.png
  docs/images/advertisement-protocol/controller-workflow.png
  docs/images/cluster-peering/Architecture.png
  docs/images/complete-workflow.png
Labels: documentation

#122 Update config watcher
  docs/design/advertisement_protocol.md
  docs/design/broadcaster.md
  docs/design/controller.md
  internal/advertisement-operator/config-watcher.go
Labels: advertisement_management, documentation, size/M

#116 Liqo Agent doc
  docs/design/Liqo-Agent.md
  docs/images/tray-agent/autonomous-mode.png
  docs/images/tray-agent/liqo_agent-scheme.png
  docs/images/tray-agent/tethered-mode.png
Labels: documentation, size/L

#126 Fix Commit reference when triggered in a PR
  .github/workflows/go.yml
Labels: size/M

#127 update of the autonomous-mode picture
  docs/images/tray-agent/autonomous-mode.png
Labels: documentation

#125 No master cluster
  deployments/liqo_chart/Chart.lock
  deployments/liqo_chart/Chart.yaml
  deployments/liqo_chart/README.md
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-cm.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-deploy.yaml
  deployments/liqo_chart/subcharts/discovery_chart/values.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-deploy.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/values.yaml
  deployments/liqo_chart/values.yaml
  docs/design/discovery-component.md
  go.mod
  internal/discovery/kubeconfig/kubeconfig.go
  pkg/clusterID/clusterID.go
  test/unit/discovery/clusterID_test.go
  test/unit/discovery/discovery_test.go
Labels: discovery, documentation, size/L

#121 Discovered clusters merge logic
  docs/design/discovery-component.md
  internal/discovery/discovery.go
  internal/discovery/foreign.go
  internal/discovery/resolve.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
Labels: discovery, documentation, size/L

#117 Init documentation for the network operators.
  docs/design/liqonet.md
  docs/design/liqonet_routeOperator.md
  docs/design/liqonet_tunEndCreator.md
  docs/design/liqonet_tunnelEndpoint.md
  docs/images/liqonet/liqonet_architecture.png
  docs/images/liqonet/liqonet_workflow.png
Labels: documentation, size/M

#133 Fixing the liqonetConfig.vxlanNetConfig
  config/cluster-config/crd/bases/policy.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/crds/policy.liqo.io_clusterconfigs.yaml
  install.sh
Labels: size/M

#140 Tests for tunnelEndpointCreator-operator
  go.mod
  internal/liqonet/tunnelEndpointCreator-operator.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/L

#141 Unit tests for the route-operator
  cmd/liqonet/main.go
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  pkg/liqonet/iptables.go
  pkg/liqonet/iptables_mock.go
  pkg/liqonet/iptables_test.go
  pkg/liqonet/route.go
  pkg/liqonet/route_mock.go
Labels: networking, size/XL
