Repository liqotech/liqo, pull requests merged in 2020-08, with the labels that each got.

#139 Init Doc Website
  .github/workflows/go.yml
  docs/README.md
  docs/design/liqonet_tunnelEndpoint.md
  docs/images/Install/architecture.png
  docs/images/home/architecture.png
  docs/images/logo-liqo-blue.svg
  docs/images/logo-liqo-white.svg
  docs/pages/Architecture/Advertisement Management/_index.md
  docs/pages/Architecture/Advertisement Management/advertisement_protocol.md
  docs/pages/Architecture/Advertisement Management/broadcaster.md
  docs/pages/Architecture/Advertisement Management/controller.md
  docs/pages/Architecture/Cluster Sharing/Computing/_index.md
  docs/pages/Architecture/Cluster Sharing/Networking/_index.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_routeOperator.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_tunEndCreator.md
  docs/pages/Architecture/Cluster Sharing/Networking/liqonet_tunnelEndpoint.md
  docs/pages/Architecture/Cluster Sharing/_index.md
  docs/pages/Architecture/Discovery and Peering/_index.md
  docs/pages/Architecture/Discovery and Peering/discovery-component.md
  docs/pages/Architecture/Discovery and Peering/peering-request-operator.md
  docs/pages/Architecture/_index.md
  docs/pages/User/Configure/_index.md
  docs/pages/User/Configure/discovery.md
  docs/pages/User/Desktop/Liqo-Agent.md
  docs/pages/User/Desktop/_index.md
  docs/pages/User/Install/_index.md
  docs/pages/User/_index.md
  docs/pages/_index.md
  docs/pages/contributing/_index.md
  docs/pages/contributing/api.md
  docs/pages/contributing/guidelines.md
Labels: documentation

#134 Trust CA
  api/cluster-config/v1/clusterconfig_types.go
  api/discovery/v1/foreigncluster_methods.go
  api/discovery/v1/foreigncluster_types.go
  build/discovery/Dockerfile
  cmd/discovery/main.go
  config/cluster-config/crd/bases/policy.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/crds/foreign-cluster-crd.yaml
  deployments/liqo_chart/crds/policy.liqo.io_clusterconfigs.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-deploy.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-deploy.yaml
  deployments/liqo_chart/templates/clusterconfig.yaml
  deployments/liqo_chart/templates/trusted-ca-certificates.yaml
  docs/images/discovery/trusted.png
  docs/images/discovery/untrusted.png
  docs/pages/User/Configure/discovery.md
  internal/discovery/caData.go
  internal/discovery/discovery-config.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign.go
  internal/discovery/txtData.go
  scripts/discovery/entrypoint.sh
  scripts/discovery/foreign-cluster.yaml
  test/unit/discovery/discovery_test.go
  test/unit/discovery/dns_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: api, discovery, documentation, size/L

#143 Integration Tests for route-operator
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  test/unit/liqonet/env_test.go
  test/unit/liqonet/route-operator_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: networking, size/XL

#149 Update README.md
  README.md
Labels: community, documentation, size/XS

#150 Simplify LIQO installattion procedure
  README.md
  install.sh
Labels: community, size/M

#152 Added Advertisement status in PeeringRequest
  api/discovery/v1/peeringRequestClient.go
  api/discovery/v1/peeringrequest_types.go
  api/discovery/v1/zz_generated.deepcopy.go
  deployments/liqo_chart/crds/peering-request-crd.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/remote-watcher.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
Labels: advertisement_management, api, size/L

#158 Fixed bug in pod translation
  internal/kubernetes/mutation.go
  test/unit/kubernetes_provider/kubernetes_test.go
Labels: size/L, virtual-node

#160 Fix Invalid condition in Integration Pipeline for master branch
  .github/workflows/go.yml
Labels: size/XS

#159 LIQO kind test script
  test/kind/kind.sh
  test/kind/liqo-cluster-config.yaml
Labels: size/L

#161 Fix VolumeMounts error
  internal/kubernetes/mutation.go
  test/unit/kubernetes_provider/kubernetes_test.go
Labels: size/L, virtual-node

#154 Network Api enhancement and refactoring
  api/liqonet/v1/groupversion_info.go
  api/liqonet/v1/tunnel_endpoint_types.go
  api/liqonet/v1/zz_generated.deepcopy.go
  api/liqonet/v1alpha1/groupversion_info.go
  api/liqonet/v1alpha1/networkconfig_types.go
  api/liqonet/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  cmd/liqonet/main.go
  config/liqonet/crd/bases/liqonet.liqo.io_networkconfigs.yaml
  deployments/liqo_chart/crds/liqonet.liqo.io_networkconfigs.yaml
  internal/liqonet/route-operator.go
  internal/liqonet/route-operator_test.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  pkg/liqonet/tunnel.go
  scripts/liqonet/Makefile
  test/unit/liqonet/env_test.go
  test/unit/liqonet/route-operator_test.go
  test/unit/liqonet/tunnelEndpointCreator_test.go
Labels: api, networking

#163 VK reference in Adv status
  api/advertisement-operator/v1/advertisement_types.go
  api/advertisement-operator/v1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  config/advertisement-operator/crd/bases/protocol.liqo.io_advertisements.yaml
  deployments/liqo_chart/crds/protocol.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  pkg/object-references/types.go
  test/unit/advertisement-operator/creation_test.go
  test/unit/liqonet/env_test.go
Labels: advertisement_management, api, size/L

#189 Documentation
  README.md
  docs/examples/hello-world.yaml
  docs/pages/User/GettingStarted/install.md
  docs/pages/User/GettingStarted/peer.md
  docs/pages/User/GettingStarted/test.md
Labels: community, documentation, size/M

#184 Add dispatcher permission to PeeringRequest related identity
  internal/discovery/discovery-config.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
Labels: discovery, size/L

#193 Updated Advertisement documentation
  docs/pages/Architecture/Advertisement Management/_index.md
  docs/pages/Architecture/Advertisement Management/advertisement_protocol.md
  docs/pages/Architecture/Advertisement Management/broadcaster.md
  docs/pages/Architecture/Advertisement Management/controller.md
  docs/pages/Architecture/_index.md
Labels: documentation, size/S

#200 Liqo installer - dashboard subchart
  deployments/liqo_chart/Chart.lock
  deployments/liqo_chart/Chart.yaml
  deployments/liqo_chart/README.md
  deployments/liqo_chart/subcharts/liqodash_chart/.helmignore
  deployments/liqo_chart/subcharts/liqodash_chart/Chart.yaml
  deployments/liqo_chart/subcharts/liqodash_chart/templates/liqodash_deployment.yaml
  deployments/liqo_chart/subcharts/liqodash_chart/values.yaml
  deployments/liqo_chart/values.yaml
  install.sh
Labels: size/L

#203 add kubeconfig reference in ForeignCluster status for outgoing and incoming
  api/discovery/v1/foreigncluster_types.go
  deployments/liqo_chart/crds/foreign-cluster-crd.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  test/unit/discovery/discovery_test.go
Labels: api, discovery, size/M

#190 Fix LAN discovery
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/txtData.go
Labels: discovery, size/M

#205 fix documentation
  docs/pages/User/GettingStarted/install.md
  docs/pages/User/GettingStarted/test.md
Labels: documentation, size/S

#209 NamespaceNattingTable and SchedulingNode v1 to vialpha1
  api/scheduling/v1alpha1/groupversion_info.go
  api/scheduling/v1alpha1/schedulingnode_methods.go
  api/scheduling/v1alpha1/schedulingnode_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  api/virtualKubelet/v1alpha1/groupversion_info.go
  api/virtualKubelet/v1alpha1/namespaceNattingTableClient.go
  api/virtualKubelet/v1alpha1/namespacenattingtable_types.go
  api/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/schedulingNode-operator/main.go
  deployments/liqo_chart/crds/scheduling.liqo.io_schedulingnodes.yaml
  deployments/liqo_chart/crds/virtualkubelet.liqo.io_namespacenattingtables.yaml
  internal/kubernetes/configmapReflection_e2e_test.go
  internal/kubernetes/endpointsReflection_e2e_test.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/namespace.go
  internal/kubernetes/secretReflection_e2e_test.go
  internal/kubernetes/serviceReflection_e2e_test.go
  internal/kubernetes/test/namespaceNattingTable.go
  internal/schedulingNode-operator/schedulingNodeFromNode.go
Labels: api, size/M, virtual-node

#212 Install link in README
  README.md
Labels: community, size/XS
