Repository liqotech/liqo, pull requests merged in 2020-06, with the labels that each got.

#20 Liqo Helm Chart bugfix and update
  deployments/liqo_chart/Chart.yaml
  deployments/liqo_chart/values.yaml
Labels: bug, enhancement

#22 API name refactoring
  api/advertisement-operator/v1/groupversion_info.go
  api/discovery/v1/groupversion_info.go
  api/schedulingNode-operator/v1/groupversion_info.go
  api/schedulingNode-operator/v1/schedulingnode_methods.go
  api/tunnel-endpoint/v1/groupversion_info.go
  cmd/advertisement-operator/main.go
  cmd/liqonet/main.go
  cmd/schedulingNode-operator/main.go
  config/advertisement-operator/crd/bases/protocol.liqo.io_advertisements.yaml
  config/advertisement-operator/crd/kustomization.yaml
  config/advertisement-operator/crd/patches/cainjection_in_advertisements.yaml
  config/advertisement-operator/crd/patches/webhook_in_advertisements.yaml
  config/liqonet/crd/bases/liqonet.liqo.io_tunnelendpoints.yaml
  config/liqonet/crd/kustomization.yaml
  config/liqonet/crd/patches/cainjection_in_endpoints.yaml
  config/liqonet/crd/patches/webhook_in_endpoints.yaml
  config/schedulingNode-operator/crd/bases/scheduling.liqo.io_schedulingnodes.yaml
  config/schedulingNode-operator/crd/kustomization.yaml
  config/schedulingNode-operator/crd/patches/cainjection_in_schedulingnodes.yaml
  config/schedulingNode-operator/crd/patches/webhook_in_schedulingnodes.yaml
  deployments/advertisement-broadcaster/broadcaster-deploy.yaml
  deployments/advertisement-operator/adv-deploy.yaml
  deployments/advertisement-operator/adv-operator_cm.yaml
  deployments/advertisement-operator/foreignKubeconfig_cm.yaml
  deployments/discovery/federation-request-crd.yaml
  deployments/discovery/foreign-cluster-crd.yaml
  deployments/discovery/foreign-role.yaml
  deployments/liqo_chart/crds/liqonet.liqo.io_tunnelendpoints.yaml
  deployments/liqo_chart/crds/protocol.liqo.io_advertisements.yaml
  deployments/liqo_chart/crds/scheduling.liqo.io_schedulingnodes.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/route-operator.yaml
  deployments/liqo_chart/subcharts/networkModule_chart/templates/tunnelEndpoint-operator.yaml
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/templates/tunnelEndpointCreator.yaml
  deployments/liqonet/route-operator-clusterRole.yaml
  deployments/liqonet/route-operator-clusterRoleBinding.yaml
  deployments/liqonet/route-operator-daemonset.yaml
  deployments/liqonet/route-operator-serviceAccount.yaml
  deployments/liqonet/tunnel-operator-clusterRole.yaml
  deployments/liqonet/tunnel-operator-clusterRoleBinding.yaml
  deployments/liqonet/tunnel-operator-deployment.yaml
  deployments/liqonet/tunnel-operator-serviceAccount.yaml
  deployments/schedulingNode-operator/sn-deploy.yaml
  internal/advertisement-operator/controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/liqonet/route-operator.go
  internal/liqonet/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator-operator.go
  internal/schedulingNode-operator/schedulingnode_controller.go
  pkg/liqonet/iptables.go
  pkg/liqonet/overlay_network.go
  pkg/liqonet/route.go
  pkg/liqonet/utils.go
  scripts/liqonet/Makefile
  test/e2e/clusters.yaml
  test/e2e/setup.sh
  test/e2e/vkubelet-cfg.json
  test/kind/adv-crd.yaml
  test/kind/sn-crd.yaml
Labels: api, networking

#31 Fixing Peering Request Operator
  internal/discovery/kubeconfig/kubeconfig.go
  pkg/clusterID/clusterID.go
Labels: discovery, very small

#30 Init Architecture documentation
  deployments/liqo_chart/README.md
  deployments/liqo_chart/subcharts/adv_chart/README.md
  deployments/liqo_chart/subcharts/networkModule_chart/README.md
  deployments/liqo_chart/subcharts/schedulingNodeOperator_chart/README.md
  deployments/liqo_chart/subcharts/tunnelEndpointCreator_chart/README.md
  docs/design/advertisement_management.md
  docs/design/architecture.md
  docs/design/resource_sharing.md
Labels: small

#32 Fix Broken Link on README.md
  README.md
Labels: community, very small

#33 Double init container for podmutator
  .github/workflows/go.yml
  build/init-pod-mutator/Dockerfile
  build/secret-creation/Dockerfile
  cmd/pod-mutator/main.go
  cmd/pod-mutator/opts.go
  deployments/pod-mutator/deploy.yaml
  pkg/mutate/server.go
  scripts/pod-mutator-webhook/pod-mutator-webhook-deployment.sh
  scripts/secret-creation/secret-creation.sh
Labels: very small

#34 Added Go Report Card
  README.md
Labels: community, very small

#37 Add broadcaster ServiceAccount parameter in peering-request-operator
  cmd/peering-request-operator/main.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
Labels: very small

#36 vk logging interface
  cmd/virtual-kubelet/internal/commands/root/root.go
  internal/kubernetes/kubernetes.go
  internal/kubernetes/namespace.go
  internal/kubernetes/pod.go
  internal/kubernetes/reflectionController.go
  internal/kubernetes/secret.go
  internal/kubernetes/service.go
  internal/kubernetes/virtualNodeupdater.go
  internal/node/pod.go
  internal/node/podcontroller.go
  internal/node/queue.go
Labels: small, virtual-node

#38 Modified HomeClusterId for VK
  deployments/liqo_chart/subcharts/adv_chart/templates/adv-deploy.yaml
Labels: size/XS, very small

#40 Advertisement modification, broadcaster new logic
  api/advertisement-operator/v1/advertisement_types.go
  api/advertisement-operator/v1/zz_generated.deepcopy.go
  cmd/advertisement-broadcaster/main.go
  cmd/advertisement-operator/main.go
  config/advertisement-operator/crd/bases/protocol.liqo.io_advertisements.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/tray-agent/agent-client/agent-client.go
  pkg/advertisement-operator/client.go
  pkg/advertisement-operator/creation.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, api, discovery, size/L, small, ui

#43 Add init container in peering-request-operator
  .github/workflows/go.yml
  build/peering-request-webhook-init/Dockerfile
  cmd/peering-request-operator/main.go
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-deploy.yaml
  go.mod
  go.sum
  internal/peering-request-operator/peering-request-admission/setup.go
  scripts/peering-request-operator/ca_bundle.sh
  scripts/peering-request-operator/webhook_certs.sh
  scripts/peering-request-webhook-init/peering-request-webhook-init.sh
Labels: size/L, very small

#44 Broadcaster refactoring
  cmd/advertisement-broadcaster/main.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/peering-request-operator/broadcaster.go
  pkg/advertisement-operator/creation.go
  pkg/advertisement-operator/owner-ref.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, size/L

#48 Bump Ubuntu version of the Runner to 20.04
  .github/workflows/go.yml
  .github/workflows/golint.yml
  build/tray-agent/Dockerfile
Labels: size/XS, ui

#46 Add Dependabot to look for vulnerable libraries
  .github/dependabot.yml
Labels: size/XS

#45 Installer Improvement
  .github/workflows/go.yml
  README.md
  deployments/liqo_chart/subcharts/adv_chart/templates/adv-deploy.yaml
  deployments/liqo_chart/subcharts/discovery_chart/templates/broadcaster.yaml
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-deploy.yaml
  install.sh
  test/installer/unit.sh
Labels: community, size/L

#60 Added ClusterConfig to helm chart
  deployments/liqo_chart/crds/policy.liqo.io_clusterconfigs.yaml
Labels: size/M

#61 Add default ClusterConfig
  deployments/liqo_chart/templates/clusterconfig.yaml
Labels: size/XS

#62 Requeue ForeignCluster reconciliations
  api/discovery/v1/foreigncluster_methods.go
  cmd/discovery/main.go
  deployments/liqo_chart/subcharts/discovery_chart/templates/discovery-deploy.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
Labels: api, discovery, size/L

#70 Fix ClusterConfig race condition
  README.md
  cmd/advertisement-operator/main.go
  docs/design/advertisement_management.md
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
Labels: advertisement_management, community, size/M

#65 Discovery Test
  .github/workflows/go.yml
  api/discovery/v1/foreigncluster_methods.go
  deployments/liqo_chart/subcharts/peeringRequestOperator_chart/templates/peering-request-cm.yaml
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/resolve.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/config.go
  internal/peering-request-operator/peering-request-admission/webhook.go
  internal/peering-request-operator/peering-request-controller.go
  internal/peering-request-operator/setup.go
  pkg/clusterID/clusterID.go
  test/unit/discovery/discovery_test.go
  test/unit/discovery/env_test.go
  test/unit/discovery/mdns_test.go
Labels: api, discovery, size/XL

#74 Modified log in Advertisement modules
  cmd/advertisement-broadcaster/main.go
  cmd/advertisement-operator/main.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  pkg/advertisement-operator/creation.go
  test/unit/advertisement-operator/controller_test.go
Labels: advertisement_management, size/L
