Repository liqotech/liqo, pull requests merged in 2021-07, with the labels that each got.

#702 Configure new controllers to activate the new namespace mapping logic.
  Makefile
  cmd/advertisement-operator/main.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-namespace-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-namespace-map-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-namespace-offloading-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-offloading-status-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-virtual-node-controller-ClusterRole.yaml
  deployments/liqo/templates/liqo-advertisement-rbac.yaml
  go.mod
  go.sum
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_namespacemap_controller_finalizer.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/clusterselector_management.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/manage_desiredmappings.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_controller.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_lifecycle.go
  pkg/liqo-controller-manager/offloadingStatus-controller/namespaceoffloading_status_management.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_creation.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_deletion_logic.go
  pkg/utils/cachedClient/get_cached_client.go
Labels: advertisement_management, networking, ok-to-test, size/XL, virtual-node

#719 Fix generation of rbacs.
  Makefile
  cmd/uninstaller/main.go
  deployments/liqo/files/liqo-namespace-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-namespace-map-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-namespace-offloading-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-offloading-status-controller-ClusterRole.yaml
  deployments/liqo/files/liqo-pre-delete-ClusterRole.yaml
  deployments/liqo/files/liqo-virtual-node-controller-ClusterRole.yaml
  pkg/utils/cachedClient/get_cached_client.go
Labels: merge-requested, ok-to-test, size/L

#723 Check remote namespaces privileges.
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/testUtils/doc.go
  pkg/liqo-controller-manager/namespaceMap-controller/testUtils/namespacemap_controller_test_utils.go
  pkg/utils/foreignCluster/getTenantNamespaceName.go
Labels: merge-requested, ok-to-test, size/L

#720 Add clusterLabels to ResourceOffer.
  internal/resource-request-operator/utils.go
Labels: advertisement_management, merge-requested, networking, ok-to-test, size/XS, virtual-node

#724 Change remote clients in NamespaceMap controller and fix some bugs.
  cmd/advertisement-operator/main.go
  internal/resource-request-operator/resourceRequest_controller_methods.go
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
Labels: advertisement_management, merge-requested, networking, ok-to-test, size/L, virtual-node

#725 Resources Phase Explicit Signaling
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/resourceRequest.go
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/utils.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
Labels: discovery, merge-requested, networking, size/L, virtual-node

#722 bugfix pod termination
  pkg/virtualKubelet/apiReflection/reflectors/incoming/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods_test.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/namespacesMapping/test/mockNamespaceMapper.go
  pkg/virtualKubelet/storage/test/mockCacheManager.go
Labels: kind/bug, merge-requested, ok-to-test, size/L, virtual-node

#728 Some minor fixes in namespace-mapping controllers.
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespace-controller/owned_namespaceoffloading_lifecycle.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_namespacemap_controller_finalizer.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/clusterselector_management.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/manage_desiredmappings.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/manage_liqo_scheduling_label.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_controller.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_lifecycle.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/suite_test.go
  pkg/liqo-controller-manager/offloadingStatus-controller/namespaceoffloading_status_management.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller.go
  pkg/liqo-controller-manager/offloadingStatus-controller/suite_test.go
Labels: merge-requested, networking, ok-to-test, size/L, virtual-node

#729 Fix Multiple RoleBinding Creations
  deployments/liqo/files/liqo-auth-ClusterRole.yaml
  deployments/liqo/files/liqo-discovery-ClusterRole.yaml
  internal/auth-service/auth-service.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/discovery/const.go
  pkg/tenantControlNamespace/bindings.go
  pkg/tenantControlNamespace/tenantControlNamespaceManager_test.go
Labels: discovery, merge-requested, size/M

#682 E2E tests Refactoring
  go.mod
  go.sum
  pkg/clusterid/clusterID.go
  pkg/consts/clusterid.go
  pkg/utils/cluster_info.go
  pkg/virtualKubelet/test/e2e/main_test.go
  test/e2e/deploy_app_test.go
  test/e2e/e2e_test.go
  test/e2e/join_test.go
  test/e2e/net_test.go
  test/e2e/peering_e2e/basic_test.go
  test/e2e/testutils/consts.go
  test/e2e/testutils/microservices/deploy_app.go
  test/e2e/testutils/microservices/doc.go
  test/e2e/testutils/net/doc.go
  test/e2e/testutils/net/net.go
  test/e2e/testutils/net/pod.go
  test/e2e/testutils/net/svc.go
  test/e2e/testutils/tester/doc.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/doc.go
  test/e2e/testutils/util/exec.go
  test/e2e/testutils/util/namespace.go
  test/e2e/testutils/util/nodes.go
  test/e2e/testutils/util/pod.go
  test/e2e/unjoin_e2e/unjoin_test.go
  test/e2e/unjoin_e2e/unpeering_test.go
  test/e2e/util/util.go
Labels: advertisement_management, discovery, hold, networking, size/XXL, virtual-node

#727 New package for IPAM module
  .gitignore
  cmd/liqonet/main.go
  go.mod
  go.sum
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqonet/doc.go
  pkg/liqonet/ipam/doc.go
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipam.pb.go
  pkg/liqonet/ipam/ipam.proto
  pkg/liqonet/ipam/ipamStorage.go
  pkg/liqonet/ipam/ipam_grpc.pb.go
  pkg/liqonet/ipam/ipam_suite_test.go
  pkg/liqonet/ipam/ipam_test.go
  pkg/liqonet/test/ipam_mock.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/forge/apiForger.go
  pkg/virtualKubelet/forge/pods.go
Labels: networking, ok-to-test, size/L, virtual-node

#732 Fix ForeignCluster Operator Test
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
Labels: discovery, merge-requested, size/S

#731 Overlay Network Bug Fix
  internal/liqonet/route-operator/symmetricRoutingOperator.go
  internal/liqonet/route-operator/symmetricRoutingOperator_test.go
  pkg/liqonet/overlay/vxlan.go
  pkg/liqonet/overlay/vxlan_test.go
Labels: merge-requested, networking, size/M

#684 Enable New Authentication and Peering
  apis/net/v1alpha1/networkconfig_types.go
  apis/net/v1alpha1/tunnelEndpointClient.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  apis/sharing/v1alpha1/groupversion_info.go
  cmd/advertisement-operator/main.go
  deployments/liqo/README.md
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-advertisement-deployment.yaml
  deployments/liqo/values.yaml
  internal/advertisementoperator/controller.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/peeringPhase_test.go
  internal/liqonet/tunnelEndpointCreator/secretWatcher.go
  internal/liqonet/tunnelEndpointCreator/serviceWatcher.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqo-controller-manager/resourceoffer-controller/controller_config.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  test/unit/advertisement-operator/creation_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
Labels: advertisement_management, discovery, networking, size/L, virtual-node

#735 Remove Limits on Liqo deployments
  deployments/liqo/templates/liqo-advertisement-deployment.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-peering-request-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  test/e2e/peering_e2e/basic_test.go
Labels: size/M

#737 Refactor uninstaller to support new Liqo Authentication and peering
  Makefile
  cmd/uninstaller/main.go
  deployments/liqo/files/liqo-pre-delete-ClusterRole.yaml
  deployments/liqo/files/liqo-pre-delete-Role.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/pre-delete-rbac.yaml
  pkg/uninstaller/const.go
  pkg/uninstaller/deletion.go
  pkg/uninstaller/helpers.go
  pkg/utils/cluster_info.go
Labels: size/L

#726 Activation of the new webhook logic
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-webhook.yaml
  deployments/liqo/values.yaml
  pkg/mutate/mutate.go
  pkg/mutate/server.go
  test/e2e/peering_e2e/basic_test.go
  test/e2e/testutils/net/net.go
Labels: ok-to-test, size/M

#730 Add the PeeringConditions in the ForeignCluster Status
  Makefile
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/files/liqo-advertisement-rbac.yaml
  internal/auth-service/auth_test.go
  internal/crdReplicator/peeringPhase_test.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  pkg/discovery/const.go
  pkg/uninstaller/helpers.go
  pkg/utils/foreignCluster/peeringStatus.go
  pkg/utils/peeringConditions/doc.go
  pkg/utils/peeringConditions/peeringConditionsUtils.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
Labels: advertisement_management, discovery, networking, size/XXL, virtual-node

#736 Integration tests for IPAM module
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipam_test.go
  test/integration/endpoint_reflection_test.go
  test/integration/integration_suite_test.go
Labels: networking, ok-to-test, size/XL

#740 Tenant Namespace Renaming
  apis/config/v1alpha1/clusterconfig_types.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/crd-replicator/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/templates/liqo-remote-peering-rbac.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-local.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-remote.yaml
  internal/auth-service/auth-service.go
  internal/auth-service/auth_test.go
  internal/auth-service/identity.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/peeringPhase_test.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/peeringPolicy.go
  internal/discovery/foreign-cluster-operator/resourceRequest.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign-cluster-operator/tenantNamespace.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/discovery/const.go
  pkg/identityManager/client.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/signingRequest.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_creation.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/peering-roles/basic/basic.go
  pkg/peering-roles/peeringPermission.go
  pkg/tenantControlNamespace/const.go
  pkg/tenantControlNamespace/doc.go
  pkg/tenantNamespace/bindings.go
  pkg/tenantNamespace/const.go
  pkg/tenantNamespace/doc.go
  pkg/tenantNamespace/interface.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
  pkg/utils/foreignCluster/getTenantNamespaceName.go
  pkg/virtualKubelet/provider/provider.go
Labels: discovery, networking, size/L, virtual-node

#743 Some fixes to webhook logic and test e2e
  pkg/mutate/mutate.go
  test/e2e/peering_e2e/basic_test.go
  test/e2e/testutils/microservices/deploy_app.go
  test/e2e/testutils/net/net.go
  test/e2e/testutils/net/svc.go
Labels: ok-to-test, size/L

#741 Fix Permission Management with One-Way Peering
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/peeringPhase.go
  internal/crdReplicator/peeringPhase_test.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/permission.go
  internal/discovery/foreign-cluster-operator/resourceRequest.go
  pkg/tenantNamespace/bindings.go
  pkg/utils/foreignCluster/peeringPhase.go
  pkg/utils/foreignCluster/peeringPhase_test.go
Labels: discovery, size/XL, virtual-node

#738 Remove legacy steps from installer
  install.sh
  test/installer/install-test.sh
Labels: size/L

#746 Fix information leakage vulnerability in the Webhook server.
  pkg/mutate/server.go
Labels: merge-requested, ok-to-test, size/XS

#747 Annotate gateway service from the label operator in the gateway component
  cmd/liqonet/main.go
  deployments/liqo/files/liqo-gateway-Role.yaml
  internal/liqonet/tunnel-operator/labelerOperator.go
  internal/liqonet/tunnel-operator/labelerOperator_test.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator/gatewayPodWatcher.go
  pkg/liqonet/utils/utils.go
Labels: merge-requested, networking, size/L

#749 Add custom columns to "kubectl get" output for liqo CRDs
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/net/v1alpha1/networkconfig_types.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  apis/sharing/v1alpha1/resourceoffer_types.go
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
Labels: merge-requested, size/M

#752 Deletion of remote namespace conditions in the NamespaceOffloading Resource
  pkg/liqo-controller-manager/namespaceOffloading-controller/clusterselector_management.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_controller.go
  pkg/liqo-controller-manager/offloadingStatus-controller/namespaceoffloading_status_management.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller_test.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
Labels: merge-requested, ok-to-test

#751 Add AWS IAM Identity Provider - AWS 1/3
  cmd/auth-service/main.go
  go.mod
  go.sum
  internal/auth-service/auth-service.go
  internal/auth-service/identity.go
  internal/discovery/foreign-cluster-operator/auth.go
  namespaceMapper.go
  pkg/auth/identityResponse.go
  pkg/identityManager/awsConfig.go
  pkg/identityManager/certificate.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/client.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/identityManager/responseTypes/doc.go
  pkg/identityManager/responseTypes/signingRequestResponse.go
Labels: discovery, merge-requested, virtual-node

#755 Add AWS Configuration in the Helm Chart - AWS 2/3
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-aws-credentials.yaml
  deployments/liqo/values.yaml
Labels: merge-requested

#757 Bug fix in the deletion of the remote namespace.
  cmd/advertisement-operator/main.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/manage_desiredmappings.go
Labels: advertisement_management, merge-requested, ok-to-test

#762 Make docs build conditional
  .github/workflows/integration.yml
Labels: merge-requested

#734 Added OfferUpdater component which implement all ResourceOffer update.
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/interfaces/clusterResourceInterface.go
  internal/resource-request-operator/interfaces/doc.go
  internal/resource-request-operator/interfaces/updaterInterface.go
  internal/resource-request-operator/offerUpdater.go
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/suite_test.go
  internal/resource-request-operator/utils.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
Labels: advertisement_management, ok-to-test, size/L, virtual-node

#758 Create Client from IAM Identity - AWS 3/3
  .gitignore
  deployments/liqo/files/liqo-auth-ClusterRole.yaml
  internal/auth-service/auth-service.go
  internal/auth-service/identity.go
  pkg/auth/identityResponse.go
  pkg/identityManager/certificate.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/client.go
  pkg/identityManager/const.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/identityManager/tokenManager.go
Labels: discovery, merge-requested

#765 Fix permissions for liqo-gateway
  deployments/liqo/files/liqo-gateway-Role.yaml
  internal/liqonet/tunnel-operator/labelerOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
Labels: merge-requested, networking

#766 Add support for aws load balancers in liqo-network-manager
  internal/liqonet/tunnelEndpointCreator/serviceWatcher.go
Labels: merge-requested, networking

#769 Fix Documentation Pipeline Bug
  .github/workflows/integration.yml
Labels: merge-requested

#770 Minor fixes on Liqo network module
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/natmappinginflater/natMappingInflater.go
  pkg/liqonet/natmappinginflater/natMappingInflater_test.go
Labels: networking, ok-to-test

#772 Update Roadmap on README.md
  README.md
Labels: community, merge-requested

#775 Fix race condition in ForeignCluster Permission Test
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
Labels: discovery, merge-requested, size/M

#744 ForeignCluster Fields Refactoring
  apis/config/v1alpha1/clusterconfig_types.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/groupversion_info.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/values.yaml
  internal/auth-service/idsHttpHandler.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery_test.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/clusterIdentityDefaulting.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/peeringPolicy.go
  internal/discovery/foreign-cluster-operator/validator.go
  internal/discovery/foreign.go
  internal/discovery/resolve.go
  internal/discovery/utils/utils.go
  internal/resource-request-operator/utils.go
  pkg/auth/const.go
  pkg/auth/ids.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/utils/foreignCluster/discoveryType.go
  pkg/utils/foreignCluster/garbageCollection.go
  pkg/utils/foreignCluster/management.go
  pkg/utils/foreignCluster/tlsVerify.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
Labels: discovery, merge-requested, size/XL

#776 Use ClusterID in the Tenant Namespace Name
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  pkg/identityManager/identityManager_test.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
Labels: merge-requested, size/M

#774 Fix bug causing liqo-gateway to crash when restarting
  cmd/liqonet/main.go
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/files/liqo-gateway-Role.yaml
  internal/liqonet/tunnel-operator/labelerOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_test.go
  pkg/consts/liqonet.go
  pkg/liqonet/netns/netns.go
  pkg/liqonet/netns/netns_suite_test.go
  pkg/liqonet/netns/netns_test.go
  pkg/liqonet/utils/utils.go
  pkg/liqonet/utils/utils_test.go
Labels: merge-requested, networking, size/L

#771 Fix Negative Offer resources values
  cmd/liqo-controller-manager/main.go
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/suite_test.go
  pkg/utils/errorsManagement/doc.go
  pkg/utils/errorsManagement/errorUtils.go
Labels: merge-requested, ok-to-test, size/XL

#784 Fix Uninstaller
  cmd/uninstaller/main.go
  pkg/consts/virtualNode.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/uninstaller/deletion.go
Labels: merge-requested, size/M

#781 Fixed network manager panic due to configuration inconsistency
  Makefile
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipam.pb.go
  pkg/liqonet/ipam/ipam_grpc.pb.go
  pkg/liqonet/ipam/ipam_test.go
Labels: networking, ok-to-test, size/L

#783 Fix a yaml file in the docs/examples.
  docs/examples/hello-world.yaml
Labels: documentation, merge-requested, ok-to-test, size/XS

#785 Remove resource limits for liqo deployments
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
Labels: merge-requested, size/S

#790 Fix bug which set zero all resources.
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/suite_test.go
Labels: networking, ok-to-test, size/XS
