Repository liqotech/liqo, pull requests merged in 2021-03, with the labels that each got.

#507 Helm Chart Improvements and Bug Fix
  deployments/liqo/Chart.yaml
  deployments/liqo/README.md
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-auth-ingress.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-peering-request-deployment.yaml
  deployments/liqo/templates/liqo-webhook-service.yaml
  deployments/liqo/templates/liqo-webhook.yaml
  deployments/liqo/values.yaml
Labels: merge-requested, size/L

#509 Fix some issues on the documentation
  docs/pages/User/GettingStarted/_index.md
  docs/pages/User/GettingStarted/install.md
  docs/pages/User/GettingStarted/kind.md
  docs/pages/User/GettingStarted/peer.md
  docs/pages/User/GettingStarted/play.md
  docs/pages/User/GettingStarted/test.md
  docs/pages/User/GettingStarted/uninstall.md
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k3s.md
  docs/pages/User/Install/platforms/k8s.md
  docs/pages/User/Post-Install/_index.md
  docs/pages/User/Scenarios/_index.md
  docs/pages/_index.md
Labels: documentation, size/L

#512 Helm documentation update
  docs/pages/User/Install/chart_values.md
Labels: documentation, size/M

#513 website pipeline file updated
  .github/workflows/check-website-helm-documentation.yml
Labels: size/XS

#514 Update Chart AppVersion
  deployments/liqo/Chart.yaml
Labels: size/XS

#515 BugFix: crdReplicator forget keys of remove objects
  internal/crdReplicator/crdReplicator-operator.go
Labels: networking, size/XS

#516 Minor corrections on documentation
  docs/pages/User/Post-Install/authentication.md
  docs/pages/User/Scenarios/_index.md
Labels: documentation, merge-requested, ok-to-test, size/XS

#518 Fix Wrong Meeting Time
  README.md
Labels: community, size/XS

#525 Fixed command to retrieve auth service info
  docs/pages/User/Post-Install/discovery.md
Labels: documentation, size/XS

#526 print columns for crds
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
Labels: merge-requested, ok-to-test, size/M

#532 Add Logging in Discovery and Authentication Components
  cmd/auth-service/main.go
  cmd/discovery/main.go
  internal/auth-service/httpHandler.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/kubeconfig/kubeconfig.go
Labels: discovery, size/M

#535 Documentation: Uniforming install documentation and fixing some minor typos
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k3s.md
  docs/pages/User/Install/platforms/k8s.md
Labels: documentation, merge-requested, size/M

#530 Migrate Liqo Images to Alpine
  .github/workflows/integration.yml
  build/advertisement-broadcaster/Dockerfile
  build/advertisement-operator/Dockerfile
  build/auth-service/Dockerfile
  build/cert-creator/Dockerfile
  build/crd-replicator/Dockerfile
  build/discovery/Dockerfile
  build/init-vkubelet/Dockerfile
  build/liqo-webhook/Dockerfile
  build/liqonet/Dockerfile
  build/peering-request-operator/Dockerfile
  build/scheduling-node-operator/Dockerfile
  build/virtual-kubelet/Dockerfile
  build/webhook-configuration/Dockerfile
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/values.yaml
  scripts/virtual-kubelet/dep.sh
Labels: advertisement_management, discovery, hold, networking, size/L, virtual-node

#502 Virtual Kubelet documentation
  docs/images/offloading/computing-offloading-overview.svg
  docs/images/resource_sharing/pod_lifecycle.png
  docs/images/resource_sharing/reflection.png
  docs/pages/Architecture/_index.md
  docs/pages/Architecture/computing/_index.md
  docs/pages/Architecture/offloading/_index.md
  docs/pages/Architecture/offloading/features/api-reflection.md
  docs/pages/Architecture/offloading/features/computing.md
  docs/pages/Architecture/offloading/features/namespace-management.md
  docs/pages/Architecture/offloading/features/node-management.md
Labels: documentation, merge-requested

#538 MutatingWebhook Logging updated
  pkg/mutate/mutate.go
  pkg/mutate/server.go
Labels: merge-requested, size/L

#528 IPAM improvements
  .gitignore
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  cmd/liqonet/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  go.mod
  go.sum
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/liqonet_suite_test.go
  pkg/liqonet/utils.go
  test/unit/crdReplicator/env_test.go
Labels: merge-requested, networking, size/L

#539 Avoid Start-Time Throttling
  apis/discovery/v1alpha1/groupversion_info.go
  apis/discovery/v1alpha1/peeringrequest_types.go
  apis/discovery/v1alpha1/searchdomain_types.go
  cmd/advertisement-operator/main.go
  cmd/crd-replicator/main.go
  cmd/discovery/main.go
  cmd/liqonet/main.go
  cmd/schedulingNodeOperator/main.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/peering-request-operator/setup.go
  pkg/clusterConfig/watchConfig.go
  pkg/mapperUtils/mapper.go
Labels: advertisement_management, discovery, networking, size/L

#541 Virtual kubelet throttling mitigation
  apis/config/v1alpha1/clusterConfigClient.go
  apis/discovery/v1alpha1/foreignClusterClient.go
  apis/discovery/v1alpha1/peeringRequestClient.go
  apis/net/v1alpha1/tunnelEndpointClient.go
  apis/sharing/v1alpha1/advertisementClient.go
  apis/virtualKubelet/v1alpha1/namespaceNattingTableClient.go
  cmd/advertisement-operator/main.go
  cmd/virtual-kubelet/internal/commands/root/root.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/auth-service/auth-service.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/search-domain-operator/setup.go
  internal/peering-request-operator/setup.go
  pkg/clusterConfig/watchConfig.go
  pkg/clusterID/clusterID.go
  pkg/crdClient/client.go
  pkg/virtualKubelet/const.go
  pkg/virtualKubelet/provider/provider.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/controller_test.go
Labels: advertisement_management, discovery, size/M, virtual-node

#547 Fixed: cluster asking for a network equal to a pool runs into an error
  go.mod
  go.sum
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
Labels: merge-requested, networking, ok-to-test, size/L
