Repository liqotech/liqo, pull requests merged in 2021-08, with the labels that each got.

#786 Remove the obsolete NamespaceNattingTable API
  .golangci.yml
  apis/virtualKubelet/v1alpha1/namespaceNattingTableClient.go
  apis/virtualKubelet/v1alpha1/namespacenattingtable_types.go
  apis/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/virtual-kubelet/register.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/vkMachinery/forge/forge.go
Labels: merge-requested, size/L, virtual-node

#788 Fix Kubelet Startup on EKS Provider
  cmd/init-virtual-kubelet/main.go
  cmd/virtual-kubelet/root/http.go
Labels: merge-requested, size/M, virtual-node

#794 Fixing typo in the documentation
  docs/pages/User/GettingStarted/test.md
Labels: documentation, merge-requested, size/XS

#795 Fix Namespace Translation in Resource Replication
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/namespaceTranslation.go
Labels: merge-requested, size/L

#779 externalise virtual kubelet
  cmd/virtual-kubelet/main.go
  cmd/virtual-kubelet/provider/provider.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/node.go
  cmd/virtual-kubelet/root/root.go
  go.mod
  go.sum
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/incomingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/reflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/test/mockController.go
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
  pkg/virtualKubelet/node/module/api/doc.go
  pkg/virtualKubelet/node/module/api/exec.go
  pkg/virtualKubelet/node/module/api/helpers.go
  pkg/virtualKubelet/node/module/api/logs.go
  pkg/virtualKubelet/node/module/api/pods.go
  pkg/virtualKubelet/node/module/api/server.go
  pkg/virtualKubelet/node/module/api/stats.go
  pkg/virtualKubelet/node/module/doc.go
  pkg/virtualKubelet/node/module/env.go
  pkg/virtualKubelet/node/module/env_internal_test.go
  pkg/virtualKubelet/node/module/lifecycle_test.go
  pkg/virtualKubelet/node/module/mock_test.go
  pkg/virtualKubelet/node/module/node.go
  pkg/virtualKubelet/node/module/node_test.go
  pkg/virtualKubelet/node/module/pod.go
  pkg/virtualKubelet/node/module/pod_test.go
  pkg/virtualKubelet/node/module/podcontroller.go
  pkg/virtualKubelet/node/module/podcontroller_test.go
  pkg/virtualKubelet/node/module/sync.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/queue/queue.go
  pkg/virtualKubelet/queue/queue_test.go
Labels: ok-to-test, size/XXL, virtual-node

#791 Improved IPAM recovery procedure
  apis/net/v1alpha1/ipamstorage_types.go
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  pkg/liqonet/ipam/ipam.pb.go
  pkg/liqonet/ipam/ipam_grpc.pb.go
  pkg/liqonet/natmappinginflater/natMappingInflater.go
  pkg/liqonet/natmappinginflater/natMappingInflater_test.go
Labels: merge-requested, networking, ok-to-test, size/L

#761 Update Documentation Structure
  docs/pages/User/Post-Install/_index.md
  docs/pages/User/_index.md
  docs/pages/_index.md
  docs/pages/concepts/_index.md
  docs/pages/concepts/discovery/_index.md
  docs/pages/concepts/networking/_index.md
  docs/pages/concepts/offloading/_index.md
  docs/pages/concepts/offloading/features/api-reflection.md
  docs/pages/concepts/offloading/features/computing.md
  docs/pages/concepts/offloading/features/namespace-management.md
  docs/pages/concepts/offloading/features/node-management.md
  docs/pages/concepts/peering/_index.md
  docs/pages/configuration/_index.md
  docs/pages/configuration/configure.md
  docs/pages/configuration/discovery.md
  docs/pages/faq/_index.md
  docs/pages/gettingstarted/_index.md
  docs/pages/gettingstarted/install.md
  docs/pages/gettingstarted/kind.md
  docs/pages/gettingstarted/peer.md
  docs/pages/gettingstarted/play.md
  docs/pages/gettingstarted/test.md
  docs/pages/gettingstarted/uninstall.md
  docs/pages/installation/_index.md
  docs/pages/installation/chart_values.md
  docs/pages/installation/platforms/aks.md
  docs/pages/installation/platforms/gke.md
  docs/pages/installation/platforms/k3s.md
  docs/pages/installation/platforms/k8s.md
  docs/pages/installation/pre-install.md
  docs/pages/usage/_index.md
  docs/pages/usage/authentication.md
  docs/pages/usage/peering.md
Labels: documentation, merge-requested, size/L

#789 Get ApiServer Address from full URL
  apis/config/v1alpha1/clusterconfig_types.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/values.yaml
  install.sh
  internal/auth-service/auth_test.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/identityManager/identityManager_test.go
  pkg/kubeconfig/create.go
  pkg/utils/address.go
  pkg/utils/address_test.go
Labels: discovery, merge-requested, size/L

#792 Ensure no ClusterID Repetition
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  internal/discovery/foreign-cluster-operator/clusterIdentityDefaulting.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/validator.go
  internal/discovery/foreign.go
  pkg/utils/foreignCluster/getForeignCluster.go
  pkg/utils/peeringConditions/peeringConditionsUtils.go
Labels: discovery, merge-requested, networking, size/L

#801 Persist VirtualKubelet Keys
  cmd/init-virtual-kubelet/main.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/virtualKubelet/roles/local/role.go
  pkg/vkMachinery/csr/const.go
  pkg/vkMachinery/csr/creation.go
  pkg/vkMachinery/csr/secret.go
  pkg/vkMachinery/csr/secret_test.go
  pkg/vkMachinery/forge/forge.go
Labels: virtual-node, size/L, merge-requested

#798 Add /test command to pipelines
  .github/workflows/doc.yml
  .github/workflows/greeting.yml
  .github/workflows/integration.yml
  .github/workflows/ok-to-test.yml
  .github/workflows/slash-commands.yml
  .github/workflows/test.yml
Labels: size/L, merge-requested

#805 Add status check for component building
  .github/workflows/integration.yml
  .github/workflows/test.yml
Labels: size/M, merge-requested

#802 Authentication Service Error Handling Improvement
  .golangci.yml
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/files/liqo-auth-ClusterRole.yaml
  deployments/liqo/files/liqo-auth-Role.yaml
  deployments/liqo/values.yaml
  install.sh
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth-token.go
  internal/auth-service/auth_test.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/errorHandler.go
  internal/auth-service/garbage-collection/doc.go
  internal/auth-service/garbage-collection/serviceAccount.go
  internal/auth-service/httpHandler.go
  internal/auth-service/identity.go
  internal/auth-service/idsHttpHandler.go
  internal/auth-service/kubeconfig.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  internal/auth-service/token-validation.go
  internal/discovery/authData.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery_test.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/setup.go
  internal/discovery/search-domain-operator/wan.go
  pkg/auth/errors/doc.go
  pkg/auth/errors/errors.go
  pkg/discovery/const.go
  test/unit/crdReplicator/env_test.go
Labels: discovery, size/XL, merge-requested

#782 Change default service types for auth-server and gateway to LoadBalancer
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  install.sh
Labels: size/M, merge-requested

#800 Documentation: new "usage" section for the namespace offloading logic.
  docs/examples/namespace-offloading-default.yaml
  docs/pages/usage/namespace_offloading.md
Labels: size/L, ok-to-test, merge-requested, documentation

#806 Improve node conditions management
  pkg/virtualKubelet/liqoNodeProvider/conditions.go
  pkg/virtualKubelet/liqoNodeProvider/conditions_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/provider/node.go
Labels: virtual-node, size/XL, merge-requested

#807 Crypto: use ED25519 instead of RSA for better performance
  internal/auth-service/auth_test.go
  pkg/identityManager/certificate.go
  pkg/identityManager/const.go
  pkg/identityManager/identityManager_test.go
  pkg/vkMachinery/csr/generation.go
  pkg/webhookConfiguration/secrets.go
Labels: size/M, merge-requested

#811 Remove dead code
  apis/config/v1alpha1/clusterConfigClient.go
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/discovery/v1alpha1/foreignClusterClient.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  apis/net/v1alpha1/tunnelEndpointClient.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  cmd/virtual-kubelet/provider/types.go
  go.mod
  internal/discovery/authData.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/utils/utils.go
  internal/liqonet/route-operator/symmetricRoutingOperator_test.go
  internal/utils/log/log.go
  internal/utils/log/logrus/logrus.go
  internal/utils/log/logrus/logrus_test.go
  internal/utils/log/nop.go
  pkg/consts/discovery.go
  pkg/crdClient/client.go
  pkg/discovery/const.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
  pkg/object-references/types.go
  pkg/utils/owner-ref.go
  pkg/utils/testutil/cluster.go
  pkg/virtualKubelet/provider/test/const.go
Labels: networking, discovery, virtual-node, size/XL, merge-requested

#808 Init liqoctl command
  cmd/liqoctl/cmd/doc.go
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/main.go
  go.mod
  go.sum
  pkg/liqoctl/install/doc.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/helm/chart.go
  pkg/liqoctl/install/helm/const.go
  pkg/liqoctl/install/helm/doc.go
  pkg/liqoctl/install/helm/init.go
  pkg/liqoctl/install/kubeadm/doc.go
  pkg/liqoctl/install/kubeadm/kubeadm_test.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/kubeadm/types.go
  pkg/liqoctl/install/kubeadm/utils.go
  pkg/liqoctl/install/provider/doc.go
  pkg/liqoctl/install/provider/interface.go
  pkg/liqoctl/install/utils.go
Labels: networking, discovery, virtual-node, size/XL, merge-requested, documentation

#778 Add New Pipeline steps for modular CI
  test/e2e/pipeline/README.md
  test/e2e/pipeline/diagnostic/diagnose.sh
  test/e2e/pipeline/infra/kind/clean.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/infra/kind/setup.sh
  test/e2e/pipeline/infra/kind/templates/cluster-templates.yaml.tmpl
  test/e2e/pipeline/installer/quickstart/setup.sh
  test/e2e/pipeline/installer/quickstart/uninstall.sh
Labels: size/L, merge-requested

#817 Add testing option to /rebase
  .github/workflows/greeting.yml
  .github/workflows/rebase.yml
  .github/workflows/slash-commands.yml
  .github/workflows/test.yml
Labels: size/M

#818 Use namespace lister in tenant namespace manager
  deployments/liqo/files/liqo-crd-replicator-ClusterRole.yaml
  internal/auth-service/identity.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
Labels: discovery, size/L, merge-requested

#813 Make deployment arguments configurable with Helm
  cmd/liqo-webhook/main.go
  cmd/liqonet/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/values.yaml
Labels: networking, size/L, merge-requested

#810 Add AWS Provider in Liqoctl
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/providers.go
  cmd/liqoctl/cmd/root.go
  go.mod
  go.sum
  pkg/liqoctl/install/eks/cluster.go
  pkg/liqoctl/install/eks/doc.go
  pkg/liqoctl/install/eks/eks_test.go
  pkg/liqoctl/install/eks/iam.go
  pkg/liqoctl/install/eks/policy.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/utils.go
  pkg/liqoctl/install/utils/doc.go
  pkg/liqoctl/install/utils/flags.go
Labels: size/XL, merge-requested

#829 Add Liqoctl pipeline
  .github/workflows/doc.yml
  .github/workflows/integration.yml
  .github/workflows/test.yml
  build/liqo-test/Dockerfile
Labels: size/M, merge-requested

#820 Add GKE Provider in Liqoctl
  cmd/liqoctl/cmd/providers.go
  go.mod
  go.sum
  pkg/liqoctl/install/gke/doc.go
  pkg/liqoctl/install/gke/gke_test.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/utils.go
Labels: size/L, merge-requested

#826 Setup a global context in liqoctl
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/main.go
  pkg/liqoctl/common/const.go
  pkg/liqoctl/common/doc.go
  pkg/liqoctl/install/const.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/helm/const.go
  pkg/liqoctl/install/helm/init.go
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/utils.go
Labels: size/L, merge-requested

#821 Add AKS Provider in Liqoctl
  cmd/liqoctl/cmd/providers.go
  go.mod
  go.sum
  pkg/liqoctl/install/aks/aks_test.go
  pkg/liqoctl/install/aks/doc.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/utils.go
Labels: size/L, merge-requested

#828 Add K3S Provider in Liqoctl
  cmd/liqoctl/cmd/providers.go
  pkg/liqoctl/install/k3s/doc.go
  pkg/liqoctl/install/k3s/k3s_test.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/utils.go
Labels: size/L, merge-requested

#833 Refactor liqonet main.go and add operator specific flags
  cmd/liqonet/endpoint-creator-operator.go
  cmd/liqonet/flags.go
  cmd/liqonet/gateway-operator.go
  cmd/liqonet/main.go
  cmd/liqonet/route-operator.go
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  internal/liqonet/route-operator/route_operator_suite_test.go
  pkg/consts/liqonet.go
  pkg/liqonet/overlay/vxlan.go
  pkg/liqonet/overlay/vxlan_test.go
  pkg/liqonet/routing/vxlanRouting_test.go
Labels: networking, size/XL, merge-requested

#827 Refactor resource-request-controller tests
  cmd/liqo-controller-manager/main.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/resource-request-controller/broadcaster.go
  pkg/liqo-controller-manager/resource-request-controller/doc.go
  pkg/liqo-controller-manager/resource-request-controller/interfaces/clusterResourceInterface.go
  pkg/liqo-controller-manager/resource-request-controller/interfaces/doc.go
  pkg/liqo-controller-manager/resource-request-controller/interfaces/updaterInterface.go
  pkg/liqo-controller-manager/resource-request-controller/offerUpdater.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller_methods.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/resource-request-controller/testutils/doc.go
  pkg/liqo-controller-manager/resource-request-controller/testutils/utils.go
  pkg/liqo-controller-manager/resource-request-controller/utils.go
  pkg/utils/errorsManagement/errorUtils.go
Labels: size/XL, merge-requested

#836 Change auth-service listening port from 443 to 8443
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-auth-service.yaml
Labels: size/S, merge-requested

#780 Documentation: new "faq" section for the namespace offloading logic.
  docs/pages/faq/namespaceoffloading/index.md
  docs/pages/usage/namespace_offloading.md
Labels: discovery, size/M, ok-to-test, merge-requested, documentation

#843 Update chart dependencies
  Makefile
  cmd/liqo-controller-manager/main.go
  deployments/liqo/Chart.lock
  deployments/liqo/Chart.yaml
  go.mod
  go.sum
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller_methods.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/mapperUtils/mapper.go
Labels: size/M, merge-requested

#834 Incoming Peering Management
  apis/config/v1alpha1/clusterconfig_types.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/resourcerequest_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/values.yaml
  internal/discovery/discovery_test.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign.go
  pkg/liqo-controller-manager/resource-request-controller/eventHandler.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequestPhase.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequestPhase_test.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller_methods.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/resource-request-controller/utils.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/uninstaller/deletion.go
  pkg/utils/foreignCluster/incomingPeering.go
  pkg/utils/foreignCluster/incomingPeering_test.go
  pkg/utils/foreignCluster/peeringPhase_test.go
  test/unit/crdReplicator/env_test.go
Labels: discovery, size/XL, merge-requested

#838 Several improvements on Liqoctl
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/providers.go
  go.mod
  go.sum
  pkg/liqoctl/install/helm/chart.go
  pkg/liqoctl/install/helm/init.go
  pkg/liqoctl/install/kind/doc.go
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/install/kind/types.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/kubeadm/types.go
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/utils.go
  pkg/liqoctl/install/utils/map.go
  pkg/liqoctl/install/utils/map_test.go
Labels: size/L, merge-requested

#850 Fix AWS IAM Username Collision
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
Labels: size/S, merge-requested

#773 Remove Informer Factory from CrdReplicator
  cmd/crd-replicator/main.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/peeringPhase_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
Labels: size/L, merge-requested

#852 Liqoctl Check Cluster Endpoint
  cmd/liqoctl/cmd/install.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/provider/interface.go
  pkg/liqoctl/install/utils/apiserverendpoint.go
  pkg/liqoctl/install/utils/apiserverendpoint_test.go
Labels: size/L, merge-requested
