Repository liqotech/liqo, pull requests merged in 2021-04, with the labels that each got.

#531 Introduce retry logic into "get ClusterID" function
  cmd/crd-replicator/main.go
  pkg/liqonet/utils.go
  pkg/liqonet/utils_test.go
Labels: merge-requested, networking, ok-to-test, size/L

#551 Build ARM images only for releases and master branch
  .github/workflows/integration.yml
Labels: size/XS

#550 Fix Get External Address for the Auth Service
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/discovery/nodeUtils.go
  pkg/kubeconfig/create.go
Labels: discovery, merge-requested, size/M

#549 Update Liqo Installer
  .github/workflows/integration.yml
  deployments/liqo/Chart.yaml
  deployments/liqo/index.yaml
  install.sh
  test/installer/install-test.sh
Labels: merge-requested, size/L

#540 IPAM persistency
  apis/net/v1alpha1/groupversion_info.go
  apis/net/v1alpha1/ipamstorage_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  cmd/liqonet/main.go
  deployments/liqo/crds/net.liqo.io_ipams.yaml
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  deployments/liqo/files/liqo-network-manager-ClusterRole.yaml
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/clusterConfig/watchConfig.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipamStorage.go
  pkg/liqonet/ipam_test.go
Labels: networking, ok-to-test, size/XXL

#552 Added new apis resourceRequest and resourceOffer
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
Labels: discovery, merge-requested, ok-to-test, size/XL

#557 Reserve a subnet equal to network pool
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
Labels: networking, ok-to-test, size/M, virtual-node

#559 Fixed changePodIp func
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/forge/forge_suite_test.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
Labels: ok-to-test, size/L, virtual-node

#562 Removed old ipam crd
  deployments/liqo/crds/net.liqo.io_ipams.yaml
Labels: ok-to-test, size/M

#563 Fixed Spec and Status fields of ResourceRequest api
  apis/discovery/v1alpha1/resourcerequest_types.go
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
Labels: ok-to-test, size/XS

#564 Fix: Freeing a reserved subnet equal to a network pool
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/utils.go
Labels: networking, ok-to-test, size/L

#569 Add NamespaceMap CRD
  apis/virtualKubelet/v1alpha1/groupversion_info.go
  apis/virtualKubelet/v1alpha1/namespacemap_types.go
  apis/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
Labels: merge-requested, ok-to-test, size/L

#571 Namespace-controller
  cmd/advertisement-operator/main.go
  pkg/liqo-controller-manager/const.go
  pkg/liqo-controller-manager/namespace-controller/manage_namespace_labels.go
  pkg/liqo-controller-manager/namespace-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller_test.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
Labels: advertisement_management, ok-to-test, size/XXL

#575 Fix - Get Node Address
  docs/pages/User/GettingStarted/test.md
  internal/advertisement-operator/broadcaster.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/advertisement-operator/forge.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/node.go
  test/e2e/deploy_app_test.go
  test/e2e/net_test.go
  test/e2e/unjoin_e2e/unjoin_test.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, discovery, documentation, size/M, virtual-node

#574 Tenant Control Namespace Manager
  pkg/discovery/const.go
  pkg/tenantControlNamespace/bindings.go
  pkg/tenantControlNamespace/const.go
  pkg/tenantControlNamespace/interface.go
  pkg/tenantControlNamespace/namespaceManager.go
  pkg/tenantControlNamespace/tenantControlNamespaceManager_test.go
Labels: size/L

#570 Virtual Kubelet Node controller 1/6
  cmd/virtual-kubelet/internal/commands/root/http.go
  cmd/virtual-kubelet/internal/commands/root/root.go
  cmd/virtual-kubelet/internal/commands/root/tracing.go
  cmd/virtual-kubelet/internal/provider/provider.go
  cmd/virtual-kubelet/internal/provider/store.go
  cmd/virtual-kubelet/main.go
  pkg/virtualKubelet/kubeletInterface/provider.go
  pkg/virtualKubelet/manager/doc.go
  pkg/virtualKubelet/manager/resource.go
  pkg/virtualKubelet/manager/resource_test.go
  pkg/virtualKubelet/node/api/doc.go
  pkg/virtualKubelet/node/api/exec.go
  pkg/virtualKubelet/node/api/helpers.go
  pkg/virtualKubelet/node/api/logs.go
  pkg/virtualKubelet/node/api/pods.go
  pkg/virtualKubelet/node/api/server.go
  pkg/virtualKubelet/node/api/stats.go
  pkg/virtualKubelet/node/doc.go
  pkg/virtualKubelet/node/env.go
  pkg/virtualKubelet/node/env_internal_test.go
  pkg/virtualKubelet/node/lifecycle_test.go
  pkg/virtualKubelet/node/mock_test.go
  pkg/virtualKubelet/node/node.go
  pkg/virtualKubelet/node/node_test.go
  pkg/virtualKubelet/node/pod.go
  pkg/virtualKubelet/node/pod_test.go
  pkg/virtualKubelet/node/podcontroller.go
  pkg/virtualKubelet/node/podcontroller_test.go
  pkg/virtualKubelet/node/queue.go
  pkg/virtualKubelet/node/sync.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
  pkg/virtualKubelet/test/e2e/framework/env.go
  pkg/virtualKubelet/test/e2e/framework/framework.go
  pkg/virtualKubelet/test/e2e/framework/node.go
  pkg/virtualKubelet/test/e2e/framework/pod.go
  pkg/virtualKubelet/test/e2e/framework/stats.go
  pkg/virtualKubelet/test/e2e/main_test.go
  pkg/virtualKubelet/test/suite/suite.go
  pkg/virtualKubelet/test/suite/suite_test.go
  pkg/virtualKubelet/test/util/kubernetes.go
  pkg/virtualKubelet/test/util/resource_manager.go
  pkg/virtualKubelet/translation/serviceEnv/serviceEnv_test.go
Labels: merge-requested, ok-to-test, virtual-node

#576 Refactor Init Virtual Kubelet
  .github/labeler.yml
  .github/workflows/integration.yml
  build/init-virtual-kubelet/Dockerfile
  build/init-vkubelet/Dockerfile
  cmd/advertisement-operator/main.go
  cmd/init-virtual-kubelet/main.go
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  pkg/uninstaller/resources.go
  pkg/utils/owner-ref.go
  pkg/utils/write.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/csr/approve.go
  pkg/vkMachinery/csr/approve_test.go
  pkg/vkMachinery/csr/generation.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  scripts/virtual-kubelet/dep.sh
  scripts/virtual-kubelet/script.sh
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/creation_test.go
  test/unit/advertisement-operator/owner-ref_test.go
Labels: advertisement_management, hold, size/L, virtual-node

#579 Add Docker cache to Liqo builds
  .github/workflows/integration.yml
Labels: merge-requested, size/S

#580 Remote Peering RBAC
  Makefile
  deployments/liqo/files/liqo-remote-peering-basic-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-incoming-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-outgoing-ClusterRole.yaml
  deployments/liqo/templates/liqo-remote-peering-rbac.yaml
  pkg/peering-roles/basic/basic.go
  pkg/peering-roles/incoming/incoming.go
  pkg/peering-roles/outgoing/outgoing.go
Labels: size/L

#561 VirtualNode-controller
  cmd/advertisement-operator/main.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_lifecycle.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
Labels: advertisement_management, ok-to-test, size/XL

#582 Virtual Kubelet Node Controller 2/6
  cmd/virtual-kubelet/internal/commands/providers/provider.go
  cmd/virtual-kubelet/internal/commands/version/version.go
  cmd/virtual-kubelet/main.go
  cmd/virtual-kubelet/provider/README.md
  cmd/virtual-kubelet/provider/provider.go
  cmd/virtual-kubelet/provider/store.go
  cmd/virtual-kubelet/provider/types.go
  cmd/virtual-kubelet/register.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  cmd/virtual-kubelet/root/tracing.go
  cmd/virtual-kubelet/root/tracing_register.go
  cmd/virtual-kubelet/root/tracing_register_jaeger.go
  cmd/virtual-kubelet/root/tracing_register_ocagent.go
  cmd/virtual-kubelet/root/tracing_register_test.go
  go.sum
  pkg/virtualKubelet/kubeletInterface/provider.go
  pkg/virtualKubelet/node/module/api/doc.go
  pkg/virtualKubelet/node/module/api/exec.go
  pkg/virtualKubelet/node/module/api/helpers.go
  pkg/virtualKubelet/node/module/api/logs.go
  pkg/virtualKubelet/node/module/api/pods.go
  pkg/virtualKubelet/node/module/api/server.go
  pkg/virtualKubelet/node/module/api/stats.go
  pkg/virtualKubelet/node/module/doc.go
  pkg/virtualKubelet/node/module/env.go
  pkg/virtualKubelet/node/module/env_internal_test.go
  pkg/virtualKubelet/node/module/lifecycle_test.go
  pkg/virtualKubelet/node/module/mock_test.go
  pkg/virtualKubelet/node/module/node.go
  pkg/virtualKubelet/node/module/node_test.go
  pkg/virtualKubelet/node/module/pod.go
  pkg/virtualKubelet/node/module/pod_test.go
  pkg/virtualKubelet/node/module/podcontroller.go
  pkg/virtualKubelet/node/module/podcontroller_test.go
  pkg/virtualKubelet/node/module/queue.go
  pkg/virtualKubelet/node/module/sync.go
  pkg/virtualKubelet/node/provider/node.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
Labels: merge-requested, ok-to-test, virtual-node

#578 Certificate Identity Manager
  pkg/clusterID/test/clusterID-mock.go
  pkg/identityManager/certificate.go
  pkg/identityManager/client.go
  pkg/identityManager/const.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/identityManager/signingRequest.go
  pkg/tenantControlNamespace/namespaceManager.go
Labels: size/XL

#586 Unistaller 2/2
  .github/workflows/integration.yml
  cmd/uninstaller/main.go
  pkg/uninstaller/const.go
  pkg/uninstaller/deletion.go
  pkg/uninstaller/helpers.go
  pkg/uninstaller/resources.go
  pkg/uninstaller/wait.go
Labels: size/XL

#585 Refactor of NamespaceMap CRD
  apis/virtualKubelet/v1alpha1/namespacemap_types.go
  apis/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  pkg/liqo-controller-manager/const.go
  pkg/liqo-controller-manager/namespace-controller/manage_namespace_labels.go
  pkg/liqo-controller-manager/namespace-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller_test.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_lifecycle.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
Labels: advertisement_management, merge-requested, ok-to-test, size/L

#587 Add NamespaceMap-controller to Liqo's controllers
  pkg/liqo-controller-manager/namespaceMap-controller/manage_remote_clients.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller.go
Labels: advertisement_management, merge-requested, ok-to-test, size/L
