Repository liqotech/liqo, pull requests merged in 2021-09, with the labels that each got.

#856 Liqoctl Add Cluster Labels
  pkg/consts/clusterlabels.go
  pkg/liqoctl/install/aks/aks_test.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/cluster.go
  pkg/liqoctl/install/eks/eks_test.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/gke/gke_test.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/k3s/k3s_test.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/kubeadm/types.go
  pkg/liqoctl/install/utils/slice.go
Labels: size/L, merge-requested

#832 Refactoring installation documentation
  docs/pages/_index.md
  docs/pages/concepts/networking/_index.md
  docs/pages/installation/_index.md
  docs/pages/installation/advanced.md
  docs/pages/installation/platforms/aks.md
  docs/pages/installation/platforms/gke.md
  docs/pages/installation/platforms/k3s.md
  docs/pages/installation/platforms/k8s.md
  docs/pages/installation/pre-install.md
  pkg/liqoctl/install/handler.go
Labels: size/XL, merge-requested, documentation

#853 Add support for vpn endpoint addresses when given as DNS addresses
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/liqonet/tunnel/wireguard/driver_test.go
  pkg/liqonet/tunnel/wireguard/mock.go
  pkg/liqonet/tunnel/wireguard/wireguard_suite_test.go
Labels: networking, size/L, merge-requested

#858 ResourceRequest: prevent race condition
  internal/discovery/foreign-cluster-operator/auth.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequestPhase.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequestPhase_test.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resource-request-controller/utils.go
  pkg/liqo-controller-manager/resource-request-controller/utils_test.go
Labels: discovery, size/L, merge-requested

#860 Add completion in liqoctl documentation
  cmd/liqoctl/main.go
  docs/pages/installation/_index.md
Labels: size/L, merge-requested, documentation

#845 IPAM documentation
  docs/images/liqonet/liqo-network-manager-simple-flow.png
  docs/images/liqonet/networkconfigs-exchange-flow.png
  docs/images/liqonet/networkconfigs-exchange-info.png
  docs/images/liqonet/offloaded-pod-ip.png
  docs/images_src/liqonet/liqo-network-manager-simple-flow.xml
  docs/images_src/liqonet/networkconfigs-exchange-flow.xml
  docs/images_src/liqonet/networkconfigs-exchange-info.xml
  docs/images_src/liqonet/offloaded-pod-ip.xml
  docs/pages/concepts/networking/components/network-manager.md
Labels: size/L, merge-requested, documentation

#863 Fixed broken link in docs
  docs/pages/concepts/networking/components/network-manager.md
Labels: size/XS, merge-requested, documentation

#862 Add Extra Annotation and Labels on Virtual Kubelet and Virtual Node
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/node.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-controller-manager.yaml
  deployments/liqo/values.yaml
  docs/pages/installation/chart_values.md
  pkg/liqo-controller-manager/resourceoffer-controller/controller_config.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/liqoctl/install/aks/provider.go
  pkg/utils/args/args_test.go
  pkg/utils/args/doc.go
  pkg/utils/args/stringlist.go
  pkg/utils/args/stringmap.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: virtual-node, size/L, merge-requested, documentation

#866 Move Liqoctl Providers to Subcommands
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/providers.go
  pkg/liqoctl/install/aks/aks_test.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/eks_test.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/gke/gke_test.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/k3s_test.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/utils/flags.go
Labels: size/L, merge-requested

#864 Complete cluster config removal from the auth service
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  cmd/auth-service/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth_test.go
  internal/auth-service/identity.go
  internal/auth-service/idsHttpHandler.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/auth/authconfigprovider.go
  pkg/auth/identityresponse.go
  pkg/identityManager/identityManager_test.go
  pkg/utils/apiserver/address.go
  pkg/utils/apiserver/address_test.go
  pkg/utils/apiserver/apiserver_suite_test.go
  pkg/utils/apiserver/config.go
  pkg/utils/apiserver/config_test.go
  pkg/utils/apiserver/doc.go
  pkg/utils/watchConfig.go
Labels: discovery, size/L, merge-requested

#868 Remove the cluster config from network operators
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  cmd/liqonet/endpoint-creator-operator.go
  cmd/liqonet/flags.go
  cmd/liqonet/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/liqonet.go
  test/unit/crdReplicator/env_test.go
Labels: networking, size/XL, merge-requested

#871 Propagate Tolerations when forging foreign Pods
  pkg/virtualKubelet/forge/forge_test.go
  pkg/virtualKubelet/forge/pods.go
Labels: virtual-node, size/M, merge-requested

#874 Remove the deprecated crd client
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/discovery/v1alpha1/searchdomain_types.go
  apis/net/v1alpha1/networkconfig_types.go
  cmd/virtual-kubelet/root/root.go
  internal/auth-service/auth_test.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/clusterid/clusterID.go
  pkg/crdClient/ClientInterface.go
  pkg/crdClient/api.go
  pkg/crdClient/client.go
  pkg/crdClient/doc.go
  pkg/crdClient/fakeApi.go
  pkg/crdClient/fakeInformer.go
  pkg/crdClient/fakeInformerMethods.go
  pkg/crdClient/informer.go
  pkg/crdClient/registry.go
  pkg/identityManager/identityManager_test.go
  pkg/liqoctl/add/add_test.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
  pkg/utils/testutil/cluster.go
Labels: networking, discovery, virtual-node, size/XXL, merge-requested, documentation

#878 Fix Liqoctl Add
  cmd/liqoctl/main.go
Labels: size/XS, merge-requested

#870 Update documentation and tutorial to liqoctl
  docs/pages/_index.md
  docs/pages/gettingstarted/_index.md
  docs/pages/gettingstarted/extended/dynamic_topology.md
  docs/pages/gettingstarted/extended/hard_constraints.md
  docs/pages/gettingstarted/extended/install.md
  docs/pages/gettingstarted/extended/kind.md
  docs/pages/gettingstarted/extended/peer.md
  docs/pages/gettingstarted/extended/select_clusters.md
  docs/pages/gettingstarted/helloworld/install.md
  docs/pages/installation/_index.md
  pkg/liqoctl/add/consts.go
  pkg/liqoctl/add/handler.go
Labels: size/L, merge-requested, documentation

#877 Add docs command to liqoctl tool
  cmd/liqoctl/cmd/docs.go
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/docs/consts.go
  pkg/liqoctl/docs/doc.go
  pkg/liqoctl/docs/handler.go
Labels: size/L, merge-requested

#879 Fix Timeout When Contacting the Remote Auth Service
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/utils/utils.go
  pkg/liqoctl/generate/generate_test.go
  pkg/liqoctl/generate/handler.go
Labels: discovery, size/M, merge-requested

#882 Add liqoctl version command
  .github/workflows/integration.yml
  .gitignore
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/version.go
  pkg/liqoctl/version/consts.go
  pkg/liqoctl/version/doc.go
  pkg/liqoctl/version/handler.go
Labels: kind/feature, size/L, merge-requested

#883 Add liqoctl install custom output
  cmd/liqoctl/cmd/add.go
  cmd/liqoctl/cmd/generate-add.go
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/providers.go
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/add/consts.go
  pkg/liqoctl/add/handler.go
  pkg/liqoctl/generate/handler.go
  pkg/liqoctl/install/handler.go
Labels: size/L, merge-requested

#880 New Liqoctl Remove Command
  cmd/liqoctl/cmd/remove.go
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/add/consts.go
  pkg/liqoctl/add/handler.go
  pkg/liqoctl/remove/consts.go
  pkg/liqoctl/remove/doc.go
  pkg/liqoctl/remove/handler.go
  pkg/liqoctl/remove/remove_test.go
Labels: size/L, merge-requested

#884 Add url query parser to liqo doc website
  docs/pages/installation/_index.md
Labels: size/XS, documentation

#887 Fix Liqoctl Output
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/utils/logs/doc.go
  pkg/utils/logs/logfilter.go
Labels: size/M, merge-requested

#891 Remove obsolete CRD and fix Makefile
  Makefile
  apis/virtualKubelet/v1alpha1/groupversion_info.go
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacenattingtables.yaml
Labels: size/M, merge-requested

#889 Added mutex in IPAM module
  pkg/liqonet/ipam/ipam.go
Labels: networking, size/S, merge-requested

#892 Liqoctl Set NodePort Services in k3s
  pkg/liqoctl/install/k3s/provider.go
Labels: size/S, merge-requested

#888 Update README.md
  README.md
  docs/pages/concepts/networking/components/network-manager.md
  docs/pages/configuration/configure.md
  docs/pages/configuration/discovery.md
  docs/pages/gettingstarted/extended/install.md
  docs/pages/installation/_index.md
Labels: community, size/L, documentation

#894 Fix Slash commands in Liqo pipelines
  .github/workflows/slash-commands.yml
Labels: size/XS

#895 Bump controller runtime to v0.10.0
  go.mod
  go.sum
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
Labels: virtual-node, size/S, merge-requested

#893 Move TunnelEndpoint fields to the spec stanza
  apis/net/v1alpha1/tunnel_endpoint_types.go
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/liqonet.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting_test.go
  pkg/liqonet/routing/gatewayRouting_test.go
  pkg/liqonet/routing/routing_suite_test.go
  pkg/liqonet/routing/vxlanRouting_test.go
  pkg/liqonet/utils/utils.go
  test/integration/integration_suite_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
Labels: networking, size/XL, merge-requested

#899 Update EKS status on README.md
  README.md
Labels: community, size/XS

#896 Add Support For OwnerReferencesPermissionEnforcement Admission Controller
  apis/sharing/v1alpha1/groupversion_info.go
  cmd/discovery/main.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-discovery-ClusterRole.yaml
  deployments/liqo/files/liqo-network-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/permission.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller.go
  pkg/tenantNamespace/clusterwide.go
  pkg/tenantNamespace/interface.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
  pkg/virtualKubelet/roles/local/role.go
Labels: networking, discovery, virtual-node, size/L, merge-requested

#903 Remove legacy section in README.md
  README.md
Labels: community, size/XS, merge-requested

#904 Replace deprecated linter
  .golangci.yml
Labels: size/XS, merge-requested

#906 Fix Metrics Permission
  deployments/liqo/files/liqo-virtual-kubelet-remote-ClusterRole.yaml
  pkg/virtualKubelet/roles/remote/role.go
Labels: virtual-node, size/XS, merge-requested

#897 Increase the idempotence of the tunnel endpoint creator
  cmd/liqonet/network-manager.go
  deployments/liqo/files/liqo-network-manager-ClusterRole.yaml
  internal/liqonet/network-manager/netcfgcreator/networkconfig.go
  internal/liqonet/network-manager/netcfgcreator/networkconfig_test.go
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
Labels: networking, size/L, merge-requested

#908 Generate ClusterID During Helm Installation
  cmd/auth-service/main.go
  cmd/crd-replicator/main.go
  cmd/discovery/main.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-clusterid-configmap.yaml
  deployments/liqo/templates/liqo-controller-manager.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  go.mod
  internal/auth-service/auth-service.go
  internal/auth-service/auth_test.go
  internal/auth-service/idsHttpHandler.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/peeringPhase_test.go
  pkg/clusterid/clusterID.go
  pkg/clusterid/doc.go
  pkg/clusterid/staticClusterID.go
  pkg/clusterid/test/clusterID-mock.go
  pkg/consts/clusterid.go
  pkg/discoverymanager/discovery.go
  pkg/discoverymanager/discovery_test.go
  pkg/discoverymanager/foreign.go
  pkg/discoverymanager/register.go
  pkg/discoverymanager/resolve.go
  pkg/identityManager/certificate.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/resourceRequest.go
  pkg/liqo-controller-manager/foreign-cluster-operator/validator.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqoctl/add/add_test.go
  pkg/liqoctl/generate/generate_test.go
  pkg/utils/cluster_info.go
  pkg/virtualKubelet/provider/provider.go
Labels: virtual-node, size/XL, merge-requested

#911 Remove dead code
  pkg/consts/clusterid.go
  pkg/liqonet/utils/utils.go
  pkg/liqonet/utils/utils_test.go
Labels: networking, size/L, merge-requested

#905 Minor performance improvements and bug fixing
  apis/offloading/v1alpha1/groupversion_info.go
  cmd/uninstaller/main.go
  deployments/liqo/files/liqo-pre-delete-ClusterRole.yaml
  internal/auth-service/auth-service.go
  internal/auth-service/auth_test.go
  internal/auth-service/identity.go
  pkg/auth/identityresponse.go
  pkg/identityManager/identityManager_test.go
  pkg/liqo-controller-manager/resource-request-controller/broadcaster.go
  pkg/liqo-controller-manager/resource-request-controller/offerUpdater.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_creation.go
  pkg/uninstaller/const.go
  pkg/uninstaller/wait.go
  pkg/utils/apiserver/address.go
  pkg/utils/apiserver/config.go
  pkg/utils/apiserver/config_test.go
Labels: size/L, merge-requested

#910 Disable Discovery Deployment
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/remove.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-discovery-rbac.yaml
  deployments/liqo/values.yaml
  docs/pages/installation/chart_values.md
  install.sh
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/remove/handler.go
  pkg/uninstaller/discovery.go
Labels: size/M, merge-requested, documentation

#913 Implement basic caching in IPAM storage
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipamStorage.go
  pkg/liqonet/ipam/ipam_test.go
Labels: networking, size/L, merge-requested

#915 Make foreign cluster workers configurable
  cmd/liqo-controller-manager/main.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
Labels: size/XS, merge-requested
