Repository liqotech/liqo, pull requests merged in 2021-02, with the labels that each got.

#464 refactoring of agentConfig section of ClusterConfig CRD
  apis/config/v1alpha1/clusterconfig_types.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/values.yaml
Labels: size/M

#471 Webhook resources update
  deployments/liqo/templates/liqo-webhook-deployment.yaml
Labels: size/XS, virtual-node

#472 Github Actions: remove legacy step from integration pipeline
  .github/workflows/integration.yml
Labels: size/XS

#470 Github Actions: ensure generated artifacts are up-to-date
  .github/workflows/check-generated-artifacts.yml
  deployments/liqo/crds/sharing.liqo.io_advertisements.yaml
Labels: merge-requested, size/M

#477 HelmChart: templatizing the clusterconfig file
  .github/workflows/check-generated-artifacts.yml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/values.yaml
  install.sh
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
Labels: merge-requested, networking, size/L

#478 Webhook helm chart
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/liqo-webhook-rbac.yaml
  deployments/liqo/templates/liqo-webhook-service.yaml
  deployments/liqo/templates/liqo-webhook.yaml
  deployments/liqo/values.yaml
Labels: size/L

#479 HelmChart: templatizing the crdReplicator component
  Makefile
  deployments/liqo/files/liqo-crd-replicator-rbac.yaml
  deployments/liqo/templates/crd-replicator-deployment.yaml
  deployments/liqo/templates/crd-replicator-rbac.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-rbac.yaml
  deployments/liqo/values.yaml
  internal/crdReplicator/crdReplicator-operator.go
Labels: merge-requested, size/L

#482 HelmChart: templatizing the networkManager component
  Makefile
  deployments/liqo/files/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/tunnel-creator-endpoint-rbac.yaml
  deployments/liqo/templates/tunnel-endpoint-operator-deploy.yaml
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
Labels: merge-requested, networking, size/L

#481 Peering request helm chart
  Makefile
  deployments/liqo/files/liqo-peering-request-rbac.yaml
  deployments/liqo/templates/discovery-deploy.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/peering-request-deploy.yaml
  deployments/liqo/templates/peering-request-rbac.yaml
  deployments/liqo/templates/scheduling-node-deployment.yaml
  deployments/liqo/templates/scheduling-node-rbac.yaml
  deployments/liqo/templates/trusted-ca-certificates.yaml
  deployments/liqo/values.yaml
  internal/advertisement-operator/controller.go
  internal/peering-request-operator/peering-request-controller.go
Labels: advertisement_management, discovery, merge-requested, size/L

#483 Installer update
  install.sh
Labels: advertisement_management, discovery, merge-requested, size/XS

#485 [WIP] HelmChart: templatizing the discovery component
  Makefile
  deployments/liqo/files/liqo-discovery-ClusterRole.yaml
  deployments/liqo/files/liqo-discovery-Role.yaml
  deployments/liqo/templates/discovery-rbac.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-discovery-rbac.yaml
  deployments/liqo/values.yaml
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
Labels: discovery, merge-requested, size/L

#484 Templatizing container images
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-advertisement-deployment.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/network-manager-deployment.yaml
  deployments/liqo/templates/network-manager-rbac.yaml
  deployments/liqo/templates/peering-request-deploy.yaml
  deployments/liqo/values.yaml
  install.sh
Labels: merge-requested

#486 HelmChart: Fix component permissions
  Makefile
  deployments/liqo/files/liqo-auth-ClusterRole.yaml
  deployments/liqo/files/liqo-auth-Role.yaml
  deployments/liqo/files/liqo-crd-replicator-ClusterRole.yaml
  deployments/liqo/files/liqo-crd-replicator-Role.yaml
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/files/liqo-gateway-Role.yaml
  deployments/liqo/files/liqo-network-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-network-manager-Role.yaml
  deployments/liqo/files/liqo-network-manager-rbac.yaml
  deployments/liqo/files/liqo-peering-request-ClusterRole.yaml
  deployments/liqo/files/liqo-peering-request-Role.yaml
  deployments/liqo/files/liqo-route-ClusterRole.yaml
  deployments/liqo/files/liqo-route-Role.yaml
  deployments/liqo/files/liqo-webhook-ClusterRole.yaml
  deployments/liqo/files/liqo-webhook-Role.yaml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-auth-rbac.yaml
  deployments/liqo/templates/liqo-crd-replicator-rbac.yaml
  deployments/liqo/templates/liqo-discovery-rbac.yaml
  deployments/liqo/templates/liqo-gateway-rbac.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/liqo-peering-request-deployment.yaml
  deployments/liqo/templates/liqo-peering-request-rbac.yaml
  deployments/liqo/templates/liqo-route-rbac.yaml
  deployments/liqo/templates/liqo-webhook-rbac.yaml
  internal/auth-service/auth-service.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/liqonet/route-operator/route-operator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  internal/peering-request-operator/peering-request-controller.go
  pkg/mutate/mutate.go
Labels: discovery, merge-requested, networking

#489 Helm chart version update
  deployments/liqo/Chart.yaml
Labels: merge-requested, size/XS

#487 HelmChart: cleaning up the "values.yaml" file
  deployments/liqo/templates/liqo-advertisement-deployment.yaml
  deployments/liqo/templates/liqo-advertisement-rbac.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-auth-ingress.yaml
  deployments/liqo/templates/liqo-auth-rbac.yaml
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-rbac.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-discovery-rbac.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-gateway-rbac.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/liqo-peering-request-deployment.yaml
  deployments/liqo/templates/liqo-peering-request-rbac.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-route-rbac.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/liqo-webhook-rbac.yaml
  deployments/liqo/templates/liqo-webhook-service.yaml
  deployments/liqo/templates/liqo-webhook.yaml
  deployments/liqo/values.yaml
Labels: merge-requested, size/M

#490 Release pipeline: update changelog generation
  .github/workflows/integration.yml
Labels: merge-requested, size/M

#492 installer refactoring to integrate new LiqoAgent installation process
  install.sh
Labels: kind/cleanup, size/L

#488 Helm documentation
  deployments/liqo/Chart.yaml
  deployments/liqo/README.md
  deployments/liqo/values.yaml
Labels: discovery, networking, size/L

#493 Liqo provider get method fix
  pkg/virtualKubelet/provider/pods.go
Labels: size/S, virtual-node

#495 Auth values refactoring
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-auth-ingress.yaml
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-peering-request-deployment.yaml
  deployments/liqo/values.yaml
Labels: merge-requested, size/M

#496 Get External IP when the Auth Service is Exposed as LoadBalancer
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
Labels: discovery, merge-requested, size/L

#498 Update the Discovery Documentation
  docs/pages/User/Post-Install/discovery.md
Labels: documentation, merge-requested, size/L

#499 docs target added in makefile
  .github/workflows/check-generated-helm-documentation.yml
  Makefile
Labels: merge-requested, size/S

#500 ProviderFailed fix
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/provider/pods_test.go
Labels: merge-requested, size/S, virtual-node

#497 Small fixes on Documentation
  docs/pages/Architecture/discovery/_index.md
  docs/pages/Architecture/peering/_index.md
  docs/pages/User/GettingStarted/install.md
  docs/pages/User/GettingStarted/kind.md
  docs/pages/User/GettingStarted/play.md
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k3s.md
  docs/pages/User/Install/platforms/k8s.md
  docs/pages/User/Post-Install/discovery.md
  docs/pages/User/Post-Install/post-install.md
  docs/pages/User/Scenarios/_index.md
Labels: documentation, size/L

#501 Add labels with IncomingPeering discovery
  internal/peering-request-operator/foreign-cluster.go
Labels: discovery, merge-requested, size/XS

#469 Add Documentation on Inter-Cluster Authentication Mechanism
  docs/images/auth/get_identity_flowchart_complete.png
  docs/images_src/auth/get_identity_flowchart_complete.drawio
  docs/pages/User/Post-Install/authentication.md
Labels: documentation, kind/docs

#505 vk certificate signing
  scripts/virtual-kubelet/script.sh
Labels: size/S

#504 Fix Manual Discovery Documentation
  docs/pages/User/Post-Install/discovery.md
Labels: documentation, size/XS

#503 updating documentation when installing liqo on GKE
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k3s.md
Labels: documentation, size/S

#508 HelmChart: update values.yaml file and fix "liqo.version" helper
  deployments/liqo/README.md
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/values.yaml
Labels: merge-requested, size/M

#511 Fixing liqo-gateway permissions for the clusterconfigs
  apis/config/v1alpha1/clusterconfig_types.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/values.yaml
  internal/liqonet/tunnel-operator/tunnel-operator.go
  test/unit/crdReplicator/env_test.go
Labels: merge-requested, networking, size/S
