Repository liqotech/liqo, pull requests merged in 2021-01, with the labels that each got.

#438 Move VK certificate generation to K8s CSR API v1
  pkg/advertisement-operator/creation.go
  scripts/virtual-kubelet/script.sh
Labels: size/S

#436 Virtual kubelet cache protection
  internal/utils/errdefs/unavailable.go
  internal/virtualKubelet/node/pod.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/provider/pods.go
  pkg/virtualKubelet/storage/cache.go
  pkg/virtualKubelet/storage/cacheManager.go
  pkg/virtualKubelet/storage/cacheManager_test.go
  pkg/virtualKubelet/storage/interfaces.go
  pkg/virtualKubelet/storage/test/mockCacheManager.go
  pkg/virtualKubelet/translation/serviceEnv/serviceEnv.go
  pkg/virtualKubelet/utils/storage.go
Labels: size/L, virtual-node

#437 crdReplicator finalizer on foreigncluster resources
  cmd/crd-replicator/main.go
  deployments/liqo/subcharts/crdReplicator/templates/crdReplicator.yaml
  go.mod
  go.sum
  internal/crdReplicator/crdReplicator-config.go
  internal/crdReplicator/crdReplicator-config_test.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
Labels: merge-requested, size/L

#439 ClusterIdentity defaulting
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  internal/discovery/foreign-cluster-operator/clusterIdentityDefaulting.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/resolve.go
  internal/discovery/utils/utils.go
Labels: discovery, size/L

#443 Fix Cluster ID Generation
  build/liqonet/Dockerfile
  pkg/clusterID/clusterID.go
Labels: networking, size/M

#444 podmutator init container memory request updated
  deployments/liqo/subcharts/podMutator/templates/mutating-webhook.yaml
Labels: size/XS

#449 Update install and helm chart for dashboard
  deployments/liqo/Chart.yaml
  deployments/liqo/crds/dashboard.liqo.io_views.yaml
  deployments/liqo/subcharts/liqoDash/.helmignore
  deployments/liqo/subcharts/liqoDash/Chart.yaml
  deployments/liqo/subcharts/liqoDash/templates/liqodash_deployment.yaml
  deployments/liqo/subcharts/liqoDash/values.yaml
  install.sh
  test/installer/install-test.sh
Labels: size/XL

#447 BUGFIX - fix inconsistency between the in memory cache and existing vpn connection
  pkg/liqonet/tunnel/wireguard/driver.go
Labels: bug, networking, size/XS

#452 fix agent logic test
  internal/tray-agent/agent/logic/logic_test.go
Labels: size/XS, ui

#445 fix virtual node resources
  internal/advertisement-operator/broadcaster.go
Labels: advertisement_management, size/XS

#448 Add label check for PR opened from forks
  .github/workflows/integration.yml
Labels: size/M

#450 Reflection synced with TunnelEndpoint
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods_test.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets_test.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/secrets.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/services.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/namespacesMapping/namespaceMapperController.go
  pkg/virtualKubelet/options/options.go
  pkg/virtualKubelet/options/types/networking.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
  pkg/virtualKubelet/storage/cache.go
  test/unit/virtualKubelet/reflection/endpointslices_test.go
  test/unit/virtualKubelet/reflection/secrets_test.go
Labels: merge-requested, networking, size/L, virtual-node

#451 rs cleanup in virtual kubelet unjoin
  pkg/virtualKubelet/apiReflection/controller/reflectorsController.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/pods.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets.go
Labels: size/M, virtual-node

#453 Advertisement as owner-ref in virtual node
  cmd/virtual-kubelet/internal/commands/root/root.go
Labels: size/M, virtual-node

#454 FIX: liqo-gateway race condition
  internal/liqonet/tunnel-operator/tunnel-operator.go
Labels: networking, size/XS

#440 Wireguard package unit tests
  cmd/liqonet/main.go
  go.mod
  go.sum
  internal/liqonet/route-operator/route-operator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/overlay/overlay.go
  pkg/liqonet/wireguard/netlinkClient.go
  pkg/liqonet/wireguard/netlinkClient_fake.go
  pkg/liqonet/wireguard/utils.go
  pkg/liqonet/wireguard/wireguard.go
  pkg/liqonet/wireguard/wireguardClient.go
  pkg/liqonet/wireguard/wireguardClient_fake.go
  pkg/liqonet/wireguard/wireguard_suite_test.go
  pkg/liqonet/wireguard/wireguard_test.go
Labels: networking, size/XL

#456 Peering request admission webhook removed
  cmd/peering-request-operator/main.go
  deployments/liqo/subcharts/peeringRequestOperator/templates/peering-request-cm.yaml
  deployments/liqo/subcharts/peeringRequestOperator/templates/peering-request-deploy.yaml
  internal/peering-request-operator/peering-request-admission/setup.go
  internal/peering-request-operator/peering-request-admission/webhook.go
Labels: discovery, merge-requested, size/L

#455 Auth Service Unit Test
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth-token.go
  internal/auth-service/auth_test.go
  internal/auth-service/httpHandler.go
  internal/auth-service/token-validation.go
Labels: size/L

#463 fix linter after agent migration
  .github/workflows/lint.yml
Labels: size/XS

#461 Adding unit test for utils function in wireguard package
  pkg/liqonet/wireguard/wireguard_suite_test.go
  pkg/liqonet/wireguard/wireguard_test.go
Labels: networking, size/L

#458 Fix Advertisements Counter
  internal/advertisement-operator/controller.go
Labels: advertisement_management, size/S
