Repository liqotech/liqo, pull requests merged in 2021-11, with the labels that each got.

#964 add shadowpod operator
  Makefile
  apis/virtualKubelet/v1alpha1/groupversion_info.go
  apis/virtualKubelet/v1alpha1/shadowpod_types.go
  apis/virtualKubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowpods.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  internal/liqonet/network-manager/netcfgcreator/netcfgcreator_test.go
  pkg/liqo-controller-manager/resource-request-controller/broadcaster.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/shadowpod-controller/doc.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller_test.go
  pkg/liqo-controller-manager/shadowpod-controller/suite_test.go
  pkg/utils/errors/doc.go
  pkg/utils/errors/errors.go
  pkg/utils/testutil/kubernetes.go
Labels: size/XXL, merge-requested

#934 Fix --offer-disable-auto-accept for controller manager
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
Labels: size/S, merge-requested

#974 Local Virtual Storage Provisioner
  go.mod
  go.sum
  pkg/liqo-controller-manager/resource-request-controller/broadcaster.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/storageprovisioner/delete.go
  pkg/liqo-controller-manager/storageprovisioner/doc.go
  pkg/liqo-controller-manager/storageprovisioner/localprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/provision.go
  pkg/liqo-controller-manager/storageprovisioner/remoteprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
  pkg/liqo-controller-manager/storageprovisioner/suite_test.go
  pkg/mutate/manage_pod_mutation.go
  pkg/mutate/testUtils/webhook_test_utils.go
  pkg/mutate/webhook_test.go
  pkg/utils/nodeUtils.go
  pkg/utils/nodeutils_test.go
  pkg/utils/suite_test.go
Labels: size/XXL, merge-requested, documentation

#977 Fix duplicate PodCIDR assignment
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
Labels: networking, size/XS, merge-requested

#979 Add Local Storage Provisioner in the Liqo Controller Manager
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager.yaml
  deployments/liqo/templates/liqo-storage-class.yaml
  deployments/liqo/values.yaml
  docs/pages/installation/chart_values.md
  pkg/consts/storage.go
  pkg/liqo-controller-manager/storageprovisioner/controller.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner.go
Labels: size/L, merge-requested, documentation

#983 Bump Go to 1.17
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  apis/offloading/v1alpha1/zz_generated.deepcopy.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqonet/Dockerfile
  go.mod
Labels: networking, size/S, merge-requested

#980 liqoctl offload namespace
  cmd/liqoctl/cmd/offload.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/main.go
  pkg/liqoctl/add/handler.go
  pkg/liqoctl/generate/handler.go
  pkg/liqoctl/offload/consts.go
  pkg/liqoctl/offload/doc.go
  pkg/liqoctl/offload/namespace.go
  pkg/liqoctl/offload/namespace_test.go
  pkg/utils/args/enum.go
  pkg/utils/args/podstrategymapping.go
Labels: size/XL, merge-requested

#981 Virtual kubelet: working queue-based configmap reflection
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/configmaps.go
  pkg/virtualKubelet/forge/configmaps.go
  pkg/virtualKubelet/forge/configmaps_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_suite_test.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/configuration/doc.go
Labels: virtual-node, size/XL, merge-requested, kind/cleanup

#987 ConfigMap reflection: fix race condition
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
Labels: virtual-node, size/M, merge-requested

#978 Update networking components docs
  docs/pages/concepts/networking/components/gateway.md
  docs/pages/concepts/networking/components/network-manager.md
  docs/pages/concepts/networking/components/route.md
Labels: size/M, documentation

#985 refactor: move from io/ioutil to io and os packages
  internal/auth-service/auth_test.go
  internal/auth-service/identity.go
  pkg/discoverymanager/utils/utils.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/tokenManager.go
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqoctl/common/utils_test.go
  pkg/liqoctl/install/eks/iamkeycache.go
  pkg/liqonet/overlay/vxlan.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/mutate/server.go
  pkg/utils/apiserver/config.go
Labels: networking, size/M, merge-requested

#989 fix groupname for custom resource code generation
  apis/virtualkubelet/v1alpha1/doc.go
  apis/virtualkubelet/v1alpha1/groupversion_info.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_namespacemap.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowpod.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/virtualkubelet_client.go
  pkg/client/informers/externalversions/generic.go
Labels: size/M, merge-requested

#982 Fix liqoctl install of a local chart
  go.mod
  go.sum
  pkg/liqoctl/install/helm.go
  pkg/utils/cluster_info.go
Labels: size/S, merge-requested

#984 Virtual kubelet: add liqo client and informers to reflection manager
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
Labels: virtual-node, size/L, merge-requested

#993 pod reflection: prevent race condition in fallback management
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: virtual-node, size/L, merge-requested

#992 epslice reflection: fix warning
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
Labels: virtual-node, size/XS, merge-requested

#991 Add PVC Reflector in the VirtualKubelet
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/liqo-controller-manager/storageprovisioner/remoteprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
  pkg/liqo-controller-manager/storageprovisioner/suite_test.go
  pkg/utils/nodeUtils.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
  pkg/virtualKubelet/reflection/storage/controller.go
  pkg/virtualKubelet/reflection/storage/controller_test.go
  pkg/virtualKubelet/reflection/storage/doc.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim_test.go
  pkg/virtualKubelet/reflection/storage/storage_suite_test.go
  pkg/virtualKubelet/roles/local/role.go
Labels: virtual-node, size/XXL, merge-requested

#997 Refine Liqoctl Offloading
  cmd/liqoctl/cmd/generate-add.go
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/offload.go
  go.mod
  go.sum
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_controller_test.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/suite_test.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller_test.go
  pkg/liqo-controller-manager/offloadingStatus-controller/suite_test.go
  pkg/liqoctl/generate/consts.go
  pkg/liqoctl/generate/handler.go
  pkg/liqoctl/offload/consts.go
  pkg/liqoctl/offload/namespace.go
  pkg/liqoctl/offload/namespace_test.go
  pkg/utils/cachedClient/get_cached_client.go
Labels: size/M, merge-requested

#995 Store Bearer Token in a tmp file
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/tokenManager.go
Labels: virtual-node, size/M, merge-requested

#999 Upgrade Capsule Subchart to Version 0.1.3
  deployments/liqo/Chart.lock
  deployments/liqo/Chart.yaml
Labels: size/XS, merge-requested

#1002 cleanup virtual kubelet old reflection
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/apiReflection/const.go
  pkg/virtualKubelet/apiReflection/controller/controller.go
  pkg/virtualKubelet/apiReflection/controller/incomingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/outgoingReflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/reflectorsController.go
  pkg/virtualKubelet/apiReflection/controller/test/mockController.go
  pkg/virtualKubelet/apiReflection/reflectors/apiReflector.go
  pkg/virtualKubelet/apiReflection/reflectors/blacklists.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/doc.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/incoming_suite_test.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/doc.go
  pkg/virtualKubelet/apiReflection/reflectors/reflectorsInterfaces/interfaces.go
  pkg/virtualKubelet/context/ctx.go
  pkg/virtualKubelet/context/knownContexts.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
  pkg/virtualKubelet/manager/doc.go
  pkg/virtualKubelet/manager/resource.go
  pkg/virtualKubelet/manager/resource_test.go
  pkg/virtualKubelet/options/options.go
  pkg/virtualKubelet/options/types/networking.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/storage/cache.go
  pkg/virtualKubelet/storage/cacheManager.go
  pkg/virtualKubelet/storage/indexers.go
  pkg/virtualKubelet/storage/informers.go
  pkg/virtualKubelet/storage/interfaces.go
  pkg/virtualKubelet/storage/storage_suite_test.go
  pkg/virtualKubelet/storage/test/inputData.go
  pkg/virtualKubelet/storage/test/mockCacheManager.go
  pkg/virtualKubelet/utils/storage.go
Labels: virtual-node, size/XXL, merge-requested, kind/cleanup

#1007 Disable vet in unit tests
  build/liqo-test/Dockerfile
Labels: size/XS, merge-requested

#1008 Fix OpenShift Installation
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/permission.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqoctl/install/openshift/provider.go
  pkg/tenantNamespace/clusterwide.go
  pkg/tenantNamespace/interface.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
Labels: size/M

#1006 Improve e2e debuggability
  pkg/liqo-controller-manager/resource-request-controller/broadcaster.go
  pkg/utils/pod/pod.go
  pkg/utils/pod/pod_test.go
  test/e2e/pipeline/diagnostic/diagnose.sh
  test/e2e/pipeline/infra/kind/clean.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/infra/kind/setup.sh
  test/e2e/pipeline/installer/liqoctl/helm-utils.sh
  test/e2e/pipeline/installer/liqoctl/peer.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
  test/e2e/pipeline/installer/liqoctl/unpeer.sh
  test/e2e/postinstall/basic_test.go
  test/e2e/testutils/util/nodes.go
  test/e2e/testutils/util/pod.go
Labels: size/L, merge-requested

#1003 Virtual kubelet: namespace mapper refactoring
  pkg/virtualKubelet/namespacesmapping/cache.go
  pkg/virtualKubelet/namespacesmapping/namespaceMapper.go
  pkg/virtualKubelet/namespacesmapping/namespaceMapperController.go
  pkg/virtualKubelet/namespacesmapping/namespacemapper_test.go
  pkg/virtualKubelet/namespacesmapping/suite_test.go
  pkg/virtualKubelet/namespacesmapping/test/mockNamespaceMapper.go
  pkg/virtualKubelet/namespacesmapping/test/mockNamespaceMapperController.go
  pkg/virtualKubelet/namespacesmapping/test/reflectionmanager.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/manager/interface.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/namespacemap/doc.go
  pkg/virtualKubelet/reflection/namespacemap/fake/doc.go
  pkg/virtualKubelet/reflection/namespacemap/fake/namespace_start_stopper.go
  pkg/virtualKubelet/reflection/namespacemap/namespace.go
  pkg/virtualKubelet/reflection/namespacemap/namespace_suite_test.go
  pkg/virtualKubelet/reflection/namespacemap/namespace_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
Labels: virtual-node, size/XXL, merge-requested, kind/cleanup

#1004 Storage e2e test
  test/e2e/cruise/basic_test.go
  test/e2e/testutils/storage/doc.go
  test/e2e/testutils/storage/storage.go
Labels: networking, virtual-node, size/L, merge-requested, documentation

#1011 Fix Local Pvc Naming
  pkg/consts/storage.go
  pkg/liqo-controller-manager/storageprovisioner/delete.go
  pkg/liqo-controller-manager/storageprovisioner/localprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
Labels: size/S, merge-requested
