Repository liqotech/liqo, pull requests merged in 2021-06, with the labels that each got.

#649 PeeringPhase-Based Replication
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  cmd/crd-replicator/main.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/files/liqo-crd-replicator-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-outgoing-ClusterRole.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-remote-peering-rbac.yaml
  internal/crdReplicator/crdReplicator-config.go
  internal/crdReplicator/crdReplicator-config_test.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/peeringPhase.go
  internal/crdReplicator/peeringPhase_test.go
  internal/discovery/discovery-config.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/consts/peering.go
  pkg/peering-roles/outgoing/outgoing.go
  test/unit/crdReplicator/env_test.go
Labels: discovery, merge-requested, size/XL

#661 Added new IPAM gRPC
  cmd/virtual-kubelet/provider/store.go
  cmd/virtual-kubelet/register.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  pkg/liqonet/errors.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam.pb.go
  pkg/liqonet/ipam.proto
  pkg/liqonet/ipam_grpc.pb.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/test/ipam_mock.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/forge/apiForger.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/options/types/networking.go
  pkg/virtualKubelet/provider/provider.go
  test/unit/virtualKubelet/reflection/endpointslices_test.go
Labels: networking, ok-to-test, size/L, virtual-node

#659 Add new label remoteClusterId to offloaded pods.
  pkg/virtualKubelet/forge/apiForger.go
  pkg/virtualKubelet/forge/forge_test.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/options/types/networking.go
  pkg/virtualKubelet/provider/provider.go
Labels: merge-requested, ok-to-test, size/M, virtual-node

#643 NamespaceMap Controller refactor
  apis/offloading/v1alpha1/namespaceoffloading_types.go
  apis/virtualKubelet/v1alpha1/namespacemap_types.go
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  pkg/consts/discovery.go
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/namespaceMap-controller/create_remote_clients.go
  pkg/liqo-controller-manager/namespaceMap-controller/doc.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_namespacemap_controller_finalizer.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/namespaceMap-controller/suite_test.go
Labels: merge-requested, ok-to-test, size/XXL

#666 Adding privileged mode to docker contairner used to run the tests
  .github/workflows/integration.yml
Labels: merge-requested, size/XS

#655 Adding support for custom network namespace in the gateway operator
  Makefile
  cmd/liqonet/main.go
  go.mod
  go.sum
  internal/liqonet/tunnel-operator/config.go
  internal/liqonet/tunnel-operator/doc.go
  internal/liqonet/tunnel-operator/podWatcher.go
  internal/liqonet/tunnel-operator/serviceWatcher.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_test.go
  pkg/liqonet/errors.go
  pkg/liqonet/netns/doc.go
  pkg/liqonet/netns/netns.go
  pkg/liqonet/netns/netns_suite_test.go
  pkg/liqonet/netns/netns_test.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/wireguard/wireguard.go
Labels: merge-requested, networking, size/XL

#645 New OffloadingStatus Controller
  apis/virtualKubelet/v1alpha1/namespacemap_types.go
  pkg/liqo-controller-manager/offloadingStatus-controller/doc.go
  pkg/liqo-controller-manager/offloadingStatus-controller/namespaceoffloading_status_management.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller.go
  pkg/liqo-controller-manager/offloadingStatus-controller/offloadingstatus_controller_test.go
  pkg/liqo-controller-manager/offloadingStatus-controller/suite_test.go
  pkg/utils/remoteNamespaceConditions.go
Labels: merge-requested, ok-to-test, size/XL

#667 New liqonet packages
  cmd/crd-replicator/main.go
  deployments/liqo/files/liqo-network-manager-ClusterRole.yaml
  internal/crdReplicator/crdReplicator-operator.go
  internal/liqonet/route-operator/route-operator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator/gatewayPodWatcher.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/liqonet.go
  pkg/liqonet/errors/doc.go
  pkg/liqonet/errors/errors.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipamStorage.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/netns/netns.go
  pkg/liqonet/netns/netns_test.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/routing/directRouting_test.go
  pkg/liqonet/test/ipam_mock.go
  pkg/liqonet/utils/doc.go
  pkg/liqonet/utils/utils.go
  pkg/liqonet/utils/utils_suite_test.go
  pkg/liqonet/utils/utils_test.go
  pkg/virtualKubelet/forge/pods.go
Labels: networking, ok-to-test, size/L, virtual-node

#672 Fixed imports and updated some comments
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/liqonet.go
  pkg/liqonet/errors/doc.go
  pkg/utils/doc.go
Labels: merge-requested, networking, ok-to-test, size/S

#671 NAT rules for ExternalCIDR (1/4)
  apis/net/v1alpha1/groupversion_info.go
  apis/net/v1alpha1/ipamstorage_types.go
  apis/net/v1alpha1/natmapping_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  pkg/consts/liqonet.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/natmappinginflater/doc.go
  pkg/liqonet/natmappinginflater/natMappingInflater.go
  pkg/liqonet/natmappinginflater/natMappingInflater_suite_test.go
  pkg/liqonet/natmappinginflater/natMappingInflater_test.go
  pkg/liqonet/natmappinginflater/test_utils.go
Labels: merge-requested, networking, ok-to-test, size/XXL

#660 Migrate CertificatesSigningRequests API to V1
  build/liqo-test/Dockerfile
  cmd/advertisement-operator/main.go
  cmd/init-virtual-kubelet/main.go
  go.mod
  go.sum
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/signingRequest.go
  pkg/identityManager/testUtils/csrApprover.go
  pkg/utils/certificateSigningRequest/approve.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/csr/approve.go
  pkg/vkMachinery/csr/approve_test.go
  pkg/vkMachinery/csr/const.go
  pkg/vkMachinery/csr/creation.go
  pkg/vkMachinery/csr/doc.go
  pkg/vkMachinery/csr/generation.go
  pkg/vkMachinery/forge/doc.go
Labels: advertisement_management, merge-requested, size/L

#679 Routing Manager for Liqo-Gateway
  pkg/liqonet/routing/gatewayRouting.go
  pkg/liqonet/routing/gatewayRouting_test.go
  pkg/liqonet/routing/routing_suite_test.go
Labels: networking, size/L

#658 IPTables module refactoring (1/2)
  build/liqo-test/Dockerfile
  pkg/consts/iptables.go
  pkg/liqonet/errors/errors.go
  pkg/liqonet/iptables/doc.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_suite_test.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/iptables_mock.go
  pkg/liqonet/utils/utils.go
Labels: networking, ok-to-test, size/XXL

#673 Vxlan operator
  go.sum
  internal/liqonet/route-operator/doc.go
  internal/liqonet/route-operator/overlayOperator.go
  internal/liqonet/route-operator/overlayOperator_test.go
  internal/liqonet/route-operator/podWatcher.go
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/route-operator/route_operator_suite_test.go
  internal/liqonet/route-operator/serviceWatcher.go
Labels: merge-requested, networking, size/XL

#681 Updated liqonet/utils interface
  internal/crdReplicator/crdReplicator-operator.go
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/utils/utils.go
Labels: networking, ok-to-test, size/M

#683 Fixed race condition for overlay-operator tests.
  internal/liqonet/route-operator/overlayOperator_test.go
Labels: merge-requested, networking, size/S

#677 IPTables refactoring (2/2)
  cmd/liqonet/main.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/consts/iptables.go
  pkg/liqonet/iptables.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/route.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/gatewayRouting.go
  pkg/liqonet/routing/vxlanRouting.go
Labels: networking, ok-to-test, size/XXL

#641 Update README.md and Scenarios page
  README.md
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  docs/pages/User/Install/_index.md
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k8s.md
  docs/pages/User/Install/pre-install.md
  docs/pages/User/Scenarios/_index.md
Labels: community, documentation, size/L

#654 Broadcaster pod Informer
  cmd/advertisement-operator/main.go
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/suite_test.go
  internal/resource-request-operator/utils.go
Labels: advertisement_management, merge-requested, ok-to-test, size/XL

#674 NAT rules for ExternalCIDR (2/4)
  apis/net/v1alpha1/ipamstorage_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipamStorage.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/natmappinginflater/natMappingInflater.go
  pkg/liqonet/natmappinginflater/natMappingInflater_test.go
Labels: networking, ok-to-test, size/XL

#685 Fixed pre-delete logic of NetworkConfig resource
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
Labels: networking, ok-to-test, size/S

#686 Symmetric Routing for vxlan overlay
  internal/liqonet/route-operator/overlayOperator.go
  internal/liqonet/route-operator/overlayOperator_test.go
  internal/liqonet/route-operator/route_operator_suite_test.go
  internal/liqonet/route-operator/symmetricRoutingOperator.go
  internal/liqonet/route-operator/symmetricRoutingOperator_test.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/routing/gatewayRouting.go
  pkg/liqonet/routing/vxlanRouting.go
Labels: merge-requested, networking, size/XL

#689 Updated BeforeEach logic in package Liqonet
  pkg/liqonet/ipam_test.go
  pkg/liqonet/natmappinginflater/natMappingInflater_test.go
  pkg/liqonet/natmappinginflater/test_utils.go
Labels: networking, ok-to-test, size/S

#688 Bump Lease Api to V1 in the Virtual-Kubelet
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/node/module/node.go
  pkg/virtualKubelet/node/module/node_test.go
Labels: merge-requested, size/M, virtual-node

#687 Vxlan operator nodes map
  internal/liqonet/route-operator/overlayOperator.go
  internal/liqonet/route-operator/overlayOperator_test.go
Labels: merge-requested, networking, size/M

#695 "possible scenarios" hyperlink in readme does not work
  README.md
Labels: community, merge-requested, ok-to-test, size/XS

#693 Fix Node Provider Race Condition
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  go.mod
  pkg/utils/maps.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
  pkg/virtualKubelet/provider/node.go
  pkg/virtualKubelet/roles/role.go
Labels: size/L, virtual-node

#699 Refactor of VirtualNode-controller.
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/virtualNode-controller/manage_virtualnode_controller_finalizer.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_creation.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_lifecycle.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_deletion_logic.go
Labels: merge-requested, ok-to-test, size/XXL

#691 IPTables module support for NatMapping resource
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/consts/liqonet.go
  pkg/liqonet/iptables/coverage.txt
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/natmappinginflater/coverage.txt
  pkg/liqonet/utils/utils.go
Labels: merge-requested, networking, ok-to-test, size/XL

#701 fix helm install command in docs
  docs/pages/User/Install/platforms/k8s.md
Labels: documentation, merge-requested, ok-to-test, size/XS

#704 Disable Linting on branch master and releases
  .github/workflows/lint.yml
Labels: merge-requested, size/XS

#705 Fix Crd Replicator
  internal/crdReplicator/crdReplicator-operator.go
Labels: merge-requested, size/S

#703 Updated the order of the pages in the documentation section
  docs/pages/User/Install/_index.md
  docs/pages/User/Install/platforms/aks.md
  docs/pages/User/Install/platforms/gke.md
  docs/pages/User/Install/platforms/k3s.md
  docs/pages/User/Install/platforms/k8s.md
  docs/pages/User/Install/pre-install.md
Labels: documentation, size/M

#706 ResourceOffer Operator Improvements
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
Labels: merge-requested, size/L

#712 docs: fix node selector for hello world example
  docs/examples/hello-world.yaml
Labels: documentation, kind/docs, merge-requested, size/XS

#710 test: fix deletepod testcase
  pkg/virtualKubelet/provider/pods_test.go
Labels: merge-requested, ok-to-test, size/XS, virtual-node

#709 Minor fixes on IPTables module tests
  pkg/liqonet/iptables/iptables_suite_test.go
  pkg/liqonet/iptables/iptables_test.go
Labels: networking, ok-to-test, size/L

#711 Fix race condition causing netns tests to fail
  pkg/liqonet/netns/netns_suite_test.go
  pkg/liqonet/netns/netns_test.go
Labels: merge-requested, networking, size/M

#708 Enabled traffic toward ExternalCIDR
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/consts/liqonet.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/routing/directRouting_test.go
  pkg/liqonet/routing/gatewayRouting.go
  pkg/liqonet/routing/gatewayRouting_test.go
  pkg/liqonet/routing/routing_suite_test.go
  pkg/liqonet/routing/vxlanRouting.go
  pkg/liqonet/routing/vxlanRouting_test.go
  pkg/liqonet/utils/utils.go
Labels: networking, ok-to-test, size/XL

#713 Fix Update Lease Conflict
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/virtualKubelet/node/module/node.go
  pkg/virtualKubelet/roles/role.go
Labels: merge-requested, size/M, virtual-node

#692 NAT rules for ExternalCIDR (4/4)
  cmd/liqonet/main.go
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  internal/liqonet/tunnel-operator/doc.go
  internal/liqonet/tunnel-operator/natmapping-operator.go
  internal/liqonet/tunnel-operator/natmapping_operator_test.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_test.go
  pkg/liqonet/errors/errors.go
  pkg/liqonet/iptables/iptables.go
Labels: networking, ok-to-test, size/XL

#591 Changing Webhook behavior
  Makefile
  apis/offloading/v1alpha1/groupversion_info.go
  cmd/liqo-webhook/main.go
  deployments/liqo/files/liqo-webhook-ClusterRole.yaml
  go.mod
  go.sum
  pkg/consts/namespace_mapping.go
  pkg/consts/webhook.go
  pkg/liqo-controller-manager/virtualNode-controller/virtualnode_controller_test.go
  pkg/mapperUtils/mapper.go
  pkg/mutate/doc.go
  pkg/mutate/manage_pod_mutation.go
  pkg/mutate/mutate.go
  pkg/mutate/server.go
  pkg/mutate/testUtils/doc.go
  pkg/mutate/testUtils/webhook_test_utils.go
  pkg/mutate/webhook_test.go
  pkg/utils/cachedClient/get_cached_client.go
  pkg/vkMachinery/forge/forge.go
Labels: advertisement_management, discovery, merge-requested, networking, ok-to-test, size/XXL, virtual-node

#715 Fixed some issues regarding ExternalCIDR traffic
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/tunnel/wireguard/driver.go
Labels: networking, ok-to-test, size/M

#714 Add Clastix/Capsule Subchart
  deployments/liqo/Chart.lock
  deployments/liqo/Chart.yaml
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  install.sh
Labels: documentation, hold, size/S

#690 Some improvements to the resourceRequest controller.
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/utils.go
  pkg/utils/nodeUtils.go
Labels: merge-requested, ok-to-test, size/L

#716 Tenant Creation
  .github/workflows/integration.yml
  .gitignore
  Makefile
  cmd/advertisement-operator/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-virtual-kubelet-remote-ClusterRole.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-remote.yaml
  deployments/liqo/values.yaml
  go.mod
  go.sum
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_controller_methods.go
  internal/resource-request-operator/resourceRequest_operator_test.go
  internal/resource-request-operator/suite_test.go
  pkg/identityManager/const.go
  pkg/mapperUtils/mapper.go
  pkg/virtualKubelet/roles/local/role.go
  pkg/virtualKubelet/roles/remote/role.go
Labels: advertisement_management, hold, size/L, virtual-node
