Repository liqotech/liqo, pull requests merged in 2021-05, with the labels that each got.

#592 Repository dispatch fix and clean useless files
  .github/workflows/integration.yml
  deployments/liqo/liqo-cluster-config.yaml
  deployments/liqo/pre-delete.yaml
  deployments/liqo/test-job.yaml
Labels: merge-requested, size/M

#560 Add Resource Request Controller
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  internal/resource-request-operator/suite_test.go
  internal/resource-request-operator/utils.go
Labels: advertisement_management, merge-requested, ok-to-test, size/L

#593 Fix some typos in the Authentication page in docs
  docs/pages/User/Post-Install/authentication.md
Labels: documentation, size/XS

#583 Certificate Identity Http Endpoint
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/files/liqo-auth-ClusterRole.yaml
  deployments/liqo/templates/clusterconfig.yaml
  deployments/liqo/templates/liqo-auth-rbac.yaml
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth_test.go
  internal/auth-service/httpHandler.go
  internal/auth-service/identity.go
  internal/auth-service/token-validation.go
  internal/discovery/foreign-cluster-operator/auth.go
  pkg/auth/authConfigProvider.go
  pkg/auth/identityRequest.go
  pkg/auth/identityResponse.go
  pkg/auth/roleRequest.go
  pkg/certificateSigningRequest/approve.go
  pkg/certificateSigningRequest/approve_test.go
  pkg/identityManager/const.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/identityManager/signingRequest.go
  pkg/identityManager/testUtils/csrApprover.go
  pkg/kubeconfig/create.go
  pkg/peering-roles/peeringPermission.go
  pkg/vkMachinery/csr/approve.go
Labels: discovery, size/XXL

#594 Refactor of Liqo controllers constants
  internal/advertisement-operator/broadcaster.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/consts/namespaceMapping.go
  pkg/liqo-controller-manager/namespace-controller/manage_namespace_labels.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller_test.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/namespaceMap_lifecycle.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller.go
  pkg/liqo-controller-manager/virtualNode-controller/node_controller_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
  pkg/utils/cluster_info.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/node.go
  pkg/vkMachinery/forge/forge.go
  test/e2e/deploy_app_test.go
  test/e2e/net_test.go
  test/e2e/unjoin_e2e/unjoin_test.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, discovery, merge-requested, ok-to-test, size/L, virtual-node

#603 Update the bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: kind/docs, size/M

#590 Linting Improvement
  .github/workflows/lint.yml
  .golangci.yml
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/controller.go
  internal/utils/trace/nop.go
  internal/utils/trace/opencensus/opencensus.go
  internal/utils/trace/opencensus/opencensus_test.go
  internal/utils/trace/trace.go
  pkg/mutate/mutate.go
  pkg/virtualKubelet/apiReflection/reflectors/incoming/replicaSets.go
  pkg/vkMachinery/csr/generation.go
  test/unit/advertisement-operator/broadcaster_test.go
Labels: advertisement_management, size/XL, virtual-node

#607 Fix Discovery Linters
  .golangci.yml
  apis/discovery/v1alpha1/foreignClusterClient.go
  apis/discovery/v1alpha1/foreigncluster_methods.go
  cmd/advertisement-operator/main.go
  cmd/discovery/main.go
  cmd/virtual-kubelet/root/root.go
  internal/advertisement-operator/broadcaster.go
  internal/advertisement-operator/config-watcher.go
  internal/advertisement-operator/controller.go
  internal/advertisement-operator/remote-watcher.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/garbage-collection/serviceAccount.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/clusterIdentityDefaulting.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/setup.go
  internal/discovery/search-domain-operator/wan.go
  internal/discovery/utils/utils.go
  internal/peering-request-operator/broadcaster.go
  internal/peering-request-operator/foreign-cluster.go
  internal/peering-request-operator/peering-request-controller.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  internal/resource-request-operator/utils.go
  pkg/clusterConfig/watchConfig.go
  pkg/consts/crdClient.go
  pkg/crdClient/ClientInterface.go
  pkg/crdClient/api.go
  pkg/crdClient/client.go
  pkg/crdClient/fakeApi.go
  pkg/crdClient/informer.go
  pkg/discovery/const.go
  pkg/discovery/nodeUtils.go
  pkg/identityManager/certificate.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/signingRequest.go
  pkg/identityManager/testUtils/csrApprover.go
  pkg/tenantControlNamespace/namespaceManager.go
  pkg/virtualKubelet/namespacesMapping/namespaceMapper.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
  test/unit/advertisement-operator/broadcaster_test.go
  test/unit/advertisement-operator/config-watcher_test.go
  test/unit/advertisement-operator/remote-watcher_test.go
  test/unit/crdReplicator/env_test.go
Labels: advertisement_management, discovery, size/XL, virtual-node

#609 NetworkManager linting
  .golangci.yml
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/networkManager.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipamStorage.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/virtualNodeupdater.go
Labels: advertisement_management, discovery, merge-requested, networking, ok-to-test, size/L, virtual-node

#597 Add cluster Labels at installation time.
  apis/config/v1alpha1/clusterconfig_types.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/README.md
  deployments/liqo/crds/config.liqo.io_clusterconfigs.yaml
  deployments/liqo/values.yaml
Labels: ok-to-test, size/S

#613 Linting Fix - ResourceRequest operator
  cmd/advertisement-operator/main.go
  internal/resource-request-operator/doc.go
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  internal/resource-request-operator/suite_test.go
  internal/resource-request-operator/utils.go
Labels: advertisement_management, ok-to-test, size/M

#618 Add goimports in makefile and add option in linting action.
  .github/workflows/lint.yml
  Makefile
Labels: ok-to-test, size/XS

#621 Add a script for checking imports only on .go files
  Makefile
Labels: merge-requested, ok-to-test, size/XS

#614 Fix Linting
  cmd/auth-service/main.go
  cmd/discovery/main.go
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth-token.go
  internal/auth-service/auth_test.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/doc.go
  internal/auth-service/garbage-collection/doc.go
  internal/auth-service/httpHandler.go
  internal/auth-service/identity.go
  internal/auth-service/idsHttpHandler.go
  internal/auth-service/kubeconfig.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  internal/auth-service/token-validation.go
  internal/discovery/authData.go
  internal/discovery/discovery.go
  internal/discovery/discoveryCache.go
  internal/discovery/discovery_test.go
  internal/discovery/doc.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/clusterIdentityDefaulting.go
  internal/discovery/foreign-cluster-operator/doc.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign.go
  internal/discovery/foreignClusterGarbageCollector.go
  internal/discovery/register.go
  internal/discovery/resolve.go
  internal/discovery/search-domain-operator/doc.go
  internal/discovery/search-domain-operator/search-domain-controller.go
  internal/discovery/search-domain-operator/setup.go
  internal/discovery/search-domain-operator/wan.go
  internal/discovery/search-domain-operator/wan_test.go
  pkg/auth/authConfigProvider.go
  pkg/auth/identityResponse.go
  pkg/clusterid/clusterID.go
  pkg/peering-roles/basic/basic.go
  pkg/peering-roles/doc.go
  pkg/peering-roles/incoming/incoming.go
  pkg/peering-roles/outgoing/outgoing.go
  pkg/peering-roles/peeringPermission.go
Labels: discovery, size/L

#624 Bump Golang to 1.16
  .github/workflows/integration.yml
  build/advertisement-broadcaster/Dockerfile
  build/advertisement-operator/Dockerfile
  build/auth-service/Dockerfile
  build/crd-replicator/Dockerfile
  build/discovery/Dockerfile
  build/init-virtual-kubelet/Dockerfile
  build/liqo-webhook/Dockerfile
  build/liqonet/Dockerfile
  build/peering-request-operator/Dockerfile
  build/virtual-kubelet/Dockerfile
  build/webhook-configuration/Dockerfile
  go.mod
Labels: advertisement_management, discovery, networking, size/S, virtual-node

#623 Update description and License on README.md
  README.md
Labels: community, size/S

#620 Fix linting liqonet package
  pkg/liqonet/doc.go
  pkg/liqonet/ipam.go
  pkg/liqonet/iptables.go
  pkg/liqonet/iptables_mock.go
  pkg/liqonet/route.go
  pkg/liqonet/route_mock.go
  pkg/liqonet/tunnel/doc.go
  pkg/liqonet/tunnel/driver.go
  pkg/liqonet/tunnel/wireguard/doc.go
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/liqonet/utils.go
  pkg/liqonet/wireguard/doc.go
  pkg/liqonet/wireguard/netlinkClient.go
  pkg/liqonet/wireguard/netlinkClient_fake.go
  pkg/liqonet/wireguard/utils.go
  pkg/liqonet/wireguard/wireguard.go
  pkg/liqonet/wireguard/wireguardClient.go
  pkg/liqonet/wireguard/wireguardClient_fake.go
Labels: merge-requested, networking, size/L

#617 Add a new CRD for remote namespaces mapping
  apis/offloading/v1alpha1/groupversion_info.go
  apis/offloading/v1alpha1/namespaceoffloading_types.go
  apis/offloading/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
Labels: merge-requested, ok-to-test, size/XL

#629 Added Docker container for unit tests
  Makefile
  build/liqo-test/Dockerfile
  internal/resource-request-operator/suite_test.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
  pkg/liqo-controller-manager/virtualNode-controller/suite_test.go
Labels: ok-to-test, size/M

#631 Translate Env Variables: skip default/kubernetes
  pkg/virtualKubelet/translation/serviceEnv/serviceEnv.go
Labels: merge-requested, size/XS, virtual-node

#628 Fix Discovery Linting
  apis/discovery/v1alpha1/foreigncluster_methods.go
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/groupversion_info.go
  apis/discovery/v1alpha1/peeringrequest_methods.go
  cmd/advertisement-operator/main.go
  cmd/peering-request-operator/main.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/auth-token.go
  internal/auth-service/auth_test.go
  internal/auth-service/clusterRole.go
  internal/auth-service/clusterRoleBinding.go
  internal/auth-service/httpHandler.go
  internal/auth-service/identity.go
  internal/auth-service/idsHttpHandler.go
  internal/auth-service/kubeconfig.go
  internal/auth-service/role.go
  internal/auth-service/roleBinding.go
  internal/auth-service/serviceAccount.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/utils/utils.go
  internal/peering-request-operator/setup.go
  pkg/identityManager/certificate.go
  pkg/identityManager/interface.go
  pkg/kubeconfig/doc.go
  pkg/tenantControlNamespace/interface.go
  pkg/tenantControlNamespace/namespaceManager.go
Labels: advertisement_management, discovery, size/L

#588 Update the ForeignCluster Operator with new Authentication
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/discovery/main.go
  deployments/liqo/README.md
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/files/liqo-discovery-ClusterRole.yaml
  deployments/liqo/templates/liqo-auth-rbac.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-remote-peering-rbac.yaml
  deployments/liqo/values.yaml
  internal/auth-service/auth-service-config.go
  internal/auth-service/auth-service.go
  internal/auth-service/token-validation.go
  internal/discovery/discovery-config.go
  internal/discovery/discovery.go
  internal/discovery/foreign-cluster-operator/auth.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-operator_test.go
  internal/discovery/foreign-cluster-operator/resourceRequest.go
  internal/discovery/foreign-cluster-operator/setup.go
  internal/discovery/foreign-cluster-operator/tenantControlNamespace.go
  internal/discovery/utils/utils.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  pkg/auth/authConfigProvider.go
  pkg/auth/const.go
  pkg/auth/identityRequest.go
  pkg/identityManager/certificate.go
  pkg/identityManager/client.go
  pkg/identityManager/const.go
  pkg/identityManager/interface.go
  pkg/peering-roles/peeringPermission.go
Labels: discovery, size/XXL

#581 Endpoint reflection with ExternalCIDR
  Makefile
  apis/net/v1alpha1/ipamstorage_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  cmd/liqonet/main.go
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-service.yaml
  go.mod
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/consts/liqonet.go
  pkg/consts/networkManager.go
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam.pb.go
  pkg/liqonet/ipam.proto
  pkg/liqonet/ipamStorage.go
  pkg/liqonet/ipam_grpc.pb.go
  pkg/liqonet/ipam_test.go
  pkg/liqonet/test/doc.go
  pkg/liqonet/test/ipam_mock.go
  pkg/liqonet/utils.go
  pkg/liqonet/utils_test.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/apiTypes.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
  pkg/virtualKubelet/forge/forge_suite_test.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  test/unit/virtualKubelet/reflection/endpointslices_test.go
Labels: discovery, networking, ok-to-test, size/XXL, virtual-node

#636 Migrate unit test pipeline to docker
  .github/workflows/integration.yml
  Makefile
  build/advertisement-broadcaster/Dockerfile
  build/advertisement-operator/Dockerfile
  build/auth-service/Dockerfile
  build/crd-replicator/Dockerfile
  build/discovery/Dockerfile
  build/init-virtual-kubelet/Dockerfile
  build/liqo-test/Dockerfile
  build/liqo-webhook/Dockerfile
  build/liqonet/Dockerfile
  build/peering-request-operator/Dockerfile
  build/uninstaller/Dockerfile
  build/virtual-kubelet/Dockerfile
  build/webhook-configuration/Dockerfile
Labels: advertisement_management, discovery, merge-requested, networking, size/L, virtual-node

#640 NamespaceMap refactor and some util functions
  apis/virtualKubelet/v1alpha1/namespacemap_types.go
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  pkg/utils/namespaceOffloading_conditions_update.go
Labels: merge-requested, ok-to-test, size/M

#632 Replication of Namespaced Resources in Tenant Namespaces
  apis/discovery/v1alpha1/resourcerequest_types.go
  cmd/crd-replicator/main.go
  deployments/liqo/files/liqo-remote-peering-basic-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-incoming-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-outgoing-ClusterRole.yaml
  internal/crdReplicator/crdReplicator-config.go
  internal/crdReplicator/crdReplicator-config_test.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/crdReplicator-operator_test.go
  internal/crdReplicator/doc.go
  internal/crdReplicator/env_test.go
  internal/crdReplicator/namespaceTranslation.go
  internal/discovery/discovery-config.go
  internal/discovery/foreign-cluster-operator/foreign-cluster-controller.go
  internal/discovery/foreign-cluster-operator/resourceRequest.go
  internal/liqonet/tunnelEndpointCreator/secretWatcher.go
  internal/liqonet/tunnelEndpointCreator/serviceWatcher.go
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-operator.go
  pkg/clusterid/staticClusterID.go
  pkg/peering-roles/basic/basic.go
  pkg/peering-roles/incoming/incoming.go
  pkg/peering-roles/outgoing/outgoing.go
  test/unit/crdReplicator/crdReplicator-operator_test.go
  test/unit/crdReplicator/env_test.go
Labels: discovery, networking, size/L

#642 CodeQL Pipeline
  .github/workflows/codeql-analysis.yml
Labels: size/M

#647 Fix: Removed hardcoded value in reflector
  pkg/liqonet/ipam.go
  pkg/liqonet/ipam_test.go
  pkg/utils/cluster_info.go
  pkg/virtualKubelet/apiReflection/reflectors/outgoing/endpointSlices.go
Labels: networking, ok-to-test, size/S, virtual-node

#648 Fix: ExternalCIDR initial setting could affect PodCIDR/ServiceCIDR setting
  internal/liqonet/tunnelEndpointCreator/tunnelEndpointCreator-config.go
  pkg/liqonet/ipam_test.go
Labels: merge-requested, networking, ok-to-test, size/S, virtual-node

#637 Add Resource Offer Operator
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  internal/crdReplicator/crdReplicator-operator.go
  pkg/liqo-controller-manager/resourceoffer-controller/controller_config.go
  pkg/liqo-controller-manager/resourceoffer-controller/doc.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/utils/foreignCluster/doc.go
  pkg/utils/foreignCluster/getForeignCluster.go
Labels: advertisement_management, merge-requested, size/XL

#639 Refactor of Namespace Controller
  pkg/consts/namespace_mapping.go
  pkg/liqo-controller-manager/namespace-controller/check_liqo_label_presence.go
  pkg/liqo-controller-manager/namespace-controller/manage_namespace_labels.go
  pkg/liqo-controller-manager/namespace-controller/manage_remote_namespaces.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller.go
  pkg/liqo-controller-manager/namespace-controller/namespace_controller_test.go
  pkg/liqo-controller-manager/namespace-controller/owned_namespaceoffloading_lifecycle.go
  pkg/liqo-controller-manager/namespace-controller/suite_test.go
Labels: merge-requested, ok-to-test, size/XXL

#651 Fix Test Container Build
  Makefile
Labels: size/XS

#646 Add VirtualKubelet Local ClusterRole
  Makefile
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-local.yaml
  pkg/virtualKubelet/roles/role.go
  pkg/vkMachinery/forge/creation.go
Labels: size/L, virtual-node

#595 Broadcaster Logic
  cmd/advertisement-operator/main.go
  internal/advertisementoperator/controller.go
  internal/resource-request-operator/broadcaster.go
  internal/resource-request-operator/resourceRequest_controller.go
  internal/resource-request-operator/resourceRequest_controller_test.go
  internal/resource-request-operator/suite_test.go
  internal/resource-request-operator/utils.go
Labels: advertisement_management, merge-requested, ok-to-test, size/L

#635 Support for custom routing table and policy routing rules
  Makefile
  apis/net/v1alpha1/tunnelEndpointClient.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  go.sum
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/doc.go
  pkg/liqonet/routing/routing_suite_test.go
Labels: merge-requested, networking, size/XXL

#652 Direct Route Manager Implementation
  pkg/liqonet/errors.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/routing/directRouting_test.go
  pkg/liqonet/routing/routingInterface.go
  pkg/liqonet/routing/routing_suite_test.go
Labels: merge-requested, networking, size/XL

#653 Create Virtual Kubelet from ResourceOffers
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  cmd/advertisement-operator/main.go
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  internal/advertisementoperator/controller.go
  pkg/clusterid/clusterID.go
  pkg/liqo-controller-manager/resourceoffer-controller/controller_config.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  test/unit/advertisement-operator/creation_test.go
Labels: advertisement_management, merge-requested, size/XL
