Repository liqotech/liqo, pull requests merged in 2021-12, with the labels that each got.

#1016 Simplify virtual kubelet flags handling
  cmd/virtual-kubelet/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
  pkg/virtualKubelet/provider/provider.go
  pkg/vkMachinery/forge/forge.go
Labels: virtual-node, size/L, merge-requested, kind/cleanup

#1018 Add Controller Manager Probes
  cmd/liqo-controller-manager/main.go
  deployments/liqo/templates/liqo-controller-manager.yaml
  test/e2e/postinstall/basic_test.go
Labels: size/M, merge-requested

#1022 Authentication: modify transport to leverage persistent connections
  cmd/liqo-controller-manager/main.go
  pkg/discoverymanager/discovery.go
  pkg/discoverymanager/foreign.go
  pkg/discoverymanager/resolve.go
  pkg/discoverymanager/utils/utils.go
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqo-controller-manager/foreign-cluster-operator/clusterIdentityDefaulting.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/validator.go
  pkg/liqo-controller-manager/search-domain-operator/search-domain-controller.go
Labels: size/M, merge-requested

#1017 Virtual Kubelet: introduce node ping check
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/liqoNodeProvider/drain.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
  pkg/virtualKubelet/liqoNodeProvider/utils.go
Labels: kind/feature, virtual-node, size/M, merge-requested

#1024 Fix Certificate generation on K3s and OpenShift
  cmd/init-virtual-kubelet/main.go
  pkg/vkMachinery/csr/const.go
  pkg/vkMachinery/csr/creation.go
  pkg/vkMachinery/csr/generation.go
  pkg/vkMachinery/csr/generation_test.go
Labels: size/L, merge-requested

#938 controller-manager: fix peering status reporting logic
  apis/discovery/v1alpha1/foreigncluster_types.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
Labels: size/L, merge-requested

#1026 Fix peering bug
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
Labels: size/M, merge-requested

#1027 Enable Jobs in Virtual Kubelet
  pkg/virtualKubelet/forge/pods.go
Labels: virtual-node, size/XS, merge-requested

#1025 Fix ClusterName Handling in liqoctl
  pkg/consts/clusterid.go
  pkg/liqoctl/add/handler.go
  pkg/liqoctl/generate/handler.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/openshift/provider.go
  pkg/liqoctl/install/provider/generic.go
  pkg/liqoctl/install/provider/interface.go
  pkg/liqoctl/install/provider/provider_suite_test.go
  pkg/liqoctl/install/utils/oldparams.go
  pkg/utils/cluster_info.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/get_test_variable.go
Labels: size/L, merge-requested

#1031 Virtual kubelet: add fields to pod translation
  pkg/virtualKubelet/forge/pods.go
Labels: virtual-node, size/XS, merge-requested
