Repository liqotech/liqo, pull requests merged in 2022-08, with the labels that each got.

#1363 liqoctl install kubeadm: fix bug with HA
  pkg/liqoctl/install/kubeadm/kubeadm_test.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/validation.go
Labels: kind/bug, size/L, merge-requested

#1366 Bump golangci-lint version to v1.47.3
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, dependencies, merge-requested

#1365 openshift: fix security context issue with liqo-controller-manager
  deployments/liqo/templates/_helpers.tpl
Labels: kind/bug, size/XS, merge-requested

#1370 Fix typo in FC status condition reason
  pkg/liqo-controller-manager/foreign-cluster-operator/validator.go
Labels: kind/bug, size/XS, merge-requested

#1368 liqoctl install: improve handling of required flags
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/output/output.go
Labels: size/M, merge-requested, kind/cleanup

#1372 Bump go-ipam to v1.11.1
  go.mod
  go.sum
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipamStorage.go
  pkg/liqonet/ipam/ipam_test.go
Labels: size/M, dependencies, merge-requested

#1369 Docs: Add GKE Regional Installation Commands
  docs/installation/install.md
Labels: kind/docs, size/S, merge-requested

#1376 Bump golangci-lint version to 1.48.0
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, dependencies, merge-requested

#1339 Liqonet: wireguard metrics exposed
  Makefile
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  build/liqo-test/Dockerfile
  cmd/liqoctl/cmd/install.go
  deployments/liqo/README.md
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/templates/liqo-gateway-servicemonitor.yaml
  deployments/liqo/values.yaml
  docs/contributing/contributing.md
  docs/installation/install.md
  go.mod
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/tunnel-operator/natmapping-operator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_test.go
  pkg/liqoctl/install/handler.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/routing/common_test.go
  pkg/liqonet/routing/directRouting.go
  pkg/liqonet/routing/gatewayRouting_test.go
  pkg/liqonet/routing/vxlanRouting.go
  pkg/liqonet/routing/vxlanRouting_test.go
  pkg/liqonet/tunnel/driver.go
  pkg/liqonet/tunnel/metrics/doc.go
  pkg/liqonet/tunnel/metrics/metrics.go
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/liqonet/utils/utils.go
  test/integration/integration_suite_test.go
Labels: kind/feature, size/XL, merge-requested
