Repository liqotech/liqo, pull requests merged in 2022-09, with the labels that each got.

#1409 Bump gci version to 0.7.0
  Makefile
Labels: kind/bug, size/XS, dependencies, merge-requested

#1456 liqoctl: rename package inbound to inband
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/inband/doc.go
  pkg/liqoctl/inband/endpoint.go
  pkg/liqoctl/inband/portForward.go
  pkg/liqoctl/peerib/handler.go
  pkg/liqoctl/unpeerib/handler.go
Labels: size/S, merge-requested

#1455 Liqoctl fix: peer inband
  deployments/liqo/templates/liqo-gateway-service.yaml
Labels: size/XS, merge-requested

#1461 Reflection: document the possibility of disabling certain resource types
  cmd/liqoctl/cmd/install.go
  docs/usage/reflection.md
Labels: kind/docs, size/S, merge-requested

#1463 LiqoNet: gateway service monitor fix
  deployments/liqo/templates/liqo-gateway-servicemonitor.yaml
Labels: size/XS, merge-requested

#1462 Helm chart: fix semverCompare issue with certain version formats
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
Labels: kind/bug, size/XS, merge-requested

#1468 Gitignore: test coverage
  .gitignore
Labels: size/XS, merge-requested
