Repository liqotech/liqo, pull requests merged in 2022-03, with the labels that each got.

#1146 Force Remote NodePort
  pkg/consts/replication.go
  pkg/virtualKubelet/forge/services.go
  pkg/virtualKubelet/forge/services_test.go
Labels: virtual-node, size/M, merge-requested

#1142 Updated doc to describe connectivity requirements
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  docs/images/scenarios/cloud-to-cloud.svg
  docs/images/scenarios/connect-requirements.svg
  docs/images/scenarios/on-prem-nat-to-cloud.svg
  docs/images/scenarios/on-prem-to-cloud.svg
  docs/images/scenarios/on-prem-to-on-prem.svg
  docs/pages/concepts/networking/_index.md
  docs/pages/installation/_index.md
  docs/pages/installation/calico-configuration.md
  docs/pages/installation/chart_values.md
  docs/pages/installation/connect-requirements.md
  docs/pages/installation/install-advanced.md
  docs/pages/installation/install.md
  docs/pages/installation/pre-install.md
  docs/pages/usage/_index.md
Labels: size/XXL, merge-requested, documentation

#1044 Minor changes in Liqo overview description
  docs/pages/gettingstarted/_index.md
  docs/pages/installation/_index.md
  docs/pages/usage/peering.md
Labels: size/S, merge-requested, documentation

#1073 Liqoctl: Add Move Volume Command [2/4]
  cmd/liqoctl/cmd/move.go
  pkg/liqoctl/common/cluster.go
  pkg/liqoctl/move/consts.go
  pkg/liqoctl/move/handler.go
  pkg/liqoctl/move/offloading.go
  pkg/liqoctl/move/restic.go
  pkg/liqoctl/move/restorer.go
  pkg/liqoctl/move/snapshotter.go
  pkg/liqoctl/move/volumeutils.go
Labels: size/XL, merge-requested

#1150 liqoctl disconnect
  cmd/liqoctl/cmd/disconnect.go
  cmd/liqoctl/cmd/root.go
  go.mod
  pkg/liqoctl/common/cluster.go
  pkg/liqoctl/disconnect/doc.go
  pkg/liqoctl/disconnect/handler.go
  pkg/utils/getters/dataGetters.go
  pkg/utils/getters/dataGetters_test.go
  pkg/utils/labels/labelSelectors.go
Labels: kind/feature, size/XL, merge-requested

#1158 Fix Changelog Titles
  .github/release.yml
Labels: size/S, merge-requested

#1074 Liqoctl: Add Move Volume Command [3/4]
  pkg/liqoctl/move/movevolume_test.go
  pkg/liqoctl/move/suite_test.go
  pkg/utils/testutil/objectmatcher.go
Labels: size/XL, merge-requested

#1164 Virtual kubelet: filter service account secrets during pod translation
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
Labels: virtual-node, size/S, merge-requested

#1163 Fix Metrics on EKS
  cmd/init-virtual-kubelet/main.go
  cmd/webhook-configuration/main.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
  pkg/webhookConfiguration/secrets.go
Labels: size/L, merge-requested

#1075 Liqoctl: Add Move Volume Command [4/4]
  test/e2e/cruise/basic_test.go
  test/e2e/testutils/storage/storage.go
Labels: size/L, merge-requested

#1166 Add firewall rules for overlay network
  cmd/liqonet/route-operator.go
  internal/liqonet/route-operator/firewall.go
  internal/liqonet/route-operator/routeOperator.go
Labels: networking, size/L, merge-requested

#1169 Reflect ExternalName Services
  pkg/virtualKubelet/forge/services.go
  pkg/virtualKubelet/forge/services_test.go
Labels: kind/bug, virtual-node, size/S, merge-requested

#1170 Mount iptables lock file in liqo-route
  deployments/liqo/templates/liqo-route-daemonset.yaml
Labels: size/XS

#1172 Move proxy to helm chart
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-proxy-configmap.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-proxy-service.yaml
  deployments/liqo/values.yaml
  docs/pages/installation/chart_values.md
  pkg/consts/labels.go
  pkg/liqoctl/common/cluster.go
  pkg/liqoctl/common/proxyDeployment.go
  pkg/liqoctl/connect/handler.go
Labels: size/L, merge-requested, documentation

#1173 Update Roadmap
  README.md
Labels: community, size/XS, merge-requested

#1174 Remove coverage.txt file
  pkg/liqonet/iptables/coverage.txt
Labels: networking, size/L

#1176 Fix liqoctl-status
  pkg/liqoctl/status/pods.go
Labels: size/XS, merge-requested
