Repository liqotech/liqo, pull requests merged in 2022-11, with the labels that each got.

#1537 README: fix broken badge
  README.md
Labels: size/XS

#1536 Migrate container registry to GitHub
  .github/workflows/integration.yml
  .github/workflows/test.yml
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/values.yaml
Labels: size/M

#1541 Helm: improve pre-delete job configurations and fix image mismatch
  deployments/liqo/README.md
  deployments/liqo/templates/pre-delete-job.yaml
  deployments/liqo/values.yaml
Labels: size/M, merge-requested, kind/cleanup

#1554 liqoctl help: fix leftover quotes
  cmd/liqoctl/cmd/generate.go
  cmd/liqoctl/cmd/move.go
  cmd/liqoctl/cmd/version.go
  pkg/liqoctl/install/k3s/provider.go
Labels: size/S, merge-requested

#1556 liqoctl: fix help message when used as kubectl plugin
  cmd/liqoctl/cmd/root.go
Labels: size/S, merge-requested, kind/cleanup

#1558 docs: adding asdf installation option for liqoctl
  docs/installation/liqoctl.md
Labels: kind/docs, size/S

#1561 GitHub Workflow: Migrate outputs from ::set-output to GITHUB_OUTPUT
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/check-generated-helm-documentation.yml
  .github/workflows/integration.yml
  .github/workflows/rebase.yml
  .github/workflows/test.yml
Labels: size/M, kind/cleanup

#1560 Remote Metrics: Filtering not ready nodes
  pkg/remotemetrics/resources.go
  pkg/remotemetrics/resources_test.go
Labels: kind/bug, size/S, merge-requested

#1562 Docs: Fix broken link for contributing page
  README.md
Labels: size/XS, merge-requested

#1567 Resource Plugins: Add doc and change helm variable
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  docs/_toc.yml
  docs/installation/install.md
  docs/usage/peer.md
  pkg/consts/parameters.go
Labels: kind/docs, size/S
