Repository liqotech/liqo, pull requests merged in 2022-12, with the labels that each got.

#1572 Docs: Grafana dashboard image fix
  docs/_static/images/usage/prometheus-metrics/network-dashboard.png
Labels: size/XS, merge-requested

#1574 liqoctl install: support k3d through k3s provider
  pkg/liqoctl/install/validation.go
  pkg/liqoctl/install/validation_test.go
Labels: kind/bug, size/XS, merge-requested

#1602 liqoctl peer in-band: fix foreign cluster creation race condition
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/peerib/handler.go
Labels: kind/bug, size/M, merge-requested

#1568 Liqoctl status: removed helm dependency
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/util/util.go
  pkg/utils/apiserver/address.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/kubernetes.go
Labels: size/L, merge-requested
