Repository liqotech/liqo, pull requests merged in 2022-06, with the labels that each got.

#1256 Remove out-of-date PR labeler
  .github/labeler.yml
  .github/workflows/autolabeler.yml
Labels: size/M

#1257 docs: minor modifications to installation section
  docs/installation/install.md
  docs/installation/liqoctl.md
  docs/installation/requirements.md
  docs/installation/uninstall.md
Labels: kind/docs, size/M, documentation

#1255 Reintroduce an improved contributing page in the documentation
  .github/release.yml
  docs/contributing/contributing.md
  docs/examples/stateful-applications.md
  docs/index.rst
  docs/installation/install.md
  docs/usage/stateful-applications.md
Labels: kind/docs, size/L, merge-requested

#1261 Controller manager: add high availability support
  cmd/liqo-controller-manager/main.go
  cmd/liqoctl/cmd/install.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  docs/installation/install.md
  pkg/liqo-controller-manager/storageprovisioner/controller.go
  pkg/liqoctl/install/handler.go
Labels: kind/feature, size/M, merge-requested

#1262 Improve the liqoctl install command
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/main.go
  docs/installation/install.md
  go.mod
  go.sum
  pkg/liqoctl/factory/output.go
  pkg/liqoctl/install/handler.go
Labels: kind/feature, size/L, merge-requested

#1277 Gateway: react to liqo.host mac address changes
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/netns/veth.go
Labels: kind/bug, size/M, merge-requested

#1278 Disable Specific Resource Reflection
  cmd/virtual-kubelet/root/root.go
Labels: kind/feature, size/XS, merge-requested

#1283 Add missing comma in slash commands config
  .github/workflows/slash-commands.yml
Labels: size/XS

#1279 Remove the SearchDomain API
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/groupversion_info.go
  apis/discovery/v1alpha1/searchdomain_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_searchdomains.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/discovery/const.go
  pkg/discoverymanager/discovery_test.go
  pkg/discoverymanager/foreign.go
  pkg/discoverymanager/foreignClusterGarbageCollector.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/peeringPolicy.go
  pkg/liqo-controller-manager/search-domain-operator/doc.go
  pkg/liqo-controller-manager/search-domain-operator/search-domain-controller.go
  pkg/liqo-controller-manager/search-domain-operator/wan.go
  pkg/liqo-controller-manager/search-domain-operator/wan_test.go
  pkg/utils/foreignCluster/management.go
Labels: size/XL, merge-requested, kind/cleanup

#1284 Prepare liqoctl for Krew
  .github/workflows/integration.yml
Labels: size/S

#1292 Test action: send coverage on merge only
  .github/workflows/test.yml
Labels: size/XS, merge-requested

#1293 Virtual kubelet: do not start reflection with 0 workers
  pkg/virtualKubelet/reflection/generic/reflector.go
  pkg/virtualKubelet/reflection/generic/reflector_test.go
Labels: kind/feature, size/M, merge-requested

#1291 Network config: fix incorrect log level
  internal/liqonet/network-manager/netcfgcreator/networkconfig.go
Labels: size/XS, merge-requested, kind/cleanup

#1294 Documentation: new homepage
  docs/_static/css/custom.css
  docs/_toc.yml
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/installation/install.md
  docs/installation/liqoctl.md
  docs/requirements.txt
Labels: kind/docs, size/L, merge-requested

#1296 Docs: minor modifications to homepage
  docs/index.md
Labels: size/S, merge-requested

#1301 Documentation: Generate Dynamic Links
  docs/conf.py
  docs/examples/global-ingress.md
  docs/examples/offloading-with-policies.md
  docs/examples/quick-start.md
  docs/examples/service-offloading.md
  docs/examples/stateful-applications.md
  docs/installation/liqoctl.md
  docs/requirements.txt
Labels: kind/docs, size/L, merge-requested

#1303 Docs: add example in "install development version" section
  docs/installation/install.md
Labels: size/S, merge-requested

#1305 Docs: Download Liqoctl from Compressed Archives
  .github/workflows/integration.yml
  docs/conf.py
Labels: kind/docs, size/S, merge-requested

#1168 Added info in liqoctl status
  apis/net/v1alpha1/groupversion_info.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  pkg/consts/labels.go
  pkg/liqoctl/docs/handler.go
  pkg/liqoctl/factory/factory.go
  pkg/liqoctl/inbound/cluster.go
  pkg/liqoctl/output/info.go
  pkg/liqoctl/output/info_test.go
  pkg/liqoctl/output/output.go
  pkg/liqoctl/output/output_suite_test.go
  pkg/liqoctl/status/checker.go
  pkg/liqoctl/status/consts.go
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/k8s.go
  pkg/liqoctl/status/localinfo.go
  pkg/liqoctl/status/localinfo_test.go
  pkg/liqoctl/status/namespace.go
  pkg/liqoctl/status/namespace_test.go
  pkg/liqoctl/status/pods.go
  pkg/liqoctl/status/pods_test.go
  pkg/liqoctl/util/util.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/kubernetes.go
Labels: kind/feature, size/XXL, merge-requested

#1306 Fix ChangeLog Generator
  .github/release.yml
Labels: kind/bug, size/XS

#1307 Small Fixes For the Release
  .github/workflows/integration.yml
  docs/conf.py
Labels: size/XS

#1295 Align the main readme to the documentation
  Makefile
  README.md
  ROADMAP.md
  docs/index.md
  examples/README.md
Labels: kind/docs, size/L

#1308 Doc Fix
  docs/conf.py
Labels: size/S

#1309 Add License in Liqoctl Archives
  .github/workflows/integration.yml
Labels: size/XS, merge-requested

#1318 Documentation: add link to the paper
  docs/_toc.yml
Labels: kind/docs, size/XS, merge-requested
