Repository liqotech/liqo, pull requests merged in 2022-07, with the labels that each got.

#1320 Integrate Krew
  .github/workflows/integration.yml
  .krew.yaml
  docs/installation/liqoctl.md
Labels: size/M, merge-requested

#1321 global-ingress setup.sh: fail_on_error requires 2 string arguments
  examples/global-ingress/setup.sh
Labels: size/XS, merge-requested

#1323 Examples: fix the k3d ApiServer Address Retrieval
  examples/common.sh
Labels: size/XS, merge-requested

#1324 liqoctl uninstall: add uninstallation check
  cmd/liqoctl/cmd/peer.go
  cmd/liqoctl/cmd/uninstall.go
  cmd/liqoctl/cmd/unpeer.go
  pkg/liqoctl/uninstall/handler.go
Labels: kind/bug, size/S, merge-requested

#1327 update(networking): compile boringtun from a fixed version of the souce code
  build/liqonet/Dockerfile
Labels: kind/bug, size/S, merge-requested

#1328 Simplified requirements.
  docs/installation/requirements.md
Labels: kind/docs, size/M, merge-requested

#1338 Bump golangci-lint version
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, dependencies, merge-requested

#1347 Bump golangci-lint version
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, dependencies, merge-requested

#1344 Virtual kubelet: improve certificates management
  .github/workflows/integration.yml
  cmd/init-virtual-kubelet/main.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/tenantNamespace/const.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/utils/csr/approve.go
  pkg/utils/csr/approve_test.go
  pkg/utils/csr/doc.go
  pkg/utils/csr/suite_test.go
  pkg/utils/csr/watcher.go
  pkg/utils/csr/watcher_test.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/csr/const.go
  pkg/vkMachinery/csr/creation.go
  pkg/vkMachinery/csr/generation.go
  pkg/vkMachinery/csr/generation_test.go
  pkg/vkMachinery/csr/secret.go
  pkg/vkMachinery/csr/secret_test.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
  pkg/webhookConfiguration/doc.go
  pkg/webhookConfiguration/secrets.go
Labels: kind/bug, size/XXL

#1342 Liqoctl: Improve Validation Feedback
  cmd/liqoctl/cmd/install.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/validation.go
Labels: kind/feature, size/S, merge-requested

#1351 Liqoctl: Improve the GKE Installer
  pkg/liqoctl/install/gke/provider.go
Labels: kind/feature, size/M, merge-requested

#1345 liqoctl: wait for peering completion for the in-band case
  pkg/liqoctl/inbound/cluster.go
  pkg/liqoctl/peerib/handler.go
  pkg/liqoctl/unpeerib/handler.go
Labels: kind/feature, size/M, merge-requested

#1352 liqoctl: fix regression in autocompletion
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/completion/completion.go
Labels: kind/bug, size/S, merge-requested

#1354 fix(liqoctl/inbound): handle fqdn address in liqoctl inbound peering
  pkg/liqoctl/inbound/cluster.go
Labels: kind/bug, size/S, merge-requested

#1357 virtual kubelet: support log/exec on EKS
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/opts.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  pkg/liqo-controller-manager/namespacemap-controller/namespacemap_controller.go
  pkg/liqoctl/install/eks/provider.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/L, merge-requested
