Repository liqotech/liqo, pull requests merged in 2022-02, with the labels that each got.

#1077 Add Liqoctl Uninstall Command
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/uninstall.go
  go.mod
  pkg/liqoctl/install/helm.go
  pkg/liqoctl/install/utils.go
  pkg/liqoctl/uninstall/doc.go
  pkg/liqoctl/uninstall/handler.go
  pkg/liqoctl/uninstall/helm.go
  pkg/liqoctl/uninstall/purge.go
  pkg/liqoctl/uninstall/types.go
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
Labels: size/L

#1083 Fix Local Volumes Node Affinity
  pkg/liqo-controller-manager/storageprovisioner/localprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
Labels: size/M, merge-requested

#1072 Liqoctl: Add Move Volume Command [1/4]
  cmd/liqoctl/cmd/move.go
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/move/doc.go
  pkg/liqoctl/move/handler.go
  pkg/utils/random.go
Labels: size/L, merge-requested

#1084 Liqoctl Install Specific Version
  cmd/liqoctl/cmd/install.go
  go.mod
  go.sum
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/provider/args_test.go
  pkg/liqoctl/install/provider/git.go
  pkg/liqoctl/install/utils.go
Labels: size/L, merge-requested

#1088 Fix Bash Scripts for arm64 Architecture
  docs/examples/3_kind_cluster.sh
  docs/examples/kind.sh
Labels: size/XS, merge-requested, documentation

#1095 Add cluster ID label to the liqo-remote-certificate secret
  pkg/identityManager/certificateIdentityProvider.go
Labels: size/XS, merge-requested

#1102 Virtual kubelet: add shadow pod label to offloaded pods
  cmd/liqonet/route-operator.go
  pkg/liqo-controller-manager/resource-request-controller/local-resource-monitor.go
  pkg/liqo-controller-manager/resource-request-controller/testutils_test.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/virtualKubelet/reflection/workload/workload_suite_test.go
Labels: networking, virtual-node, size/L, merge-requested

#1113 Foreign cluster controller: prevent status bouncing
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
Labels: size/S, merge-requested

#1121 Improve informer-level filtering to reduce resource consumption
  cmd/liqo-controller-manager/main.go
  cmd/liqonet/route-operator.go
  internal/liqonet/route-operator/symmetricRoutingOperator.go
  internal/liqonet/route-operator/symmetricRoutingOperator_test.go
  pkg/consts/replication.go
  pkg/liqo-controller-manager/resource-request-controller/local-resource-monitor.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/resource-request-controller/testutils_test.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller_test.go
Labels: networking, size/L, merge-requested
