Repository liqotech/liqo, pull requests merged in 2022-05, with the labels that each got.

#1218 Liqoctl: configure uniform MTU for better compatibility
  cmd/liqoctl/cmd/install.go
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  docs/pages/installation/chart_values.md
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/provider/args_test.go
Labels: size/L, merge-requested, documentation, kind/cleanup

#1231 README: fix broken image
  README.md
Labels: community, size/XS, merge-requested, documentation

#1232 Bump golangci-lint version
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested

#1237 Bump Golangci Version to 1.46.2
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested

#1240 Liqoctl offload: fix selector
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/offload.go
  pkg/liqoctl/offload/handler.go
  pkg/liqoctl/offload/handler_test.go
  pkg/liqoctl/offload/offload_suite_test.go
Labels: size/L, merge-requested

#1241 Remove leftover file
  lerna.json
Labels: size/S, merge-requested, kind/cleanup

#1242 Liqoctl: Improve Uninstall Command
  pkg/consts/storage.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner.go
  pkg/liqoctl/uninstall/handler.go
  pkg/liqoctl/uninstall/preuninstall.go
  pkg/utils/errors/errors.go
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
Labels: kind/feature, size/L, merge-requested

#1243 Liqoctl: Improve Offload Command
  cmd/liqoctl/cmd/offload.go
  cmd/liqoctl/cmd/unoffload.go
  pkg/liqoctl/offload/handler.go
  pkg/liqoctl/unoffload/handler.go
  pkg/liqoctl/wait/wait.go
  pkg/utils/getters/k8sGetters.go
Labels: size/M, merge-requested, kind/cleanup

#1250 liqoctl unpeer: fix description
  cmd/liqoctl/cmd/unpeer.go
Labels: size/XS, merge-requested

#1251 Liqoctl: Upgrade CRDs on Chart Upgrade
  go.mod
  pkg/liqoctl/install/handler.go
Labels: kind/feature, size/M, merge-requested

#1253 Foreign cluster print columns: shorten names
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
Labels: size/S, merge-requested
