Repository liqotech/liqo, pull requests merged in 2022-01, with the labels that each got.

#1032 Symmetric routing operator: fix log level
  internal/liqonet/route-operator/symmetricRoutingOperator.go
Labels: networking, size/XS, merge-requested

#1053 controller: fix resource update bug
  pkg/liqo-controller-manager/resource-request-controller/local-resource-monitor.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
Labels: size/M, merge-requested

#965 liqoctl install: accept provided parameters + tests (Kind and Kubeadm)
  cmd/liqo-controller-manager/main.go
  cmd/liqoctl/cmd/install.go
  pkg/consts/parameters.go
  pkg/liqoctl/install/install_test.go
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/install/provider/args.go
  pkg/liqoctl/install/provider/args_test.go
  pkg/liqoctl/install/provider/generic.go
  pkg/liqoctl/install/provider/provider_suite_test.go
  pkg/liqoctl/install/utils.go
  pkg/liqoctl/install/utils/map.go
  pkg/liqoctl/install/utils/map_test.go
  pkg/liqoctl/install/utils/slice.go
Labels: size/L, merge-requested

#996 Use friendly names
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/net/v1alpha1/networkconfig_types.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  internal/auth-service/auth_test.go
  internal/auth-service/identity.go
  internal/auth-service/token-validation.go
  internal/crdReplicator/crdReplicator_operator_test.go
  internal/crdReplicator/crdReplicator_suite_test.go
  internal/crdReplicator/reflection/handler_test.go
  internal/liqonet/network-manager/netcfgcreator/netcfgcreator_test.go
  internal/liqonet/network-manager/netcfgcreator/networkconfig.go
  internal/liqonet/network-manager/netcfgcreator/networkconfig_test.go
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
  pkg/auth/identityrequest.go
  pkg/discoverymanager/foreign.go
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqo-controller-manager/foreign-cluster-operator/clusterIdentityDefaulting.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/resourceRequest.go
  pkg/liqo-controller-manager/namespaceMap-controller/ensure_remote_namespaces.go
  pkg/liqo-controller-manager/namespaceMap-controller/namespaceMap_controller_test.go
  pkg/liqo-controller-manager/namespaceMap-controller/testUtils/namespacemap_controller_test_utils.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_controller_test.go
  pkg/liqo-controller-manager/namespaceOffloading-controller/namespaceoffloading_lifecycle.go
  pkg/liqo-controller-manager/resource-request-controller/broker_test.go
  pkg/liqo-controller-manager/resource-request-controller/offerUpdater.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller_methods.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/resource-request-controller/testutils_test.go
  pkg/liqo-controller-manager/resource-request-controller/utils.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
  pkg/liqoctl/add/handler.go
  pkg/liqoctl/generate/generate_test.go
  pkg/tenantNamespace/clusterwide.go
  pkg/tenantNamespace/const.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
  pkg/utils/foreignCluster/getTenantNamespaceName.go
  pkg/utils/foreignCluster/uniqueName.go
  pkg/virtualKubelet/const.go
  pkg/virtualKubelet/forge/endpointslices.go
  pkg/virtualKubelet/forge/endpointslices_test.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
  test/e2e/cruise/basic_test.go
  test/e2e/cruise/cluster_labels_e2e/cluster_labels_test.go
  test/e2e/cruise/conflict_remote_namespace_e2e/conflict_creation_test.go
  test/e2e/cruise/remote_namespaces_creation_e2e/remote_namespaces_creation_test.go
  test/e2e/testutils/net/pod.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/namespace.go
Labels: networking, virtual-node, size/XXL, merge-requested

#1059 Bump Capsule Chart Version to v0.1.3
  Makefile
  deployments/liqo/Chart.lock
  deployments/liqo/Chart.yaml
  go.mod
  go.sum
  test/e2e/postinstall/basic_test.go
Labels: size/S, merge-requested

#1060 Update Roadmap and Community Meeting
  README.md
Labels: community, size/S, merge-requested
