Repository liqotech/liqo, pull requests merged in 2022-10, with the labels that each got.

#1224 Liqo Controller Manager: ShadowPod validating webhook
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  deployments/liqo/values.yaml
  go.mod
  go.sum
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/webhooks/shadowpod/cache.go
  pkg/liqo-controller-manager/webhooks/shadowpod/cache_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/doc.go
  pkg/liqo-controller-manager/webhooks/shadowpod/peeringinfo.go
  pkg/liqo-controller-manager/webhooks/shadowpod/peeringinfo_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/shadowpod_suite_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/spdescription.go
  pkg/liqo-controller-manager/webhooks/shadowpod/spdescription_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/webhook.go
  pkg/liqo-controller-manager/webhooks/shadowpod/webhook_test.go
  pkg/utils/labels/labelSelectors.go
  pkg/utils/pod/pod.go
  test/e2e/cruise/cluster_labels_e2e/cluster_labels_test.go
Labels: kind/feature, size/XXL

#1471 Virtual kubelet: do not attempt to create pods twice
  pkg/virtualKubelet/reflection/workload/podns.go
Labels: size/M, merge-requested, kind/cleanup

#1467 Override Services Address/Port
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/values.yaml
  pkg/consts/annotations.go
  pkg/consts/parameters.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/resourceRequest.go
  pkg/liqoctl/generate/generate_test.go
  pkg/liqoctl/generate/handler.go
  pkg/utils/foreignCluster/getForeignCluster.go
  pkg/utils/foreignCluster/getauthendpoint_test.go
  pkg/utils/getters/dataGetters.go
Labels: kind/feature, size/L, merge-requested

#1476 Liqoctl: install wait for ForeignCluster
  pkg/utils/foreignCluster/pollevent.go
Labels: kind/bug, size/XS, merge-requested

#1466 Documentation: add note about liqoctl remote cluster flags
  docs/installation/install.md
  docs/installation/liqoctl.md
  docs/usage/peer.md
Labels: kind/docs, size/XS, merge-requested

#1482 Refactoring: liqonetutils import
  cmd/liqonet/gateway-operator.go
  cmd/liqonet/network-manager.go
  cmd/liqonet/route-operator.go
  internal/liqonet/route-operator/overlayOperator.go
  internal/liqonet/route-operator/overlayOperator_test.go
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/route-operator/symmetricRoutingOperator.go
  internal/liqonet/route-operator/symmetricRoutingOperator_test.go
  internal/liqonet/tunnel-operator/labelerOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/ipam/fake/ipam.go
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipam_test.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
  pkg/liqonet/natmappinginflater/natMappingInflater.go
  pkg/liqonet/routing/common.go
  pkg/liqonet/routing/gatewayRouting.go
  pkg/liqonet/routing/vxlanRouting.go
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/liqonet/utils/utils.go
  pkg/liqonet/utils/utils_test.go
Labels: size/L, merge-requested

#1483 LiqoNet: add net utilities in container
  build/liqonet/Dockerfile
Labels: size/XS, merge-requested

#1481 Docs: New documentation section called Add-Ons and new add-on
  docs/_toc.yml
Labels: size/XS

#1486 Bump golangci-lint version from 1.49.0 to 1.50.0
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, dependencies, merge-requested

#1475 Added suggestion how big should be the cluster
  docs/installation/requirements.md
Labels: kind/docs, size/XS

#1464 LiqoNet: externalCIDR forward fix + iptables comments and cleanup
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
Labels: size/L, merge-requested, kind/cleanup

#1477 Helm chart: make container resources configurable
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/values.yaml
  pkg/liqoctl/move/handler.go
  pkg/utils/pod/pod.go
  pkg/utils/pod/pod_test.go
  pkg/vkMachinery/forge/forge.go
Labels: size/L, merge-requested, kind/cleanup

#1509 make ctl: automatically set liqoctl version
  Makefile
  pkg/liqoctl/version/handler.go
Labels: size/XS, merge-requested

#1500 ForeignClusters: added mutation webhook
  cmd/liqo-controller-manager/main.go
  deployments/liqo/templates/webhooks/liqo-mutating-webhook.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/validator.go
  pkg/liqo-controller-manager/webhooks/foreigncluster/fc.go
  pkg/liqoctl/peerib/handler.go
  pkg/utils/foreignCluster/pollevent.go
Labels: kind/feature, size/L, merge-requested

#1513 foreign cluster: fix missing return when not found
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
Labels: kind/bug, size/XS, merge-requested

#1512 liqoctl peer: improve wait ordering
  pkg/liqoctl/peer/handler.go
Labels: size/XS, merge-requested, kind/cleanup

#1510 resource offer: ensure deletion in invalid status
  apis/sharing/v1alpha1/resourceoffer_types.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_controller.go
  pkg/liqo-controller-manager/resource-request-controller/utils.go
Labels: kind/bug, size/S, merge-requested

#1487 LiqoNet: Grafana "Liqo Network" dashboard
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  docs/_downloads/grafana/liqonetwork.json
  docs/_static/images/usage/prometheus-metrics/network-dashboard.png
  docs/_toc.yml
  docs/index.md
  docs/installation/install.md
  docs/usage/prometheus-metrics.md
Labels: kind/feature, size/XL, merge-requested

#1460 Collect Liqo Telemetry
  .github/workflows/integration.yml
  Makefile
  cmd/liqoctl/cmd/install.go
  cmd/telemetry/doc.go
  cmd/telemetry/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-telemetry-ClusterRole.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  deployments/liqo/templates/liqo-telemetry-rbac.yaml
  deployments/liqo/values.yaml
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
  pkg/liqoctl/install/handler.go
  pkg/telemetry/builder.go
  pkg/telemetry/doc.go
  pkg/telemetry/send.go
  pkg/telemetry/types.go
  pkg/utils/getters/dataGetters.go
  pkg/utils/getters/k8sGetters.go
Labels: kind/feature, size/XL, merge-requested

#1518 Fix: Liqoctl Install EKS
  pkg/liqoctl/install/eks/iam.go
Labels: kind/bug, size/XS, merge-requested

#1524 Virtual kubelet: fix bug in pod reflection
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: kind/bug, size/M, merge-requested

#1485 External monitor: improvement grpc connection and error handling
  Makefile
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/resource-request-controller/offerUpdater.go
  pkg/liqo-controller-manager/resource-request-controller/offer_queue.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/external-monitor.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/external-monitor_test.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/interface.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/local-resource-monitor.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-reader.pb.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-reader.proto
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-reader_grpc.pb.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-scaler.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-scaler_test.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource.proto
  pkg/liqo-controller-manager/resource-request-controller/resourceRequest_operator_test.go
Labels: size/XL, merge-requested, kind/cleanup

#1511 foreign cluster: improve remote identity enforcement
  internal/auth-service/auth_test.go
  pkg/identityManager/certificate.go
  pkg/identityManager/client.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/utils/csr/create.go
  pkg/utils/csr/watcher_test.go
  pkg/utils/testutil/csr.go
Labels: size/L, kind/cleanup

#1525 Draft Releases
  .github/workflows/integration.yml
  .github/workflows/release.yml
Labels: size/S

#1526 Docs: add warning about mismatching versions
  cmd/liqoctl/cmd/peer.go
  docs/installation/liqoctl.md
  docs/usage/peer.md
  pkg/liqoctl/install/handler.go
Labels: kind/docs, size/S
