Repository liqotech/liqo, pull requests merged in 2022-04, with the labels that each got.

#1183 Update Golangci Lint to work with Go 1.18
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
Labels: size/S, merge-requested

#1186 Fix gci
  .golangci.yml
Labels: size/XS, merge-requested

#1184 Virtual kubelet: introduce support for service account reflection
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/virtualKubelet/forge/configmaps.go
  pkg/virtualKubelet/forge/configmaps_test.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/forge/secrets.go
  pkg/virtualKubelet/forge/secrets_test.go
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/configuration/secret.go
  pkg/virtualKubelet/reflection/configuration/secret_test.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/virtualKubelet/reflection/workload/workload_suite_test.go
Labels: kind/feature, virtual-node, size/L, merge-requested

#1195 CRDs: add category to retrieve all liqo resources
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/resourcerequest_types.go
  apis/discovery/v1alpha1/searchdomain_types.go
  apis/net/v1alpha1/ipamstorage_types.go
  apis/net/v1alpha1/natmapping_types.go
  apis/net/v1alpha1/networkconfig_types.go
  apis/net/v1alpha1/tunnel_endpoint_types.go
  apis/offloading/v1alpha1/namespaceoffloading_types.go
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/virtualkubelet/v1alpha1/namespacemap_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/discovery.liqo.io_searchdomains.yaml
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  deployments/liqo/crds/net.liqo.io_natmappings.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
Labels: size/M, merge-requested, kind/cleanup

#1199 PVC reflection: add missing filter annotation and fix typo
  pkg/liqo-controller-manager/storageprovisioner/remoteprovisioner.go
Labels: kind/bug, size/XS, merge-requested

#1197 fix liqoctl disconnect race condition
  pkg/liqoctl/common/cluster.go
  pkg/liqoctl/disconnect/handler.go
Labels: size/M, merge-requested

#1210 Documentation: remove legacy images
  docs/images/advertisement-protocol/architecture.png
  docs/images/advertisement-protocol/broadcaster-workflow.png
  docs/images/advertisement-protocol/controller-workflow.png
  docs/images/auth/get_identity_flowchart_complete.png
  docs/images/complete-workflow.png
  docs/images/dashboard/dashboard-ui.png
  docs/images/discovery/foreign-cluster.png
  docs/images/discovery/peering-process.png
  docs/images/discovery/trusted.png
  docs/images/discovery/untrusted.png
  docs/images/home/architecture.png
  docs/images/install/aks/01.png
  docs/images/install/aks/02.png
  docs/images/install/aks/03.png
  docs/images/install/aks/04.png
  docs/images/install/aks/05.png
  docs/images/install/aks/06.png
  docs/images/install/aks/07.png
  docs/images/install/aks/08.png
  docs/images/install/architecture.png
  docs/images/install/gke/01.png
  docs/images/install/gke/02.png
  docs/images/install/gke/03.png
  docs/images/install/gke/04.png
  docs/images/install/gke/05.png
  docs/images/k8s-on-desktop-demo/introduction_schema.svg
  docs/images/readme/bell-outline-badged.svg
  docs/images/tray-agent/autonomous-mode.png
  docs/images/tray-agent/liqo_agent-scheme.png
  docs/images/tray-agent/tethered-mode.png
  docs/images_src/advertisement-protocol/architecture.xml
  docs/images_src/advertisement-protocol/broadcaster-workflow.xml
  docs/images_src/advertisement-protocol/controller-workflow.xml
  docs/images_src/auth/get_identity_flowchart_complete.drawio
  docs/images_src/complete-workflow.xml
  docs/images_src/discovery/discovery-workflow.drawio
  docs/images_src/discovery/foreign-cluster.xml
  docs/images_src/discovery/peering-process.xml
  docs/images_src/discovery/trusted.xml
  docs/images_src/discovery/untrusted.xml
  docs/images_src/home/architecture.drawio
  docs/images_src/k8s-on-desktop-demo/introduction_schema.drawio
  docs/images_src/resource-sharing/pod-lifecycle.xml
  docs/images_src/resource-sharing/reflection.xml
  docs/images_src/tray-agent/liqo_agent-scheme.xml
  docs/images_src/tray-agent/xxx-mode.pptx
Labels: kind/docs, size/M, merge-requested, documentation

#1219 Liqoctl: fix node name in add command
  pkg/liqoctl/add/consts.go
  pkg/liqoctl/add/handler.go
  test/e2e/pipeline/installer/liqoctl/peer.sh
Labels: kind/bug, size/S, merge-requested
