Repository liqotech/liqo, pull requests merged in 2023-01, with the labels that each got.

#1614 Docs: update outdated flag for AKS install
  docs/installation/install.md
Labels: kind/docs, size/XS

#1590 Update of lables and annotations from shadowPod to pod
  cmd/metric-agent/main.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller_test.go
  pkg/utils/clients/get_cached_client.go
  pkg/utils/clients/get_ssa_client_patch.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/forge/meta_test.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: kind/feature, size/L, merge-requested

#1605 Fix AWS IAM User Creation
  pkg/identityManager/const.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/liqoctl/install/eks/iam.go
  pkg/liqoctl/install/eks/policy.go
Labels: size/M, merge-requested

#1633 Add optional feature to guarantee better service continuity in case of worker node failure in the remote cluster
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/nodefailure-controller/doc.go
  pkg/liqo-controller-manager/nodefailure-controller/nodefailure_controller.go
  pkg/liqo-controller-manager/nodefailure-controller/nodefailure_controller_test.go
  pkg/liqo-controller-manager/nodefailure-controller/suite_test.go
Labels: kind/feature, size/L

#1641 Bump k8s libraries to 1.26
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowpods.yaml
  go.mod
  go.sum
  pkg/liqo-controller-manager/nodefailure-controller/nodefailure_controller_test.go
  pkg/liqo-controller-manager/nodefailure-controller/suite_test.go
Labels: size/L, merge-requested

#1610 Added IaC example page documentation
  docs/_toc.yml
  docs/conf.py
  docs/examples/provision-with-terraform.md
  docs/examples/quick-start.md
  docs/index.md
  examples/README.md
  examples/provision-with-terraform/main.tf
Labels: kind/docs, size/L, merge-requested

#1639 add attach to pod reflection and switch to fork for vk library
  cmd/virtual-kubelet/root/http.go
  deployments/liqo/files/liqo-virtual-kubelet-remote-ClusterRole.yaml
  go.mod
  go.sum
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/roles/remote/role.go
Labels: size/L, merge-requested

#1632 Example: replicated deployments
  .gitignore
  README.md
  docs/_static/images/examples/replicated-deployments/replicated-deployments.drawio.svg
  docs/_toc.yml
  docs/examples/global-ingress.md
  docs/examples/offloading-with-policies.md
  docs/examples/quick-start.md
  docs/examples/replicated-deployments.md
  docs/examples/service-offloading.md
  docs/examples/stateful-applications.md
  docs/index.md
  examples/README.md
  examples/replicated-deployments/manifests/cluster.yaml
  examples/replicated-deployments/manifests/deploy.yaml
  examples/replicated-deployments/setup.sh
Labels: size/L, merge-requested

#1650 Examples: update k8s version
  docs/examples/global-ingress.md
  docs/examples/offloading-with-policies.md
  docs/examples/provision-with-terraform.md
  docs/examples/quick-start.md
  docs/examples/service-offloading.md
  docs/examples/stateful-applications.md
  examples/global-ingress/manifests/edge-dns.yaml
  examples/global-ingress/manifests/gslb-eu.yaml
  examples/global-ingress/manifests/gslb-us.yaml
  examples/offloading-with-policies/manifests/cluster.yaml
  examples/provision-with-terraform/.gitignore
  examples/provision-with-terraform/main.tf
  examples/quick-start/manifests/cluster.yaml
  examples/service-offloading/manifests/cluster.yaml
  examples/stateful-applications/manifests/cluster1.yaml
  examples/stateful-applications/manifests/cluster2.yaml
Labels: kind/docs, size/L, merge-requested

#1647 Liqoctl install AWS: added IAM user-name flag disclaimer
  pkg/liqoctl/install/eks/iam.go
Labels: size/S, merge-requested, kind/cleanup
