Repository liqotech/liqo, pull requests merged in 2023-09, with the labels that each got.

#1978 Liqo-route: iptables-nft
  internal/liqonet/route-operator/routeOperator.go
  pkg/liqonet/iptables/iptables.go
  pkg/liqonet/iptables/iptables_test.go
Labels: kind/bug, size/M, merge-requested

#1961 AllowList-based and DenyList-based Resource Reflection
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  docs/usage/reflection.md
  pkg/consts/replication.go
  pkg/virtualKubelet/forge/events.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/configuration/secret.go
  pkg/virtualKubelet/reflection/configuration/secret_test.go
  pkg/virtualKubelet/reflection/configuration/serviceaccount.go
  pkg/virtualKubelet/reflection/configuration/serviceaccount_test.go
  pkg/virtualKubelet/reflection/event/event.go
  pkg/virtualKubelet/reflection/event/event_test.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/exposition/ingress.go
  pkg/virtualKubelet/reflection/exposition/ingress_test.go
  pkg/virtualKubelet/reflection/exposition/service.go
  pkg/virtualKubelet/reflection/exposition/service_test.go
  pkg/virtualKubelet/reflection/generic/namespaced.go
  pkg/virtualKubelet/reflection/generic/namespaced_test.go
  pkg/virtualKubelet/reflection/generic/reflector.go
  pkg/virtualKubelet/reflection/generic/reflector_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/XXL, merge-requested

#1983 Issues template refactoring
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lint.yml
Labels: size/XS, merge-requested, kind/cleanup

#1979 Liqo-route: liqo.host forward
  cmd/liqonet/gateway-operator.go
  internal/liqonet/tunnel-operator/firewall.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_test.go
Labels: kind/feature, size/L, merge-requested

#1986 chore: chunks slice loop append replace
  pkg/utils/args/stringlist.go
Labels: size/XS, merge-requested

#1977 VirtualNode: namespacemap virtualnode selector
  cmd/liqoctl/cmd/offload.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/liqo-controller-manager/namespaceoffloading-controller/clusterselector.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/namespaceoffloading_controller.go
  pkg/liqoctl/completion/completion.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/virtualnode/doc.go
  pkg/utils/virtualnode/virtualnode.go
Labels: size/L, merge-requested, kind/cleanup

#1991 Controller client timeout
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/pre-delete-job.yaml
  deployments/liqo/values.yaml
  pkg/utils/restcfg/ratelimiting.go
  pkg/utils/restcfg/ratelimiting_test.go
Labels: kind/feature, size/M, merge-requested

#1995 Telemetry service-account permissions
  cmd/telemetry/main.go
  deployments/liqo/files/liqo-telemetry-ClusterRole.yaml
Labels: size/XS, merge-requested

#1996 Fix go version in go.mod
  .github/dependabot.yml
  build/liqoctl/build.sh
  go.mod
Labels: size/S, merge-requested

#2002 fix dependabot docker updater
  .github/dependabot.yml
Labels: size/S, merge-requested, kind/cleanup

#1974 Helm values files for CLI
  cmd/liqoctl/cmd/install.go
  docs/installation/install.md
  pkg/liqoctl/install/handler.go
Labels: kind/feature, size/M, merge-requested

#1984 VirtualNode: deletion-routine refactoring
  cmd/liqo-controller-manager/main.go
  pkg/liqo-controller-manager/virtualnode-controller/condition.go
  pkg/liqo-controller-manager/virtualnode-controller/deletion-routine.go
  pkg/liqo-controller-manager/virtualnode-controller/finalizer.go
  pkg/liqo-controller-manager/virtualnode-controller/suite_test.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualkubelet.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller.go
  pkg/utils/getters/k8sGetters.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/utils/doc.go
  pkg/vkMachinery/utils/utils.go
Labels: size/XL, merge-requested, kind/cleanup

#1985 AKS Private Link
  docs/installation/install.md
  pkg/liqoctl/install/aks/provider.go
Labels: size/XS, merge-requested

#2014 liqo-route: mac annotation fix
  cmd/liqonet/route-operator.go
  internal/liqonet/route-operator/overlayOperator.go
  internal/liqonet/route-operator/overlayOperator_test.go
  pkg/liqonet/utils/utils.go
Labels: size/M, merge-requested

#2012 Override default Ingress tls secretName
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-ingress.yaml
  deployments/liqo/values.yaml
Labels: size/XS, merge-requested

#2022 Bump GCI version to v0.11.0
  Makefile
Labels: size/XS, merge-requested

#2024 Adding a reference how to download liqoctl
  docs/installation/install.md
Labels: size/XS, merge-requested

#1992 IPAM controllers for Networks and IPs resources
  apis/ipam/v1alpha1/groupversion_info.go
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  pkg/liqo-controller-manager/ip-controller/doc.go
  pkg/liqo-controller-manager/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/network-controller/doc.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/resource-reader.pb.go
  pkg/liqo-controller-manager/webhooks/ip/doc.go
  pkg/liqo-controller-manager/webhooks/ip/ip.go
  pkg/liqo-controller-manager/webhooks/network/doc.go
  pkg/liqo-controller-manager/webhooks/network/nw.go
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipam.pb.go
  pkg/liqonet/ipam/ipam.proto
  pkg/liqonet/ipam/ipam_grpc.pb.go
  pkg/utils/foreignCluster/getForeignCluster.go
  pkg/utils/mapper/mapper.go
Labels: hold, size/XXL

#2013 Liqo Gateway & Auth Service Loadbalancer Static IP
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/values.yaml
Labels: size/S, merge-requested

#2029 Enable Gateway leader election only if replicate gt 1
  deployments/liqo/templates/liqo-gateway-deployment.yaml
Labels: size/XS, merge-requested

#2030 Bump controller-gen version from 0.9.2 to 0.13.0
  Makefile
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  apis/net/v1alpha1/zz_generated.deepcopy.go
  apis/offloading/v1alpha1/zz_generated.deepcopy.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  deployments/liqo/crds/net.liqo.io_natmappings.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowendpointslices.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowpods.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
Labels: size/M, merge-requested

#2032 Fix bug endpoints not reflected
  pkg/virtualKubelet/forge/endpointslices.go
  pkg/virtualKubelet/forge/endpointslices_test.go
Labels: kind/bug, size/M, merge-requested

#2027 IPAM API: create associated Services for IP resources
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/consts/replication.go
  pkg/liqo-controller-manager/ip-controller/exposition.go
  pkg/liqo-controller-manager/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
Labels: kind/feature, size/XL

#2041 CI: added proxy
  .github/workflows/integration.yml
Labels: size/XS

#2040 Liqo Proxy
  .github/dependabot.yml
  build/proxy/Dockerfile
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-proxy-configmap.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/values.yaml
Labels: size/S, merge-requested

#2034 Overlay Operator test timeout
  internal/liqonet/route-operator/overlayOperator_test.go
Labels: kind/bug, size/XS, merge-requested

#2039 Fix nil pointer deference in pod Ready condition
  pkg/virtualKubelet/reflection/workload/podns.go
Labels: kind/bug, size/S, merge-requested

#2043 Endpointslices reflection fix
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  docs/usage/reflection.md
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/generic/reflector.go
Labels: kind/bug, size/L, merge-requested

#2047 Makefile: Improved MacOS compatibility
  Makefile
Labels: size/M, merge-requested

#2048 Unit tests: envtest server new crds path
  internal/auth-service/auth_service_suite_test.go
  internal/crdReplicator/crdReplicator_suite_test.go
  internal/liqonet/network-manager/netcfgcreator/netcfgcreator_suite_test.go
  internal/liqonet/route-operator/overlayOperator_test.go
  internal/liqonet/tunnel-operator/tunnel_operator_suite_test.go
  pkg/identityManager/identityManager_suite_test.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/suite_test.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/liqo-controller-manager/shadowpod-controller/suite_test.go
  pkg/liqo-controller-manager/virtualnode-controller/suite_test.go
  pkg/tenantNamespace/tenantNamespace_suite_test.go
  pkg/utils/authenticationtoken/authenticationtoken_test.go
  pkg/utils/csr/suite_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  test/integration/integration_suite_test.go
Labels: size/M, merge-requested

#2044 Always reflect kube-root-ca.crt configmap in offloaded namespaces
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/generic/namespaced.go
Labels: kind/bug, size/L, merge-requested

#2031 Configuration Controller
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  apis/networking/v1alpha1/common_types.go
  apis/networking/v1alpha1/configuration_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_configurations.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/liqo-controller-manager/external-network/configuration-controller/configuration-controller.go
  pkg/liqo-controller-manager/external-network/configuration-controller/doc.go
  pkg/liqo-controller-manager/external-network/configuration-controller/label.go
  pkg/liqo-controller-manager/external-network/configuration-controller/network.go
  pkg/liqo-controller-manager/ip-controller/exposition.go
  pkg/liqo-controller-manager/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/liqo-controller-manager/virtualnode-controller/finalizer.go
  pkg/liqo-controller-manager/virtualnode-controller/namespacemap.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller.go
  pkg/liqo-controller-manager/webhooks/ip/ip.go
  pkg/liqo-controller-manager/webhooks/network/nw.go
  pkg/utils/events/doc.go
  pkg/utils/events/events.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/mapper/mapper.go
Labels: kind/feature, size/XL, merge-requested
