Repository liqotech/liqo, pull requests merged in 2023-12, with the labels that each got.

#2180 CI: Helm Lint
  .github/workflows/lint.yml
  deployments/liqo/Chart.yaml
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-auth-rbac.yaml
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-controller-manager-rbac.yaml
  deployments/liqo/templates/liqo-controller-manager-service.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-rbac.yaml
  deployments/liqo/templates/liqo-proxy-configmap.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-proxy-service.yaml
Labels: size/S, merge-requested, kind/cleanup, github_actions

#2185 Network Internal: route API
  apis/networking/v1alpha1/route_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
Labels: size/L, merge-requested

#2188 Firewall: immutable table name
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/firewallconfiguration.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/table.go
Labels: size/S, merge-requested

#2186 Delete internalNodes associated with deleted nodes
  pkg/liqo-controller-manager/internal-network/internalfabric-controller/internalfabric_controller.go
Labels: kind/feature, size/M, merge-requested

#2197 Network: configuration fix
  pkg/liqo-controller-manager/external-network/configuration-controller/network.go
Labels: kind/bug, size/XS, merge-requested

#2174 Network: firewall controller nat rules
  apis/networking/v1alpha1/firewall/common_types.go
  apis/networking/v1alpha1/firewall/filterrule_types.go
  apis/networking/v1alpha1/firewall/filterule.go
  apis/networking/v1alpha1/firewall/match.go
  apis/networking/v1alpha1/firewall/match_types.go
  apis/networking/v1alpha1/firewall/natrule.go
  apis/networking/v1alpha1/firewall/natrule_types.go
  apis/networking/v1alpha1/firewall/routerule.go
  apis/networking/v1alpha1/firewall/routerule_types.go
  apis/networking/v1alpha1/firewall/rule_types.go
  apis/networking/v1alpha1/firewall/rules_types.go
  apis/networking/v1alpha1/firewall/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  go.mod
  go.sum
  pkg/firewall/rule.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/firewallconfiguration.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/natrule.go
Labels: kind/feature, size/XXL, merge-requested

#2207 External Network: kind to resource
  pkg/liqo-controller-manager/external-network/utils/getters.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
Labels: size/S, merge-requested

#2189 Network: route controller routes
  pkg/route/route.go
  pkg/route/route_controller.go
  pkg/route/rule.go
  pkg/route/table.go
Labels: kind/feature, hold, size/L

#2193 Network: firewall controller webhook uniqe table name
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/firewallconfiguration.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/table.go
Labels: kind/bug, size/S

#2210 Doc: update sphinx packages
  .github/dependabot.yml
  docs/README.md
  docs/examples/global-ingress.md
  docs/requirements.txt
Labels: size/S, merge-requested

#2212 Network: firewall masquerade
  apis/networking/v1alpha1/firewall/common_types.go
  apis/networking/v1alpha1/firewall/match.go
  apis/networking/v1alpha1/firewall/natrule.go
  apis/networking/v1alpha1/firewall/natrule_types.go
  apis/networking/v1alpha1/firewall/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/natrule.go
Labels: size/M, merge-requested

#2198 Allow to set custom image version for each pod
  cmd/liqoctl/cmd/install.go
  deployments/liqo/README.md
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  deployments/liqo/templates/pre-delete-job.yaml
  deployments/liqo/values.yaml
  pkg/liqoctl/install/handler.go
Labels: size/L

#2192 Network: route controller webhook
  cmd/liqo-controller-manager/main.go
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  pkg/liqo-controller-manager/webhooks/routeconfiguration/doc.go
  pkg/liqo-controller-manager/webhooks/routeconfiguration/route.go
  pkg/liqo-controller-manager/webhooks/routeconfiguration/routeconfiguration.go
  pkg/liqo-controller-manager/webhooks/routeconfiguration/rule.go
  pkg/liqo-controller-manager/webhooks/routeconfiguration/table.go
  pkg/route/rule.go
Labels: kind/feature, hold, size/L

#2213 Network: policy routing interfaces
  apis/networking/v1alpha1/routeconfiguration_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  pkg/liqo-controller-manager/webhooks/routeconfiguration/rule.go
  pkg/route/rule.go
Labels: size/M, merge-requested

#2215 Network: routeconfiguration status
  apis/networking/v1alpha1/routeconfiguration_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  pkg/route/route_controller.go
Labels: size/M, merge-requested

#2227 External Network: minor fix getters
  pkg/liqo-controller-manager/external-network/configuration-controller/configuration_controller.go
  pkg/liqo-controller-manager/ip-controller/ip_controller.go
  pkg/liqoctl/rest/configuration/utils.go
Labels: size/S

#2228 Internal Network: Change InternalNode
  apis/networking/v1alpha1/internalnode_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalnodes.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/consts/internalnetwork.go
  pkg/discovery/nodeUtils.go
  pkg/liqo-controller-manager/internal-network/internalfabric-controller/internalfabric_controller.go
  pkg/liqo-controller-manager/internal-network/internalnode-controller/internalnode_controller.go
  pkg/liqo-controller-manager/internal-network/ipam/node.go
  pkg/liqo-controller-manager/internal-network/node-controller/doc.go
  pkg/liqo-controller-manager/internal-network/node-controller/node_controller.go
Labels: size/L, merge-requested

#2236 Docs: Fix broken link for contributing page
  CONTRIBUTING.md
Labels: size/XS, merge-requested

#2209 Reflect Ingress and LB Class to remote clusters
  apis/sharing/v1alpha1/resourceoffer_types.go
  apis/sharing/v1alpha1/zz_generated.deepcopy.go
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/resource-request-controller/offerUpdater.go
  pkg/liqo-controller-manager/resource-request-controller/suite_test.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/utils/args/classnamelist.go
  pkg/virtualKubelet/forge/ingresses.go
  pkg/virtualKubelet/forge/ingresses_test.go
  pkg/virtualKubelet/forge/services.go
  pkg/virtualKubelet/forge/services_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/exposition/ingress.go
  pkg/virtualKubelet/reflection/exposition/ingress_test.go
  pkg/virtualKubelet/reflection/exposition/service.go
  pkg/virtualKubelet/reflection/exposition/service_test.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: size/XL, merge-requested

#2238 External Network: gateway cluster role binding
  pkg/consts/externalnetwork.go
  pkg/liqo-controller-manager/external-network/utils/rbac.go
  pkg/liqo-controller-manager/external-network/wireguard/utils.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
Labels: size/L, merge-requested

#2244 Network: added onlink flags in routes
  apis/networking/v1alpha1/routeconfiguration_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  pkg/route/route.go
Labels: size/S, merge-requested

#2248 Fix liqoctl build ci
  build/liqoctl/build.sh
Labels: size/S, merge-requested

#2247 GeneveTunnel Operator
  .golangci.yml
  apis/networking/v1alpha1/genevetunnel_types.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_genevetunnels.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/consts/externalnetwork.go
  pkg/consts/internalnetwork.go
  pkg/liqo-controller-manager/internal-network/id/doc.go
  pkg/liqo-controller-manager/internal-network/id/genevetunnel.go
  pkg/liqo-controller-manager/internal-network/id/id_suite_test.go
  pkg/liqo-controller-manager/internal-network/id/id_test.go
  pkg/liqo-controller-manager/internal-network/id/manager.go
  pkg/liqo-controller-manager/internal-network/internalfabric-controller/genevetunnel.go
  pkg/liqo-controller-manager/internal-network/internalfabric-controller/internalfabric_controller.go
  pkg/liqo-controller-manager/internal-network/ipam/ipam.go
Labels: size/XL, merge-requested

#2250 Network: do not change interface names of InternalNodes and InternalFabrics
  pkg/liqo-controller-manager/internal-network/interface.go
Labels: size/XS
