Repository liqotech/liqo, pull requests merged in 2023-03, with the labels that each got.

#1699 Docs: broken link fix
  docs/installation/install.md
Labels: size/XS

#1701 Liqoctl: build 1.19 fix
  Makefile
  build/liqoctl/build.sh
  test/e2e/pipeline/infra/k3s/clean.sh
  test/e2e/pipeline/infra/k3s/setup.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
Labels: size/S

#1706 Bump Golang version to 1.19 (revert)
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/lint.yml
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqoctl/build.sh
  build/liqonet/Dockerfile
  go.mod
Labels: size/S, merge-requested

#1704 Fix potential issue in pod resource casting
  pkg/liqo-controller-manager/resource-request-controller/resource-monitors/local-resource-monitor.go
Labels: kind/bug, size/S, merge-requested

#1696 Support Private AKS cluster
  pkg/liqoctl/install/aks/provider.go
Labels: size/S, merge-requested

#1673 Make it possible to configure IPAM module
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  pkg/consts/liqonet.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/L, merge-requested

#1685 VK: configurable network condition
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/liqoNodeProvider/conditions.go
  pkg/virtualKubelet/liqoNodeProvider/conditions_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
Labels: kind/feature, size/M, merge-requested

#1684 Make it possible to disable the IP reflection
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: kind/feature, size/M, merge-requested

#1726 Bump golang-ci version to 1.52.0
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested, kind/cleanup

#1727 Liqoctl: status supports internal network disabled
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/liqoctl/util/util.go
  pkg/utils/testutil/liqo.go
  test/e2e/cruise/cluster_labels_e2e/cluster_labels_test.go
Labels: kind/feature, size/L, merge-requested

#1747 Docs: add external network feature docs
  docs/_toc.yml
  docs/index.md
  docs/usage/external-network.md
Labels: kind/docs, size/M, merge-requested

#1743 Liqoctl: status peer supports internal network disabled + unit tests
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/peer/peer_suite_test.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/liqoctl/status/peer/peerinfo_test.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/liqo.go
Labels: size/XL, merge-requested

#1750 LiqoNet: Grafana dashboard data source selector
  docs/_downloads/grafana/liqonetwork.json
Labels: kind/feature, size/M, merge-requested
