Repository liqotech/liqo, pull requests merged in 2023-05, with the labels that each got.

#1801 Roadmap v0.9
  ROADMAP.md
Labels: size/XS, merge-requested

#1774 ShadowEndpointSlice controller check for foreign API server status
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller_test.go
  pkg/utils/foreignCluster/peeringStatus.go
Labels: kind/feature, size/M

#1809 Improving docs about Liqo metrics
  docs/_downloads/grafana/liqonetwork.json
  docs/usage/prometheus-metrics.md
  pkg/liqonet/tunnel/metrics/metrics.go
Labels: kind/docs, size/S, merge-requested

#1810 Fix readthedocs build job
  docs/requirements.txt
Labels: size/XS, merge-requested

#1812 Helm: ingress class name
  deployments/liqo/templates/liqo-auth-ingress.yaml
Labels: size/XS, merge-requested

#1813 Docs: Added supported k8S version
  docs/installation/requirements.md
Labels: size/XS, merge-requested

#1817 Docs: supported k8s version syntax
  docs/installation/requirements.md
Labels: size/XS, merge-requested

#1820 Virtual node checks the status of the API server via the ForeignCluster
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/utils/foreignCluster/getForeignCluster.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/roles/local/role.go
Labels: size/M, merge-requested

#1825 Liqoctl: flag to set service type
  cmd/liqoctl/cmd/install.go
  docs/installation/install.md
  pkg/liqoctl/install/handler.go
  pkg/utils/args/enum.go
Labels: kind/feature, size/L, merge-requested

#1829 Improve error message
  pkg/liqoctl/install/validation.go
Labels: size/XS, merge-requested

#1807 Add virtual-kubelet Grafana dashboard
  .markdownlint.yml
  docs/_downloads/grafana/liqovirtualkubelet.json
  docs/_static/images/usage/prometheus-metrics/virtualkubelet-dashboard.png
  docs/installation/install.md
  docs/usage/prometheus-metrics.md
  pkg/virtualKubelet/metrics/metrics.go
  pkg/virtualKubelet/reflection/generic/reflector.go
Labels: size/XL, merge-requested

#1805 ShadowPod Status
  apis/virtualkubelet/v1alpha1/shadowpod_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowpods.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowpod.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/shadowpod.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller_test.go
Labels: size/L, merge-requested

#1833 Fix deployment on ArgoCD
  deployments/liqo/README.md
  deployments/liqo/templates/webhooks/job-patch/job-create-secret.yaml
  deployments/liqo/templates/webhooks/job-patch/job-patch-webhook.yaml
  deployments/liqo/values.yaml
Labels: size/XS, merge-requested

#1834 Document possibility to use external Prometheus server
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  docs/usage/prometheus-metrics.md
Labels: kind/docs, size/S, merge-requested

#1837 Docs: EndpointSlice reflection with multiple clusters
  docs/usage/reflection.md
Labels: size/XS

#1836 Helm: labels and annotations
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
  deployments/liqo/templates/liqo-gateway-servicemonitor.yaml
  deployments/liqo/templates/liqo-virtualkubelet-podmonitor.yaml
  deployments/liqo/values.yaml
Labels: size/M, merge-requested

#1838 Liqoctl: install flags priority over provider
  pkg/liqoctl/install/handler.go
Labels: kind/feature, size/S, merge-requested

#1840 FIeldSelector indexer
  cmd/liqo-controller-manager/main.go
  pkg/liqo-controller-manager/nodefailure-controller/nodefailure_controller.go
  pkg/liqo-controller-manager/nodefailure-controller/nodefailure_controller_test.go
  pkg/utils/indexer/doc.go
  pkg/utils/indexer/indexer.go
Labels: size/M, merge-requested
