Repository liqotech/liqo, pull requests merged in 2023-10, with the labels that each got.

#2052 Fix - Liqo Gateway & Auth Loadbalancer Typo
  deployments/liqo/templates/liqo-auth-service.yaml
  deployments/liqo/templates/liqo-gateway-service.yaml
Labels: size/XS, merge-requested

#2054 Helm-docs ignore CRDs
  Makefile
  deployments/liqo/.helmdocsignore
  deployments/liqo/charts/liqo-crds/values.yaml
Labels: size/XS, merge-requested

#2064 Bump golangci-lint and gci
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested

#2063 Docs: supported kubernetes versions
  docs/installation/requirements.md
Labels: kind/docs, size/XS, merge-requested

#2053 ExternalNetwork: WireGuard Gateway Server and Client controllers
  apis/networking/v1alpha1/wggatewayclient_types.go
  apis/networking/v1alpha1/wggatewayserver_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  pkg/consts/annotations.go
  pkg/consts/externalnetwork.go
  pkg/liqo-controller-manager/external-network/wireguard/docs.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
  pkg/utils/labels/labelSelectors.go
  pkg/utils/maps/maps.go
Labels: kind/feature, hold, size/XL

#2072 Fix External Network APIs
  apis/networking/v1alpha1/gatewayclient_types.go
  apis/networking/v1alpha1/wggatewayclient_types.go
  apis/networking/v1alpha1/wggatewayserver_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-rbac.yaml
  go.mod
  go.sum
  pkg/liqo-controller-manager/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/external-network/server-operator/server_controller.go
  pkg/liqo-controller-manager/external-network/utils/getters.go
  pkg/liqo-controller-manager/external-network/utils/metrics.go
  pkg/liqo-controller-manager/external-network/utils/rbac.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
  pkg/utils/mapper/mapper.go
Labels: size/XXL, merge-requested

#2076 Liqonet: connchecker refactoring
  .gitignore
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/conncheck/conncheck.go
  pkg/liqonet/conncheck/receiver.go
  pkg/liqonet/conncheck/sender.go
  pkg/liqonet/tunnel/driver.go
  pkg/liqonet/tunnel/wireguard/driver.go
Labels: size/M, merge-requested, kind/cleanup

#1695 Security Mode: traffic segregation
  build/liqonet/Dockerfile
  cmd/liqonet/gateway-operator.go
  cmd/liqonet/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/values.yaml
  go.mod
  go.sum
  internal/liqonet/tunnel-operator/offloaded_pod_controller.go
  internal/liqonet/tunnel-operator/reflected_endpointslice_controller.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/consts/liqonet.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/clusterselector.go
  pkg/liqonet/ipset/doc.go
  pkg/liqonet/ipset/ipset.go
  pkg/liqonet/iptables/iptables.go
  pkg/utils/virtualnode/virtualnode.go
Labels: kind/feature, size/XXL, merge-requested

#2083 Telemetry: security mode
  cmd/telemetry/main.go
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  pkg/telemetry/builder.go
  pkg/telemetry/doc.go
  pkg/telemetry/types.go
Labels: size/XS, merge-requested

#2087 Add SecretRef to top-level resources
  apis/networking/v1alpha1/gatewayclient_types.go
  apis/networking/v1alpha1/gatewayserver_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  go.mod
  pkg/liqo-controller-manager/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/external-network/server-operator/server_controller.go
  pkg/liqo-controller-manager/external-network/utils/getters.go
Labels: size/L, merge-requested

#2080 Metric Agent: cache fix
  cmd/metric-agent/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/values.yaml
  pkg/utils/clients/get_cached_client.go
Labels: size/L, merge-requested

#2090 CI: Increased flannel wait
  test/e2e/pipeline/infra/cluster-api/cni.sh
Labels: size/XS, merge-requested

#2086 Clarified the use of custom installation options
  docs/installation/install.md
Labels: size/S, merge-requested

#2094 External-network: legacy gateway
  Makefile
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_publickeys.yaml
  deployments/liqo/files/liqo-legacy-gateway-ClusterRole.yaml
  deployments/liqo/files/liqo-legacy-gateway-Role.yaml
  deployments/liqo/templates/liqo-legacy-gateway-deployment.yaml
  deployments/liqo/templates/liqo-legacy-gateway-rbac.yaml
  deployments/liqo/templates/liqo-legacy-gateway-service.yaml
  deployments/liqo/templates/liqo-legacy-gateway-servicemonitor.yaml
  internal/liqonet/tunnel-operator/labelerOperator_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/utils/labels/labelSelectors.go
Labels: size/M, merge-requested, kind/breaking

#2077 External Network: liqoctl network connect
  cmd/liqoctl/cmd/network.go
  cmd/liqoctl/cmd/root.go
  pkg/liqo-controller-manager/external-network/utils/getters.go
  pkg/liqo-controller-manager/external-network/wireguard/utils.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/rest/gatewayclient/create.go
  pkg/liqoctl/rest/gatewayclient/delete.go
  pkg/liqoctl/rest/gatewayclient/doc.go
  pkg/liqoctl/rest/gatewayclient/generate.go
  pkg/liqoctl/rest/gatewayclient/get.go
  pkg/liqoctl/rest/gatewayclient/types.go
  pkg/liqoctl/rest/gatewayclient/update.go
  pkg/liqoctl/rest/gatewayclient/utils.go
  pkg/liqoctl/rest/gatewayserver/create.go
  pkg/liqoctl/rest/gatewayserver/delete.go
  pkg/liqoctl/rest/gatewayserver/doc.go
  pkg/liqoctl/rest/gatewayserver/generate.go
  pkg/liqoctl/rest/gatewayserver/get.go
  pkg/liqoctl/rest/gatewayserver/types.go
  pkg/liqoctl/rest/gatewayserver/update.go
  pkg/liqoctl/rest/gatewayserver/utils.go
  pkg/liqoctl/rest/publickey/create.go
  pkg/liqoctl/rest/publickey/delete.go
  pkg/liqoctl/rest/publickey/doc.go
  pkg/liqoctl/rest/publickey/generate.go
  pkg/liqoctl/rest/publickey/get.go
  pkg/liqoctl/rest/publickey/types.go
  pkg/liqoctl/rest/publickey/update.go
  pkg/liqoctl/rest/publickey/utils.go
  pkg/liqoctl/wait/wait.go
Labels: kind/feature, size/XXL

#2106 External Network: Wireguard MTU
  pkg/liqoctl/rest/gatewayclient/types.go
  pkg/liqoctl/rest/gatewayserver/types.go
Labels: size/XS

#2084 Security Mode: E2E tests
  cmd/liqonet/main.go
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  internal/liqonet/tunnel-operator/offloaded_pod_controller.go
  internal/liqonet/tunnel-operator/reflected_endpointslice_controller.go
  test/e2e/cruise/basic_test.go
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/testconsts/consts.go
  test/e2e/testutils/tester/tester.go
Labels: size/L, merge-requested

#2109 Liqonet: IPSet
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/liqonet/ipset/ipset.go
  pkg/liqonet/ipset/kubernetes/ipset.go
  pkg/liqonet/ipset/kubernetes/type.go
Labels: size/XL, merge-requested

#2074 External Network: connection controller
  .github/dependabot.yml
  .github/workflows/integration.yml
  build/gateway/Dockerfile
  cmd/gateway/main.go
  cmd/gateway/wireguard/main.go
  cmd/liqonet/gateway-operator.go
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/gateway/connection/conncheck/common.go
  pkg/gateway/connection/conncheck/conncheck.go
  pkg/gateway/connection/conncheck/consts.go
  pkg/gateway/connection/conncheck/doc.go
  pkg/gateway/connection/conncheck/error.go
  pkg/gateway/connection/conncheck/receiver.go
  pkg/gateway/connection/conncheck/sender.go
  pkg/gateway/connection/connections_controller.go
  pkg/gateway/connection/doc.go
  pkg/gateway/connection/flags.go
  pkg/gateway/connection/k8s.go
  pkg/gateway/doc.go
  pkg/gateway/flags.go
  pkg/gateway/options.go
  pkg/gateway/tunnel/common/netlink.go
  pkg/gateway/tunnel/wireguard/device.go
  pkg/gateway/tunnel/wireguard/dns.go
  pkg/gateway/tunnel/wireguard/flags.go
  pkg/gateway/tunnel/wireguard/k8s.go
  pkg/gateway/tunnel/wireguard/labels.go
  pkg/gateway/tunnel/wireguard/netlink.go
  pkg/gateway/tunnel/wireguard/options.go
  pkg/gateway/tunnel/wireguard/publickeys_controller.go
  pkg/liqo-controller-manager/external-network/configuration-controller/configuration_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/utils.go
  pkg/liqonet/tunnel/driver.go
  pkg/liqonet/tunnel/wireguard/driver.go
  pkg/utils/time/doc.go
  pkg/utils/time/time.go
Labels: kind/feature, size/XXL, merge-requested

#2111 Docs: add warning for api server when security mode is enabled
  docs/_static/css/custom.css
  docs/usage/security-modes.md
Labels: kind/docs, size/S, merge-requested

#2088 External Network: Wireguard Templates
  Makefile
  apis/networking/v1alpha1/gatewayclient_types.go
  apis/networking/v1alpha1/gatewayserver_types.go
  cmd/gateway/main.go
  cmd/gateway/wireguard/main.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  pkg/gateway/connection/conncheck/conncheck.go
  pkg/gateway/tunnel/wireguard/publickeys_controller.go
  pkg/liqo-controller-manager/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/external-network/server-operator/server_controller.go
  pkg/utils/maps/maps.go
Labels: kind/feature, size/XL

#2117 Added pre-commit hook configuration
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Makefile
Labels: size/S, merge-requested
