Repository liqotech/liqo, pull requests merged in 2023-07, with the labels that each got.

#1891 Liqoctl: added confirm prompt to liqoctl unpeer
  cmd/liqoctl/cmd/unpeer.go
Labels: kind/bug, size/XS, merge-requested

#1892 E2E tests: increased restart count tollerance
  test/e2e/postinstall/basic_test.go
Labels: size/XS, merge-requested

#1880 Add to "liqoctl status peer" status and URL of the remote API server
  apis/discovery/v1alpha1/foreigncluster_types.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/auth.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/liqoctl/status/peer/peerinfo_test.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/liqo.go
Labels: kind/feature, size/M, merge-requested

#1854 feature: enable per pod remote APIServer support
  pkg/consts/annotations.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
Labels: kind/feature, size/M, merge-requested

#1921 Bump golangci-lint version from 1.52.0 to 1.53.3
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested

#1928 Docs: sphinx-autobuild
  docs/Makefile
  docs/requirements.txt
Labels: size/XS, merge-requested

#1922 Bump golang version from 1.19 to 1.20
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/lint.yml
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqoctl/build.sh
  build/liqonet/Dockerfile
  go.mod
Labels: size/S, merge-requested

#1933 Lint: disable depguard check
  .golangci.yml
Labels: size/XS, merge-requested

#1929 Docs: telemetry
  docs/Makefile
  docs/conf.py
  docs/installation/install.md
  pkg/telemetry/doc.go
Labels: size/M, merge-requested
