Repository liqotech/liqo, pull requests merged in 2023-02, with the labels that each got.

#1655 Liqoctl: status cluster-labels bug-fix
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
Labels: kind/bug, size/L, merge-requested

#1661 Unit Test: go1.19.5 fix
  build/liqo-test/Dockerfile
Labels: size/XS, merge-requested

#1663 Docs: external link refactoring
  README.md
  docs/examples/requirements.md
  docs/index.md
  docs/installation/install.md
  examples/common.sh
Labels: size/S, merge-requested, kind/cleanup

#1660 Liqonet: wg userspace metric
  build/liqonet/Dockerfile
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/values.yaml
  docs/_downloads/grafana/liqonetwork.json
  pkg/liqonet/tunnel/wireguard/driver.go
Labels: kind/feature, size/L, merge-requested

#1666 add portforwarding reflection to offloaded pod (#5)
  cmd/virtual-kubelet/root/http.go
  deployments/liqo/files/liqo-virtual-kubelet-remote-ClusterRole.yaml
  go.mod
  go.sum
  pkg/virtualKubelet/portforwarder/doc.go
  pkg/virtualKubelet/portforwarder/portforwarder.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/roles/remote/role.go
Labels: kind/feature, size/L, merge-requested

#1672 Liqoctl: install ServiceType refactoring
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kind/provider.go
Labels: size/S, merge-requested, kind/cleanup

#1680 Liqoctl: status local endpoints
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/kubernetes.go
  pkg/utils/testutil/liqo.go
Labels: size/L, merge-requested

#1686 Update Roadmap
  ROADMAP.md
Labels: size/XS, merge-requested, kind/no-changelog

#1687 Bump Golang version to 1.20
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  Makefile
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqonet/Dockerfile
  go.mod
  go.sum
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/utils/utils.go
Labels: size/M, merge-requested, kind/cleanup
