Repository liqotech/liqo, pull requests merged in 2023-11, with the labels that each got.

#2121 Docs: cilium
  docs/installation/install.md
  test/e2e/pipeline/infra/cluster-api/cni.sh
Labels: kind/docs, size/M, merge-requested

#2120 Liqonet: connchecker latency fix
  pkg/liqonet/conncheck/conncheck.go
  pkg/liqonet/conncheck/receiver.go
Labels: size/XS, merge-requested

#2112 External Network: liqoctl network reset and disconnect
  cmd/liqoctl/cmd/network.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/rest/configuration/delete.go
  pkg/liqoctl/rest/configuration/generate.go
  pkg/liqoctl/rest/configuration/types.go
  pkg/liqoctl/rest/configuration/utils.go
  pkg/liqoctl/rest/gatewayclient/delete.go
  pkg/liqoctl/rest/gatewayclient/types.go
  pkg/liqoctl/rest/gatewayclient/utils.go
  pkg/liqoctl/rest/gatewayserver/delete.go
  pkg/liqoctl/rest/gatewayserver/types.go
  pkg/liqoctl/rest/gatewayserver/utils.go
  pkg/liqoctl/rest/publickey/delete.go
  pkg/liqoctl/rest/publickey/generate.go
  pkg/liqoctl/rest/publickey/types.go
  pkg/liqoctl/rest/publickey/utils.go
  pkg/liqoctl/wait/wait.go
Labels: kind/feature, size/XL

#2133 E2E: CNI wait and retry
  test/e2e/pipeline/infra/cluster-api/cni.sh
  test/e2e/pipeline/utils.sh
Labels: size/M, merge-requested

#2134 E2E: metrics-agent tests
  Makefile
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/installer/liqoctl/peer.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/pipeline/metrics/metrics.sh
Labels: size/M, merge-requested

#2089 Integrate external network with peering
  apis/networking/v1alpha1/externalnetwork_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_externalnetworks.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-incoming-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-peering-outgoing-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  internal/crdReplicator/reflection/reflector.go
  internal/crdReplicator/resources/resources.go
  pkg/liqo-controller-manager/external-network/externalnetwork-controller/docs.go
  pkg/liqo-controller-manager/external-network/externalnetwork-controller/externalnetwork_controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/externalnetwork.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/peering-roles/incoming/incoming.go
  pkg/peering-roles/outgoing/outgoing.go
  pkg/utils/getters/k8sGetters.go
Labels: kind/feature, size/XXL

#2136 Remove old CodeQL action
  .github/workflows/codeql-analysis.yml
Labels: size/M, merge-requested

#2105 External Network: support allocating static LoadBalancerIP and NodePort
  apis/networking/v1alpha1/gatewayserver_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/liqoctl/cmd/network.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/rest/gatewayclient/utils.go
  pkg/liqoctl/rest/gatewayserver/create.go
  pkg/liqoctl/rest/gatewayserver/types.go
  pkg/liqoctl/rest/gatewayserver/utils.go
Labels: size/L

#2139 External network: watch Connections instead of TunnelEndpoints
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/roles/local/role.go
Labels: size/L

#2138 CodeQL Badge
  README.md
Labels: size/XS, merge-requested

#2116 External Network: ping disable
  cmd/gateway/main.go
  cmd/liqonet/gateway-operator.go
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/gateway/connection/conncheck/conncheck.go
  pkg/gateway/connection/conncheck/options.go
  pkg/gateway/connection/conncheck/receiver.go
  pkg/gateway/connection/conncheck/sender.go
  pkg/gateway/connection/connections_controller.go
  pkg/gateway/connection/flags.go
  pkg/gateway/connection/k8s.go
  pkg/gateway/connection/options.go
Labels: size/L, merge-requested

#2140 Network: Firewall API
  .pre-commit-config.yaml
  apis/networking/v1alpha1/common_types.go
  apis/networking/v1alpha1/firewall/chain_types.go
  apis/networking/v1alpha1/firewall/doc.go
  apis/networking/v1alpha1/firewall/rules_types.go
  apis/networking/v1alpha1/firewall/table_types.go
  apis/networking/v1alpha1/firewall/zz_generated.deepcopy.go
  apis/networking/v1alpha1/firewallconfiguration_types.go
  apis/networking/v1alpha1/groupversion_info.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
Labels: size/L, merge-requested

#2143 Added Configurations fields
  apis/networking/v1alpha1/configuration_types.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_configurations.yaml
Labels: size/M

#2144 Network: Firewall Controller + Webhook
  apis/networking/v1alpha1/firewall/chain_types.go
  apis/networking/v1alpha1/firewall/table_types.go
  apis/networking/v1alpha1/firewall/zz_generated.deepcopy.go
  apis/networking/v1alpha1/firewallconfiguration_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  go.mod
  go.sum
  pkg/firewall/doc.go
  pkg/firewall/finalizer.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/firewall/table.go
  pkg/firewall/webhooks/doc.go
  pkg/firewall/webhooks/firewallconfiguration.go
Labels: size/L, merge-requested

#2154 E2E: fix calico
  test/e2e/pipeline/infra/cluster-api/cni.sh
Labels: size/XS, merge-requested

#2150 Network: firewall controller chain
  apis/networking/v1alpha1/firewall/chain_types.go
  apis/networking/v1alpha1/firewall/rules_types.go
  apis/networking/v1alpha1/firewall/table_types.go
  apis/networking/v1alpha1/firewallconfiguration_types.go
  apis/networking/v1alpha1/gatewayclient_types.go
  apis/networking/v1alpha1/gatewayserver_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  pkg/firewall/chain.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/firewall/table.go
  pkg/firewall/webhook/allowed.go
  pkg/firewall/webhook/doc.go
  pkg/firewall/webhook/firewallconfiguration.go
Labels: size/L, merge-requested

#2161 Fix CodeQL
  .github/workflows/codeql.yml
Labels: size/S, merge-requested

#2164 Fix CodeQL push on branch
  .github/workflows/codeql.yml
  README.md
Labels: size/S, merge-requested

#2167 Updated wireguard-go to the latest commit
  build/liqonet/Dockerfile
Labels: size/XS, merge-requested

#2162 Move IPAM to separate pod
  .github/workflows/integration.yml
  Makefile
  cmd/ipam/main.go
  cmd/liqo-controller-manager/main.go
  cmd/liqonet/network-manager.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-ipam-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-ipam-rbac.yaml
  deployments/liqo/templates/liqo-ipam-service.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/liqo-network-manager-service.yaml
  deployments/liqo/values.yaml
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
  pkg/consts/ipam.go
  pkg/consts/liqonet.go
  pkg/ipam/doc.go
  pkg/ipam/fake/doc.go
  pkg/ipam/fake/ipam.go
  pkg/ipam/flags.go
  pkg/ipam/ipam.go
  pkg/ipam/ipam.pb.go
  pkg/ipam/ipam.proto
  pkg/ipam/ipamStorage.go
  pkg/ipam/ipam_grpc.pb.go
  pkg/ipam/ipam_suite_test.go
  pkg/ipam/ipam_test.go
  pkg/ipam/options.go
  pkg/leaderelection/doc.go
  pkg/leaderelection/leaderelection.go
  pkg/liqo-controller-manager/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/install/handler.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/generic/reflector.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  test/integration/endpoint_reflection_test.go
  test/integration/integration_suite_test.go
Labels: size/XL

#2165 Network: firewall gateway integration
  cmd/gateway/main.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/firewall/label.go
  pkg/gateway/connection/connections_controller.go
  pkg/gateway/remapping/doc.go
  pkg/gateway/remapping/label.go
Labels: size/L

#2172 External Network: network webhook and logs fixes
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/liqo-controller-manager/webhooks/network/nw.go
Labels: size/S

#2168 Faster build in codeql
  .github/workflows/codeql.yml
Labels: size/L, merge-requested

#2179 CodeQL: fix slack message
  .github/workflows/codeql.yml
Labels: kind/bug, size/XS, merge-requested

#2176 CodeQL: added ipam,gateway,gateway/wireguard
  .github/workflows/codeql.yml
Labels: size/S, merge-requested
