Repository liqotech/liqo, pull requests merged in 2023-08, with the labels that each got.

#1934 CI: disable linter cache
  .github/workflows/lint.yml
Labels: size/XS, merge-requested, github_actions

#1881 Service Continuity documentation
  docs/_static/images/usage/service-continuity/shadoweps.drawio.svg
  docs/_static/images/usage/service-continuity/shadowpod.drawio.svg
  docs/_toc.yml
  docs/index.md
  docs/usage/service-continuity.md
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller.go
Labels: kind/docs, size/XL, merge-requested

#1907 Disable the reflection of specific labels and annotations
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/storageprovisioner/remoteprovisioner.go
  pkg/liqo-controller-manager/storageprovisioner/storageprovisioner_test.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/liqo.go
  pkg/virtualKubelet/forge/configmaps.go
  pkg/virtualKubelet/forge/configmaps_test.go
  pkg/virtualKubelet/forge/endpointslices.go
  pkg/virtualKubelet/forge/endpointslices_test.go
  pkg/virtualKubelet/forge/forge.go
  pkg/virtualKubelet/forge/ingresses.go
  pkg/virtualKubelet/forge/ingresses_test.go
  pkg/virtualKubelet/forge/meta.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/forge/secrets.go
  pkg/virtualKubelet/forge/secrets_test.go
  pkg/virtualKubelet/forge/services.go
  pkg/virtualKubelet/forge/services_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/configuration/secret.go
  pkg/virtualKubelet/reflection/configuration/secret_test.go
  pkg/virtualKubelet/reflection/event/event.go
  pkg/virtualKubelet/reflection/event/event_test.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/exposition/ingress.go
  pkg/virtualKubelet/reflection/exposition/ingress_test.go
  pkg/virtualKubelet/reflection/exposition/service.go
  pkg/virtualKubelet/reflection/exposition/service_test.go
  pkg/virtualKubelet/reflection/generic/namespaced.go
  pkg/virtualKubelet/reflection/generic/namespaced_test.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim_test.go
  pkg/virtualKubelet/reflection/storage/storage_suite_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/XL, merge-requested

#1938 VirtualKubelet: pod nil labels map
  pkg/virtualKubelet/forge/pods.go
Labels: size/XS, merge-requested

#1940 Docs: tag injection fix
  docs/conf.py
Labels: kind/bug, size/S, merge-requested

#1945 Liqo-route: added static mac to vxlan + device sanity check
  build/liqonet/Dockerfile
  cmd/liqonet/route-operator.go
  internal/liqonet/network-manager/tunnelendpointcreator/tunnelendpointcreator.go
  internal/liqonet/route-operator/routeOperator.go
  internal/liqonet/tunnel-operator/tunnel-operator.go
  pkg/liqonet/overlay/vxlan.go
  pkg/liqonet/utils/signals/doc.go
  pkg/liqonet/utils/signals/signals.go
  pkg/liqonet/utils/utils.go
Labels: kind/bug, size/L, merge-requested

#1947 Docs: options not supported on GKE
  docs/installation/install.md
Labels: kind/docs, size/XS

#1948 Add well known labels/annotations that must not be reflected
  deployments/liqo/README.md
  deployments/liqo/values.yaml
Labels: kind/bug, size/S

#1949 Liqonet: wireguard userspace golang
  build/liqonet/Dockerfile
  pkg/liqonet/tunnel/wireguard/driver.go
Labels: kind/feature, size/M, merge-requested

#1960 Telemetry: E2E tests + VirtualNode scheme
  Makefile
  cmd/telemetry/main.go
  pkg/utils/json/doc.go
  pkg/utils/json/json.go
  test/e2e/pipeline/telemetry/telemetry.sh
Labels: kind/bug, size/M, merge-requested, github_actions

#1963 Update roadmap for v0.10 release
  ROADMAP.md
Labels: size/XS, merge-requested

#1965 E2E: telemetry script fix
  test/e2e/pipeline/telemetry/telemetry.sh
Labels: kind/bug, size/XS, merge-requested

#1964 E2E: added flannel tests + CNI refactoring
  test/e2e/pipeline/infra/cluster-api/cni.sh
  test/e2e/pipeline/infra/cluster-api/pre-requirements.sh
  test/e2e/pipeline/infra/cluster-api/setup.sh
Labels: kind/feature, size/M, merge-requested

#1968 E2E: Flannel fix
  test/e2e/pipeline/infra/cluster-api/cni.sh
Labels: size/XS, merge-requested

#1967 Bump alpine version from 3.15 to 3.18
  build/cert-creator/Dockerfile
  build/common/Dockerfile
  build/liqonet/Dockerfile
Labels: size/XS, dependencies, merge-requested

#1966 Bump golang version from 1.20 to 1.21
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/lint.yml
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqoctl/build.sh
  build/liqonet/Dockerfile
  go.mod
  go.sum
Labels: size/M, dependencies, merge-requested

#1969 AKS vnet resource group
  docs/installation/install.md
  pkg/liqoctl/install/aks/provider.go
Labels: kind/feature, size/S, merge-requested

#1970 Added possibility to switch to iptables nf_tables
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/values.yaml
  docs/_legacy/pages/configuration/networking.md
  go.mod
  go.sum
  pkg/liqonet/iptables/iptables.go
Labels: kind/feature, size/M, merge-requested

#1971 Docs: liqoctl download fix
  docs/conf.py
Labels: kind/docs, size/S, merge-requested

#1973 Add readthedocs configuration file
  .readthedocs.yaml
Labels: size/M

#1944 liqoctl: add create VirtualNode command
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/main.go
  pkg/identityManager/certificate.go
  pkg/identityManager/const.go
  pkg/identityManager/identityManager_test.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/create/doc.go
  pkg/liqoctl/create/types.go
  pkg/liqoctl/delete/doc.go
  pkg/liqoctl/delete/types.go
  pkg/liqoctl/rest/doc.go
  pkg/liqoctl/rest/types.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/rest/virtualnode/delete.go
  pkg/liqoctl/rest/virtualnode/doc.go
  pkg/liqoctl/rest/virtualnode/get.go
  pkg/liqoctl/rest/virtualnode/types.go
  pkg/liqoctl/rest/virtualnode/update.go
Labels: size/XL, merge-requested
