Repository liqotech/liqo, pull requests merged in 2023-04, with the labels that each got.

#1751 E2E tests: liqoctl status + kubectl refactoring
  Makefile
  test/e2e/pipeline/diagnostic/diagnose.sh
  test/e2e/pipeline/infra/cluster-api/clean.sh
  test/e2e/pipeline/infra/cluster-api/pre-requirements.sh
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/infra/k3s/pre-requirements.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/installer/liqoctl/peer.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
  test/e2e/pipeline/installer/liqoctl/unpeer.sh
Labels: size/M, merge-requested, kind/cleanup, github_actions

#1765 Add PR number in E2E tests dispatch
  .github/workflows/integration.yml
Labels: size/XS

#1767 Fix PR number in E2E tests dispatch
  .github/workflows/integration.yml
Labels: size/XS, kind/cleanup, github_actions

#1754 Documenting how to declare resources
  docs/features/offloading.md
  docs/installation/install.md
Labels: kind/docs, size/S, merge-requested

#1703 Add readiness status of the foreign API server to the ForeignCluster CR
  apis/discovery/v1alpha1/foreigncluster_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/apiserverchecker.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
Labels: kind/feature, size/L

#1771 PR number in rebase (test=true) command
  .github/workflows/rebase.yml
Labels: size/XS, merge-requested

#1756 Node selector, tolerations & affinity support
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  deployments/liqo/templates/pre-delete-job.yaml
  deployments/liqo/templates/webhooks/job-patch/job-patch-webhook.yaml
  deployments/liqo/values.yaml
Labels: size/L, merge-requested

#1773 Disable remap of host K8S API server if it's reachable from remote cluster
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: size/L, merge-requested

#1770 Docs: EKS minimum permissions required
  docs/installation/install.md
Labels: size/M, merge-requested

#1570 Add metrics for virtual-kubelet
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-virtualkubelet-podmonitor.yaml
  deployments/liqo/values.yaml
  pkg/liqoctl/install/handler.go
  pkg/virtualKubelet/metrics/doc.go
  pkg/virtualKubelet/metrics/metrics.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/generic/reflector.go
  pkg/vkMachinery/forge/forge.go
Labels: size/L, merge-requested

#1787 Controller-Manager: propagate virtual kubelet metrics settings
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/virtualKubelet/metrics/metrics.go
  pkg/vkMachinery/const.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/M, merge-requested, kind/cleanup

#1788 VirtualKubelet: replicated code fix
  pkg/virtualKubelet/reflection/generic/reflector.go
Labels: size/XS, merge-requested, kind/cleanup

#1794 E2E Tests: CNI parametrized
  .github/workflows/lint.yml
  test/e2e/pipeline/infra/cluster-api/cni.sh
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/infra/k3s/pre-requirements.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
Labels: size/M, merge-requested, kind/cleanup, github_actions

#1799 Liqoctl: pod status check enhanced
  pkg/liqoctl/output/info.go
  pkg/liqoctl/output/output.go
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/utils/slice/slice.go
Labels: size/L, merge-requested
