Repository liqotech/liqo, pull requests merged in 2023-06, with the labels that each got.

#1845 Extra tolerations for route daemonset
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/values.yaml
Labels: size/XS, merge-requested

#1848 Support caching of local offloaded pods in the controller-manager
  cmd/liqo-controller-manager/main.go
Labels: kind/feature, size/M, merge-requested

#1849 Liqoctl: confirm
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/uninstall.go
  cmd/liqoctl/cmd/unoffload.go
  cmd/liqoctl/cmd/unpeer.go
  pkg/liqoctl/factory/factory.go
  pkg/liqoctl/output/output.go
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
  test/e2e/pipeline/installer/liqoctl/unpeer.sh
  test/e2e/testutils/util/namespace.go
Labels: size/M, merge-requested

#1852 Liqonet: boringtun ARM fix
  build/liqonet/Dockerfile
Labels: size/S, merge-requested

#1843 Added NodeSelector, Toleration and Affinity for CreateSecret Job
  deployments/liqo/templates/webhooks/job-patch/job-create-secret.yaml
Labels: size/S, merge-requested

#1853 Mark local offloaded pods as NotReady when virtual-node is not ready (i.e. remote cluster failure)
  cmd/liqo-controller-manager/main.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/consts/replication.go
  pkg/liqo-controller-manager/podstatus-controller/doc.go
  pkg/liqo-controller-manager/podstatus-controller/podstatus_controller.go
  pkg/liqo-controller-manager/podstatus-controller/podstatus_controller_test.go
  pkg/liqo-controller-manager/podstatus-controller/suite_test.go
  pkg/utils/pod/pod.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: kind/bug, size/L, merge-requested

#1858 Liqoctl: install postProviderValues fix
  pkg/liqoctl/install/handler.go
Labels: kind/bug, size/S, merge-requested

#1869 Update prometheus-metrics.md
  docs/usage/prometheus-metrics.md
Labels: size/XS, merge-requested

#1875 Pull Calico from docker proxy to avoid DockerHub ban
  test/e2e/pipeline/infra/cluster-api/cni.sh
  test/e2e/testutils/apiserver/create.go
  test/e2e/testutils/net/net.go
  test/e2e/testutils/storage/storage.go
Labels: size/M, merge-requested, kind/cleanup

#1876 remove replacement and use vk v1.10 for port forwarding
  go.mod
  go.sum
Labels: size/M, merge-requested, kind/cleanup

#1878 Add flag to set images to use during volumes move
  cmd/liqoctl/cmd/move.go
  pkg/liqoctl/move/consts.go
  pkg/liqoctl/move/handler.go
  pkg/liqoctl/move/movevolume_test.go
  pkg/liqoctl/move/restic.go
  pkg/liqoctl/move/restorer.go
  pkg/liqoctl/move/snapshotter.go
  test/e2e/cruise/basic_test.go
Labels: kind/feature, size/M, merge-requested
