Repository liqotech/liqo, pull requests merged in 2024-01, with the labels that each got.

#2252 Network External: usage docs
  docs/_static/images/usage/inter-cluster-network/automatic.drawio.svg
  docs/_toc.yml
  docs/usage/inter-cluster-network.md
Labels: size/L, merge-requested

#2255 Makefile: added nilaway (static analysis tool to detect potential Nil panics in Go code)
  Makefile
Labels: kind/feature, size/S, merge-requested

#2254 Network: disable legacy networking stack
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-ipam-rbac.yaml
  deployments/liqo/templates/liqo-ipam-service.yaml
  deployments/liqo/templates/liqo-legacy-gateway-deployment.yaml
  deployments/liqo/templates/liqo-legacy-gateway-rbac.yaml
  deployments/liqo/templates/liqo-legacy-gateway-service.yaml
  deployments/liqo/templates/liqo-legacy-gateway-servicemonitor.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/liqo-network-manager-service.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-route-rbac.yaml
  deployments/liqo/values.yaml
Labels: size/M

#2260 Fix reflection for Kubernetes 1.29
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
Labels: size/XS

#2258 README: removed old badge
  README.md
Labels: size/XS, merge-requested

#2264 Fix automerge
  .github/workflows/merge.yml
Labels: size/XS, dependencies

#2265 geneve package error fix
  pkg/utils/geneve/netlink.go
Labels: size/XS, merge-requested

#1976 Docs: FAQ page
  docs/_toc.yml
  docs/faq/faq.md
  docs/features/offloading.md
Labels: kind/docs, size/L, merge-requested

#2267 Bump terraform providers
  examples/provision-with-terraform/main.tf
Labels: size/S, merge-requested, kind/cleanup

#2266 Customize image name and version on new networking containers
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  pkg/utils/geneve/k8s.go
Labels: size/L

#2259 add net interfaces monitoring
  pkg/utils/netmonitor/doc.go
  pkg/utils/netmonitor/netmonitor.go
Labels: kind/feature, size/L, merge-requested

#2276 Added preuninstall checks for new networking resources
  pkg/liqoctl/uninstall/preuninstall.go
Labels: size/L

#2279 Liqoctl: Fix network connect
  pkg/liqoctl/wait/wait.go
Labels: size/XS, merge-requested

#2288 Helm: Fix extraArgs
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
Labels: size/S, merge-requested

#2293 Bump virtual-kubelet to v1.11.0
  go.mod
  go.sum
Labels: size/S, merge-requested

#2290 Refactoring liqoctl status to handle new network
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/local_suite_test.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/utils/testutil/liqo.go
Labels: size/L

#2289 Liqoctl: get liqo version from controller-manager
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/version/handler.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/testutil/consts.go
  pkg/utils/testutil/liqo.go
Labels: size/M, merge-requested

#2299 Updated ROADMAP for the next (0.11) release
  ROADMAP.md
Labels: size/XS

#2304 Virtual node taints
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  internal/liqonet/tunnel-operator/natmapping_operator_test.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/install/validation.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/utils/resources/resources.go
  pkg/liqonet/ipam/ipam.go
  pkg/liqonet/ipam/ipamStorage.go
  pkg/liqonet/iptables/iptables.go
  pkg/utils/slice/slice.go
  pkg/utils/slice/slice_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  test/integration/endpoint_reflection_test.go
Labels: kind/feature, size/L, merge-requested

#2305 Add liqo runtime class
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/runtime-class.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/webhooks/pod/mutations.go
  pkg/liqo-controller-manager/webhooks/pod/pod.go
  pkg/liqo-controller-manager/webhooks/pod/pod_test.go
Labels: kind/feature, size/L, merge-requested

#2306 Liqo RuntimeClass docs
  docs/usage/namespace-offloading.md
Labels: kind/docs, size/M, merge-requested

#2308 Kubertnes API access docs
  docs/_toc.yml
  docs/usage/kubernetes-api.md
Labels: kind/docs, size/M, merge-requested

#2309 Virtual Node: implementation of OffloadingPatch consumer-side
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  pkg/liqo-controller-manager/virtualnode-controller/virtualkubelet.go
  pkg/utils/pod/pod.go
  pkg/virtualKubelet/forge/forge.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/vkMachinery/forge/forge.go
Labels: kind/feature, size/L, merge-requested
