Repository liqotech/liqo, pull requests merged in 2024-02, with the labels that each got.

#2310 Select remote namespace name when offloading
  apis/offloading/v1alpha1/namespaceoffloading_types.go
  cmd/liqoctl/cmd/offload.go
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
  docs/usage/namespace-offloading.md
  pkg/liqo-controller-manager/namespaceoffloading-controller/status.go
  pkg/liqo-controller-manager/webhooks/namespaceoffloading/nsoff.go
  pkg/liqoctl/offload/handler.go
Labels: kind/feature, size/M, merge-requested

#2313 Docs: added evaluation priority flags
  docs/installation/install.md
Labels: kind/docs, size/S, merge-requested

#2311 Virtual Node: specify labels/annotations not reflected in API Spec
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  docs/usage/reflection.md
  pkg/liqo-controller-manager/resourceoffer-controller/controller_config.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_methods.go
  pkg/liqo-controller-manager/resourceoffer-controller/resourceoffer_controller_test.go
  pkg/virtualKubelet/forge/forge.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/manager/manager.go
  pkg/virtualKubelet/reflection/manager/manager_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: kind/feature, size/L, merge-requested

#2350 Network: Fabric IPAM init fix
  pkg/liqo-controller-manager/internal-network/client-controller/client_controller.go
  pkg/liqo-controller-manager/internal-network/fabricipam/singleton.go
  pkg/liqo-controller-manager/internal-network/node-controller/node_controller.go
  pkg/liqo-controller-manager/internal-network/server-controller/server_controller.go
Labels: size/S, merge-requested

#2355 Bump k8s libs to v0.29.2
  go.mod
  go.sum
Labels: size/S, dependencies, merge-requested

#2356 Bump golang version from 1.21 to 1.22
  .github/workflows/check-generated-artifacts.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  Makefile
  build/common/Dockerfile
  build/liqo-test/Dockerfile
  build/liqoctl/build.sh
  build/liqonet/Dockerfile
  deployments/liqo/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/crds/discovery.liqo.io_resourcerequests.yaml
  deployments/liqo/crds/net.liqo.io_ipamstorages.yaml
  deployments/liqo/crds/net.liqo.io_natmappings.yaml
  deployments/liqo/crds/net.liqo.io_networkconfigs.yaml
  deployments/liqo/crds/net.liqo.io_tunnelendpoints.yaml
  deployments/liqo/crds/offloading.liqo.io_namespaceoffloadings.yaml
  deployments/liqo/crds/sharing.liqo.io_resourceoffers.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowendpointslices.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_shadowpods.yaml
  deployments/liqo/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  docs/contributing/contributing.md
  go.mod
Labels: dependencies, size/XXL, merge-requested

#2362 Network: bump go version and controller-gen API
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_configurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_connections.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_externalnetworks.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_genevetunnels.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalfabrics.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalnodes.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_publickeies.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclienttemplates.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservertemplates.yaml
Labels: size/XXL

#2344 Network: refactor liqoctl status peer
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/peer/peer_suite_test.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/liqoctl/status/peer/peerinfo_test.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/testutil/liqo.go
Labels: size/L
