Repository liqotech/liqo, pull requests merged in 2024-05, with the labels that each got.

#2480 [Auth] Refactor IAM auth
  apis/authentication/v1alpha1/aws_types.go
  cmd/auth-service/main.go
  cmd/crd-replicator/main.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/crds/authentication.liqo.io_identities.yaml
  deployments/liqo/crds/authentication.liqo.io_resourceslices.yaml
  deployments/liqo/crds/authentication.liqo.io_tenants.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  internal/auth-service/auth-service.go
  internal/auth-service/auth_service_suite_test.go
  internal/auth-service/identity.go
  pkg/auth/identityresponse.go
  pkg/identityManager/awsconfig.go
  pkg/identityManager/certificate.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/client.go
  pkg/identityManager/const.go
  pkg/identityManager/fake/reader.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_suite_test.go
  pkg/identityManager/identityManager_test.go
  pkg/identityManager/interface.go
  pkg/identityManager/responseTypes/signingRequestResponse.go
  pkg/identityManager/tokenManager.go
  pkg/identityManager/utils.go
  pkg/liqo-controller-manager/authentication/forge/kubeconfig.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/utils/apiserver/address.go
  pkg/utils/apiserver/config.go
Labels: size/XXL, merge-requested

#2482 [Auth] Create virtualnodes from resourceslices
  apis/authentication/v1alpha1/resourceslice_types.go
  apis/authentication/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/offloading.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/crds/authentication.liqo.io_resourceslices.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  internal/crdReplicator/resources/resources.go
  pkg/consts/authentication.go
  pkg/identityManager/client.go
  pkg/liqo-controller-manager/authentication/forge/resourceslice.go
  pkg/liqo-controller-manager/authentication/identitycreator-controller/identitycreator_controller.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/virtualnodecreator-controller/doc.go
  pkg/liqo-controller-manager/authentication/virtualnodecreator-controller/virtualnodecreator_controller.go
  pkg/liqo-controller-manager/namespacemap-controller/enforcement.go
  pkg/liqo-controller-manager/offloading/doc.go
  pkg/liqo-controller-manager/offloading/forge/doc.go
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/rest/resourceslice/create.go
  pkg/liqoctl/rest/resourceslice/types.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/rest/virtualnode/types.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/kubeconfig/doc.go
  pkg/utils/kubeconfig/restcfg.go
Labels: size/XL

#2500 [NET] Cleanup old consts and tests
  deployments/liqo/README.md
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-ipam-rbac.yaml
  deployments/liqo/templates/liqo-ipam-service.yaml
  deployments/liqo/values.yaml
  docs/faq/faq.md
  internal/crdReplicator/crdReplicator_operator_test.go
  internal/crdReplicator/reflection/manager_test.go
  pkg/consts/ipam.go
  pkg/consts/labels.go
  pkg/consts/liqonet.go
  pkg/consts/parameters.go
  pkg/consts/wireguard.go
  pkg/ipam/ipam_test.go
  pkg/ipam/utils/utils_test.go
  pkg/liqoctl/status/peer/consts.go
  pkg/utils/foreignCluster/networking.go
  pkg/utils/getters/dataGetters.go
  pkg/utils/getters/dataGetters_test.go
  pkg/utils/labels/labelSelectors.go
  pkg/utils/testutil/liqo.go
  pkg/virtualKubelet/liqoNodeProvider/doc.go
  test/e2e/cruise/basic_test.go
  test/e2e/testutils/tester/tester.go
Labels: size/XL

#2497 [Network] firewallconfiguration and routeconfiguration reque
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  pkg/firewall/firewallconfiguration_controller.go
  pkg/gateway/tunnel/wireguard/netlink.go
  pkg/gateway/tunnel/wireguard/publickeys_controller.go
  pkg/liqo-controller-manager/external-network/remapping/ip.go
  pkg/route/routeconfiguration_controller.go
  pkg/utils/network/geneve/netlink.go
Labels: size/M, merge-requested

#2503 [Network] Firewallconfiguration + RouteConfiguration API refinement
  apis/networking/v1alpha1/firewallconfiguration_types.go
  apis/networking/v1alpha1/routeconfiguration_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  cmd/fabric/main.go
  cmd/gateway/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  pkg/fabric/flags.go
  pkg/fabric/options.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/route/routeconfiguration_controller.go
Labels: size/L, merge-requested

#2504 [Auth] Improve ResourceSlice status
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/authentication.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/slicestatus.go
  pkg/utils/args/resourcemap.go
Labels: size/L, merge-requested

#2496 [Network] Unknown source IP
  pkg/ipam/ipam.go
  pkg/ipam/utils/utils.go
  pkg/liqo-controller-manager/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_controller.go
Labels: size/M, merge-requested

#2507 [Network] leaf-to-leaf connection from external
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  pkg/liqo-controller-manager/external-network/configuration/configuration_controller.go
  pkg/liqo-controller-manager/external-network/configuration/doc.go
  pkg/liqo-controller-manager/external-network/configuration/label.go
  pkg/liqo-controller-manager/external-network/configuration/network.go
  pkg/liqo-controller-manager/external-network/externalnetwork/docs.go
  pkg/liqo-controller-manager/external-network/externalnetwork/externalnetwork_controller.go
  pkg/liqo-controller-manager/external-network/remapping/configuration_controller.go
  pkg/liqo-controller-manager/external-network/route/configuration_controller.go
  pkg/liqo-controller-manager/internal-network/configuration-controller/configuration_controller.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/offloading/ipmapping/configuration_controller.go
  pkg/liqo-controller-manager/offloading/ipmapping/doc.go
  pkg/liqo-controller-manager/offloading/ipmapping/k8s.go
  pkg/liqo-controller-manager/offloading/ipmapping/label.go
  pkg/liqo-controller-manager/offloading/ipmapping/pod_controller.go
Labels: size/L, merge-requested

#2512 [Network] Fixed GatewayServer and GatewayClient scheme
  docs/_static/images/usage/inter-cluster-network/automatic.drawio.svg
  docs/usage/inter-cluster-network.md
Labels: size/M

#2515 [Auth] Discovery Cleanup
  .github/workflows/integration.yml
  Makefile
  cmd/discovery/main.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-discovery-ClusterRole.yaml
  deployments/liqo/files/liqo-discovery-Role.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-discovery-rbac.yaml
  deployments/liqo/values.yaml
  go.mod
  go.sum
  pkg/discovery/const.go
  pkg/discovery/nodeUtils.go
  pkg/discoverymanager/authData.go
  pkg/discoverymanager/discovery.go
  pkg/discoverymanager/discoveryCache.go
  pkg/discoverymanager/discoveryData.go
  pkg/discoverymanager/discovery_test.go
  pkg/discoverymanager/doc.go
  pkg/discoverymanager/foreign.go
  pkg/discoverymanager/foreignClusterGarbageCollector.go
  pkg/discoverymanager/gratuitous-answers.go
  pkg/discoverymanager/register.go
  pkg/discoverymanager/resolve.go
  pkg/discoverymanager/utils/ids.go
  pkg/discoverymanager/utils/utils.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/peeroob/handler.go
  pkg/liqoctl/peeroob/handler_test.go
  pkg/telemetry/builder.go
  pkg/telemetry/types.go
  pkg/utils/apiserver/address.go
  pkg/utils/authenticationtoken/authenticationtoken_test.go
  pkg/utils/authenticationtoken/doc.go
  pkg/utils/authenticationtoken/tokensecret.go
  pkg/utils/authenticationtoken/tokensecret_test.go
  pkg/utils/foreignCluster/discoveryType.go
  pkg/utils/foreignCluster/garbageCollection.go
  pkg/utils/foreignCluster/getForeignCluster.go
  pkg/utils/foreignCluster/management.go
  pkg/utils/nodeUtils.go
Labels: size/XXL

#2520 [Auth] Removed unused discovery flag
  cmd/liqo-controller-manager/main.go
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
Labels: size/XS

#2519 Network: restored addlicense after cleanup
  Makefile
Labels: size/XS, merge-requested

#2509 [Network] fwconfiguration and routeconfiguration watch
  cmd/fabric/main.go
  cmd/gateway/main.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/firewall/utils/filterule.go
  pkg/firewall/utils/natrule.go
  pkg/firewall/watch.go
  pkg/ipam/utils/utils.go
  pkg/liqo-controller-manager/internal-network/route/mark.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller_test.go
  pkg/route/route.go
  pkg/route/routeconfiguration_controller.go
  pkg/route/rule.go
  pkg/route/watch.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/network/netmonitor/netmonitor.go
Labels: size/L, merge-requested

#2517 [Auth] Cordon ResourceSlices
  cmd/liqo-controller-manager/main.go
  cmd/liqoctl/cmd/cordon.go
  cmd/liqoctl/cmd/uncordon.go
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  pkg/consts/authentication.go
  pkg/liqo-controller-manager/authentication/csr.go
  pkg/liqo-controller-manager/webhooks/resourceslice/doc.go
  pkg/liqo-controller-manager/webhooks/resourceslice/validate.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/cordon/handler.go
  pkg/liqoctl/uncordon/handler.go
Labels: size/L, merge-requested

#2525 [Auth] CRD Replicator handle lost permissions on drained tenant
  internal/crdReplicator/reflection/handler.go
  internal/crdReplicator/reflection/reflector.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqoctl/rest/resourceslice/create.go
  pkg/liqoctl/wait/wait.go
  pkg/utils/getters/k8sGetters.go
Labels: size/M

#2533 [Auth] Liqoctl remove old peer and unpeer commands
  cmd/liqoctl/cmd/generate.go
  cmd/liqoctl/cmd/peer.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/status.go
  cmd/liqoctl/cmd/unpeer.go
  pkg/liqoctl/generate/doc.go
  pkg/liqoctl/generate/generate_suite_test.go
  pkg/liqoctl/generate/generate_test.go
  pkg/liqoctl/generate/handler.go
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/inband/doc.go
  pkg/liqoctl/inband/endpoint.go
  pkg/liqoctl/inband/portForward.go
  pkg/liqoctl/peer/doc.go
  pkg/liqoctl/peer/handler.go
  pkg/liqoctl/peerib/doc.go
  pkg/liqoctl/peerib/handler.go
  pkg/liqoctl/peeroob/consts.go
  pkg/liqoctl/peeroob/doc.go
  pkg/liqoctl/peeroob/handler.go
  pkg/liqoctl/peeroob/handler_test.go
  pkg/liqoctl/peeroob/peeroob_suite_test.go
  pkg/liqoctl/status/checker.go
  pkg/liqoctl/status/doc.go
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/doc.go
  pkg/liqoctl/status/local/local_suite_test.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/liqoctl/status/namespace.go
  pkg/liqoctl/status/namespace_test.go
  pkg/liqoctl/status/peer/consts.go
  pkg/liqoctl/status/peer/doc.go
  pkg/liqoctl/status/peer/peer_suite_test.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/liqoctl/status/peer/peerinfo_test.go
  pkg/liqoctl/status/status_suite_test.go
  pkg/liqoctl/unpeerib/doc.go
  pkg/liqoctl/unpeerib/handler.go
  pkg/liqoctl/unpeeroob/doc.go
  pkg/liqoctl/unpeeroob/handler.go
  pkg/liqoctl/unpeeroob/handler_test.go
  pkg/liqoctl/unpeeroob/unpeeroob_suite_test.go
  pkg/telemetry/builder.go
  pkg/utils/resources/doc.go
  pkg/utils/resources/resources.go
  pkg/utils/resources/resources_suite_test.go
  pkg/utils/resources/resources_test.go
Labels: size/XXL, merge-requested

#2532 [Auth] offloading patch node selector
  apis/authentication/v1alpha1/resourceslice_types.go
  apis/authentication/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/crds/authentication.liqo.io_resourceslices.yaml
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/rest/virtualnode/types.go
Labels: size/S, merge-requested

#2531 Network: enable full masquerade
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/internal-network/configuration-controller/configuration_controller.go
  pkg/liqo-controller-manager/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/internal-network/configuration-controller/options.go
Labels: size/L, merge-requested

#2537 [Network] Connection cluster wide
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
Labels: size/XS, merge-requested

#2540 Network: aggressive dns resolution + EKS loadbalancer v2
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  pkg/gateway/tunnel/wireguard/dns.go
Labels: size/L, merge-requested
