Repository liqotech/liqo, pull requests merged in 2024-07, with the labels that each got.

#2585 Cleanup old values
  cmd/liqoctl/cmd/install.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/install/openshift/provider.go
Labels: size/M, merge-requested

#2584 Docs: new peer usage
  docs/usage/peer.md
Labels: size/L

#2588 Remove duplicated clusterID labels
  apis/authentication/v1alpha1/common_types.go
  deployments/liqo/charts/liqo-crds/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_externalnetworks.yaml
  pkg/consts/core.go
  pkg/identityManager/certificate.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqo-controller-manager/offloading/shadowendpointslice-controller/shadowendpointslice_controller_test.go
  pkg/liqoctl/completion/completion.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/utils.go
  pkg/vkMachinery/forge/creation.go
  pkg/webhooks/shadowpod/shadowpod_suite_test.go
Labels: size/XL

#2582 Network: gateway prometheus metrics
  cmd/gateway/main.go
  cmd/gateway/wireguard/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-gateway-podmonitor.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  docs/_downloads/grafana/liqonetwork.json
  pkg/gateway/connection/conncheck/conncheck.go
  pkg/gateway/connection/conncheck/receiver.go
  pkg/gateway/connection/connections_controller.go
  pkg/gateway/flags.go
  pkg/gateway/tunnel/common/doc.go
  pkg/gateway/tunnel/metrics.go
  pkg/gateway/tunnel/netlink.go
  pkg/gateway/tunnel/wireguard/metrics.go
  pkg/gateway/tunnel/wireguard/netlink.go
  pkg/liqo-controller-manager/networking/external-network/route/k8s.go
  pkg/liqoctl/install/handler.go
  pkg/utils/getters/k8sGetters.go
Labels: kind/feature, size/L, merge-requested

#2587 Bump golangci-lint version from 1.55.1 to 1.59.1
  .github/workflows/lint.yml
  Makefile
Labels: size/XS, merge-requested

#2589 Docs: updated quick-start
  docs/examples/quick-start.md
  examples/offloading-with-policies/manifests/cluster.yaml
  examples/provision-with-terraform/main.tf
  examples/quick-start/manifests/cluster.yaml
  examples/quick-start/manifests/hello-world.yaml
  examples/replicated-deployments/manifests/cluster.yaml
  examples/service-offloading/manifests/cluster.yaml
  examples/stateful-applications/manifests/cluster1.yaml
  examples/stateful-applications/manifests/cluster2.yaml
Labels: kind/docs, size/L

#2591 Fix remote configmap name
  pkg/virtualKubelet/forge/configmaps.go
Labels: size/XS

#2592 Bump ci for the new Liqo
  .github/workflows/integration.yml
Labels: size/S

#2595 Update linter CI
  .golangci.yml
  .pre-commit-config.yaml
  apis/ipam/v1alpha1/doc.go
  cmd/liqoctl/cmd/activate.go
  cmd/liqoctl/cmd/authenticate.go
  cmd/liqoctl/cmd/cordon.go
  cmd/liqoctl/cmd/network.go
  cmd/liqoctl/cmd/peer.go
  cmd/liqoctl/cmd/unauthenticate.go
  cmd/liqoctl/cmd/uncordon.go
  cmd/liqoctl/cmd/unpeer.go
  cmd/liqoctl/cmd/version.go
  cmd/virtual-kubelet/root/http.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  internal/crdReplicator/crdReplicator-operator.go
  pkg/liqo-controller-manager/networking/external-network/remapping/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/route/configuration_controller.go
  pkg/liqo-controller-manager/networking/internal-network/internalfabric-controller/internalfabric_controller.go
  pkg/liqo-controller-manager/networking/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/offloading/namespaceoffloading-controller/namespaceoffloading_controller.go
  pkg/liqo-controller-manager/offloading/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/liqo-controller-manager/offloading/shadowpod-controller/shadowpod_controller.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/docs/handler.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/rest/configuration/create.go
  pkg/liqoctl/rest/configuration/delete.go
  pkg/liqoctl/rest/configuration/generate.go
  pkg/liqoctl/rest/gatewayclient/create.go
  pkg/liqoctl/rest/gatewayclient/delete.go
  pkg/liqoctl/rest/gatewayserver/create.go
  pkg/liqoctl/rest/gatewayserver/delete.go
  pkg/liqoctl/rest/identity/generate.go
  pkg/liqoctl/rest/kubeconfig/get.go
  pkg/liqoctl/rest/nonce/create.go
  pkg/liqoctl/rest/nonce/get.go
  pkg/liqoctl/rest/publickey/create.go
  pkg/liqoctl/rest/publickey/delete.go
  pkg/liqoctl/rest/publickey/generate.go
  pkg/liqoctl/rest/resourceslice/create.go
  pkg/liqoctl/rest/tenant/generate.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/rest/virtualnode/delete.go
  pkg/utils/testutil/kubernetes.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
Labels: size/L

#2594 Fix e2e
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/installer/liqoctl/peer.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/pipeline/installer/liqoctl/unpeer.sh
Labels: size/M

#2601 Fix grafana dashboard
  docs/_downloads/grafana/liqonetwork.json
Labels: size/M, merge-requested

#2598 E2E tests: fix metrics step
  test/e2e/pipeline/metrics/metrics.sh
Labels: size/S

#2599 E2E tests: fix post-uninstall step
  test/e2e/postuninstall/basic_test.go
Labels: size/M

#2597 E2E tests: fix post-install step
  Makefile
  pkg/utils/foreigncluster/roles.go
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/postinstall/basic_test.go
  test/e2e/testconsts/consts.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/pod.go
Labels: size/M

#2604 [Fix] VirtualKubelet permissions
  Makefile
  cmd/crd-replicator/main.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/files/liqo-virtual-kubelet-remote-clusterwide-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-rbac.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-remote.yaml
  deployments/liqo/templates/liqo-virtualkubelet-podmonitor.yaml
  deployments/liqo/templates/liqo-vk-options-template.yaml
  deployments/liqo/values.yaml
  docs/_downloads/grafana/liqovirtualkubelet.json
  pkg/identityManager/identityManager_suite_test.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/offloading/virtualnode-controller/suite_test.go
  pkg/liqoctl/authenticate/cluster.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/peer/handler.go
  pkg/liqoctl/rest/kubeconfig/get.go
  pkg/liqoctl/rest/nonce/create.go
  pkg/liqoctl/rest/resourceslice/create.go
  pkg/liqoctl/rest/tenant/generate.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/unauthenticate/cluster.go
  pkg/liqoctl/wait/wait.go
  pkg/remotemetrics/http.go
  pkg/tenantNamespace/bindings.go
  pkg/tenantNamespace/interface.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
  pkg/tenantNamespace/tenantNamespace_suite_test.go
  pkg/virtualKubelet/roles/remoteclusterwide/role.go
  test/e2e/pipeline/installer/liqoctl/setup.sh
Labels: size/L, merge-requested

#2607 Cordon Tenants
  apis/authentication/v1alpha1/tenant_types.go
  apis/offloading/v1alpha1/quota_types.go
  apis/offloading/v1alpha1/zz_generated.deepcopy.go
  cmd/liqoctl/cmd/cordon.go
  cmd/liqoctl/cmd/uncordon.go
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_quotas.yaml
  pkg/consts/authentication.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/quotacreator-controller/quotacreator_controller.go
  pkg/liqoctl/cordon/handler.go
  pkg/liqoctl/uncordon/handler.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/webhooks/shadowpod/webhook.go
Labels: size/L, merge-requested

#2608 Uniformed e2e cruise test + small fixes
  test/e2e/cruise/apiserverinteraction/apiserver_interaction_test.go
  test/e2e/cruise/basic_test.go
  test/e2e/cruise/clusterlabels/cluster_labels_test.go
  test/e2e/cruise/conflictremotenamespace/conflict_remote_namespace_test.go
  test/e2e/cruise/creationremotenamespace/creation_remote_namespace_test.go
  test/e2e/cruise/storage/storage_test.go
  test/e2e/testutils/util/get_test_variable.go
  test/e2e/testutils/util/namespace.go
Labels: size/XL

#2609 Docs: exclude known problematics sites on link checks
  docs/conf.py
Labels: size/XS

#2613 [API] Short names
  apis/authentication/v1alpha1/identity_types.go
  apis/authentication/v1alpha1/resourceslice_types.go
  apis/authentication/v1alpha1/tenant_types.go
  apis/core/v1alpha1/foreigncluster_types.go
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  apis/networking/v1alpha1/configuration_types.go
  apis/networking/v1alpha1/connection_types.go
  apis/networking/v1alpha1/firewallconfiguration_types.go
  apis/networking/v1alpha1/gatewayclient_types.go
  apis/networking/v1alpha1/gatewayserver_types.go
  apis/networking/v1alpha1/genevetunnel_types.go
  apis/networking/v1alpha1/internalfabric_types.go
  apis/networking/v1alpha1/internalnode_types.go
  apis/networking/v1alpha1/publickey_types.go
  apis/networking/v1alpha1/routeconfiguration_types.go
  apis/networking/v1alpha1/wggatewayclient_types.go
  apis/networking/v1alpha1/wggatewayclienttemplate_types.go
  apis/networking/v1alpha1/wggatewayserver_types.go
  apis/networking/v1alpha1/wggatewayservertemplate_types.go
  apis/offloading/v1alpha1/namespaceoffloading_types.go
  apis/offloading/v1alpha1/quota_types.go
  apis/virtualkubelet/v1alpha1/namespacemap_types.go
  apis/virtualkubelet/v1alpha1/shadowendpointslice_types.go
  apis/virtualkubelet/v1alpha1/shadowpod_types.go
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  apis/virtualkubelet/v1alpha1/vkoptionstemplate_types.go
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_identities.yaml
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_resourceslices.yaml
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_tenants.yaml
  deployments/liqo/charts/liqo-crds/crds/core.liqo.io_foreignclusters.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_configurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_connections.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_genevetunnels.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalfabrics.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalnodes.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_publickeies.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclienttemplates.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservertemplates.yaml
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_namespaceoffloadings.yaml
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_quotas.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_namespacemaps.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_shadowendpointslices.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_shadowpods.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_vkoptionstemplates.yaml
Labels: size/L, merge-requested

#2610 [Test] Resource Enforcement
  Makefile
  test/e2e/cruise/resourceenforcement/resourceenforcement_test.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/deployment.go
  test/e2e/testutils/util/generic.go
  test/e2e/testutils/util/tenant.go
Labels: size/XL, merge-requested

#2616 [Test] uniform timeouts
  test/e2e/cruise/apiserverinteraction/apiserver_interaction_test.go
  test/e2e/cruise/clusterlabels/cluster_labels_test.go
  test/e2e/cruise/conflictremotenamespace/conflict_remote_namespace_test.go
  test/e2e/cruise/creationremotenamespace/creation_remote_namespace_test.go
  test/e2e/cruise/resourceenforcement/resourceenforcement_test.go
  test/e2e/cruise/storage/storage_test.go
  test/e2e/testutils/config/config.go
  test/e2e/testutils/config/doc.go
Labels: size/M, merge-requested

#2617 [Fix] fix liqoctl net test
  pkg/consts/externalnetwork.go
  pkg/liqo-controller-manager/ipmapping/configuration_controller.go
  pkg/liqo-controller-manager/ipmapping/label.go
  pkg/liqo-controller-manager/networking/external-network/remapping/label.go
  pkg/liqoctl/test/network/setup/ip.go
  pkg/utils/ipam/mapping/ips.go
Labels: size/M

#2628 Tests: remove unit cache
  .github/workflows/test.yml
  README.md
  build/liqo-test/Dockerfile
  docs/contributing/contributing.md
Labels: size/M

#2611 [Test] unit test fix
  Makefile
  apis/core/v1alpha1/groupversion_info.go
  pkg/ipam/ipam.go
  pkg/ipam/ipam_test.go
  pkg/liqo-controller-manager/offloading/namespaceoffloading-controller/suite_test.go
  pkg/liqo-controller-manager/offloading/shadowpod-controller/shadowpod_controller_test.go
  pkg/liqo-controller-manager/offloading/shadowpod-controller/suite_test.go
  pkg/liqo-controller-manager/offloading/virtualnode-controller/suite_test.go
  pkg/liqo-controller-manager/offloading/virtualnode-controller/virtualnode_controller_test.go
  pkg/utils/args/args_test.go
  pkg/utils/csr/watcher_test.go
  pkg/utils/getters/dataGetters_test.go
  pkg/utils/testutil/cluster.go
  pkg/utils/testutil/liqo.go
  pkg/virtualKubelet/forge/configmaps_test.go
  pkg/virtualKubelet/forge/endpointslices.go
  pkg/virtualKubelet/forge/endpointslices_test.go
  pkg/virtualKubelet/forge/ingresses_test.go
  pkg/virtualKubelet/forge/meta_test.go
  pkg/virtualKubelet/forge/pods_test.go
  pkg/virtualKubelet/forge/secrets_test.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider_test.go
Labels: size/L, merge-requested

#2627 Dockerfile warning fix
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
Labels: size/S, merge-requested

#2634 [Cleanup] Remove unused file
  values.yaml
Labels: size/L, merge-requested

#2622 [Test] Resources reflection
  pkg/liqoctl/test/network/check/endpointslices.go
  test/e2e/cruise/reflection/reflection_test.go
  test/e2e/testutils/tester/tester.go
  test/e2e/testutils/util/configmap.go
  test/e2e/testutils/util/event.go
  test/e2e/testutils/util/ingress.go
  test/e2e/testutils/util/pod.go
  test/e2e/testutils/util/resource.go
  test/e2e/testutils/util/secret.go
  test/e2e/testutils/util/service.go
Labels: size/XL, merge-requested

#2635 [Test] Unpeer
  test/e2e/pipeline/installer/liqoctl/unpeer.sh
  test/e2e/testutils/util/deployment.go
Labels: size/M, merge-requested

#2632 [Test] Virtual-kubelet reflection counters for each resource
  go.mod
  test/e2e/cruise/reflection/reflection_test.go
  test/e2e/cruise/resourceenforcement/resourceenforcement_test.go
  test/e2e/testutils/http/doc.go
  test/e2e/testutils/http/http.go
  test/e2e/testutils/metrics/doc.go
  test/e2e/testutils/metrics/metrics.go
  test/e2e/testutils/portforward/doc.go
  test/e2e/testutils/portforward/portforward.go
Labels: size/L, merge-requested

#2631 [Webhook] Shadowpod requests enforcement
  pkg/webhooks/shadowpod/peeringinfo_test.go
  pkg/webhooks/shadowpod/shadowpod_suite_test.go
  pkg/webhooks/shadowpod/spdescription.go
  pkg/webhooks/shadowpod/spdescription_test.go
  pkg/webhooks/shadowpod/webhook_test.go
Labels: size/M, merge-requested

#2625 `liqoctl create nonce` namespace is not created when output specified
  pkg/liqoctl/rest/nonce/create.go
  pkg/tenantNamespace/interface.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/tenantNamespace/tenantNamespaceManager_test.go
Labels: size/M, merge-requested

#2640 [Docs] network-fabric page fix
  docs/features/network-fabric.md
Labels: size/S, merge-requested

#2637 [Test] Reflection with multiple virtual-kubelet for the same remote cluster
  test/e2e/cruise/reflection/reflection_test.go
  test/e2e/testutils/metrics/metrics.go
Labels: size/L, merge-requested

#2644 [Test] Uninstall
  build/common/Dockerfile
  deployments/liqo/templates/liqo-remote-controlplane-rbac.yaml
  pkg/consts/core.go
  pkg/consts/labels.go
  pkg/liqo-controller-manager/networking/external-network/utils/rbac.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqo-controller-manager/offloading/namespacemap-controller/enforcement.go
  pkg/liqoctl/uninstall/handler.go
  pkg/tenantNamespace/bindings.go
  pkg/utils/getters/k8sGetters.go
  pkg/vkMachinery/const.go
  test/e2e/postuninstall/basic_test.go
Labels: size/L, merge-requested

#2645 [Test] Refactor common utilities function for e2e tests
  Makefile
  docs/contributing/contributing.md
  test/e2e/pipeline/infra/cluster-api/cni.sh
  test/e2e/pipeline/infra/cluster-api/pre-requirements.sh
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/infra/k3s/clean.sh
  test/e2e/pipeline/infra/k3s/pre-requirements.sh
  test/e2e/pipeline/infra/k3s/setup.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/infra/kind/setup.sh
  test/e2e/pipeline/installer/liqoctl/helm-utils.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/pipeline/installer/liqoctl/uninstall.sh
  test/e2e/pipeline/utils.sh
  test/e2e/testutils/metrics/metrics.go
Labels: size/L, merge-requested

#2648 Fix forge auth params in tenant reconciler
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
Labels: size/XS, merge-requested

#2650 Geneve MTU fix
  pkg/fabric/internalfabric_controller.go
  pkg/gateway/fabric/geneve/internalnode_controller.go
  pkg/utils/network/geneve/netlink.go
Labels: size/S, merge-requested

#2636 [Test] E2E network CI
  Makefile
  cmd/liqoctl/cmd/test.go
  pkg/liqoctl/test/flags.go
  pkg/liqoctl/test/network/check/exec.go
  pkg/liqoctl/test/network/check/ip.go
  pkg/liqoctl/test/network/setup/const.go
  pkg/liqoctl/test/network/setup/deployment.go
  pkg/liqoctl/test/network/setup/ip.go
  pkg/liqoctl/test/options.go
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/utils.sh
  test/e2e/testconsts/consts.go
  test/e2e/testutils/tester/tester.go
Labels: kind/feature, size/L, merge-requested

#2658 [Network] netmonitor fix
  pkg/utils/network/netmonitor/netmonitor.go
  test/e2e/pipeline/utils.sh
Labels: size/XS, merge-requested
