Repository liqotech/liqo, pull requests merged in 2024-06, with the labels that each got.

#2539 [Offloading] ForeignCluster controller
  Makefile
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/discovery/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_identities.yaml
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_resourceslices.yaml
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_tenants.yaml
  deployments/liqo/charts/liqo-crds/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-controller-manager-Role.yaml
  deployments/liqo/templates/liqo-remote-peering-rbac.yaml
  pkg/consts/labels.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/external-network/configuration/network.go
  pkg/liqo-controller-manager/foreign-cluster-operator/doc.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/foreigncluster-controller/apiserverchecker.go
  pkg/liqo-controller-manager/foreigncluster-controller/conditions.go
  pkg/liqo-controller-manager/foreigncluster-controller/doc.go
  pkg/liqo-controller-manager/foreigncluster-controller/foreigncluster_controller.go
  pkg/liqo-controller-manager/foreigncluster-controller/status.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/namespaceoffloading_controller_test.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/status.go
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller_test.go
  pkg/liqo-controller-manager/virtualnode-controller/namespacemap.go
  pkg/liqo-controller-manager/webhooks/foreigncluster/fc.go
  pkg/liqo-controller-manager/webhooks/shadowpod/webhook.go
  pkg/liqoctl/uninstall/preuninstall.go
  pkg/liqoctl/util/util.go
  pkg/liqoctl/wait/wait.go
  pkg/peering-roles/peeringPermission.go
  pkg/tenantNamespace/namespaceManager.go
  pkg/uninstaller/helpers.go
  pkg/utils/foreigncluster/conditions.go
  pkg/utils/foreigncluster/doc.go
  pkg/utils/foreigncluster/getters.go
  pkg/utils/foreigncluster/modules.go
  pkg/utils/foreigncluster/pollevent.go
  pkg/utils/foreigncluster/roles.go
  pkg/utils/foreigncluster/status.go
  pkg/utils/foreigncluster/uniqueName.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/labels/labelSelectors.go
  pkg/utils/testutil/liqo.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/vkMachinery/forge/creation.go
  pkg/vkMachinery/utils/utils.go
  test/e2e/cruise/cluster_labels_e2e/cluster_labels_test.go
  test/e2e/cruise/conflict_remote_namespace_e2e/conflict_creation_test.go
  test/e2e/cruise/remote_namespaces_creation_e2e/remote_namespaces_creation_test.go
  test/e2e/testutils/net/pod.go
Labels: size/XXL

#2545 [Offloading] Fix prometheus metrics
  pkg/virtualKubelet/metrics/metrics.go
Labels: size/XS, merge-requested

#2541 [Offloading] CrdReplicator: remove peering phases
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/networkingState.go
  internal/crdReplicator/peeringPhase.go
  internal/crdReplicator/resources/resources.go
  pkg/consts/peering.go
Labels: size/L

#2543 NetwNetwor Module and Network + Offloading Cross Module refactoring
  cmd/liqo-controller-manager/main.go
Labels: size/M

#2544 [Offloading] VK Node conditions from new ForeignCluster
  apis/virtualkubelet/v1alpha1/virtualnode_types.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_virtualnodes.yaml
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  pkg/liqo-controller-manager/authentication/virtualnodecreator-controller/virtualnodecreator_controller.go
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqo-controller-manager/webhooks/virtualnode/mutate.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/liqoctl/rest/virtualnode/types.go
  pkg/uninstaller/helpers.go
  pkg/virtualKubelet/liqoNodeProvider/conditions.go
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
  pkg/virtualKubelet/roles/local/role.go
  pkg/vkMachinery/forge/type.go
Labels: size/L

#2548 [Offloading] Support remote API Server access
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/mapping.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/utils/ipam/ips/doc.go
  pkg/utils/ipam/ips/ips.go
  pkg/virtualKubelet/forge/pods.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/virtualKubelet/reflection/workload/workload_suite_test.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: size/L, merge-requested

#2547 [Offloading] NamespaceMap handle multiple virtualnodes
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/offloading.go
  pkg/identityManager/identityManager_suite_test.go
  pkg/liqo-controller-manager/namespaceoffloading-controller/clusterselector.go
  pkg/liqo-controller-manager/virtualnode-controller/namespacemap.go
  pkg/liqo-controller-manager/virtualnode-controller/suite_test.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller_test.go
Labels: size/L

#2549 [Offloading] Fix panic identity creator when resourceslice has no provider
  pkg/liqo-controller-manager/authentication/forge/resourceslice.go
  pkg/liqo-controller-manager/authentication/identitycreator-controller/identitycreator_controller.go
  pkg/liqo-controller-manager/authentication/localresourceslice-controller/localresourceslice_controller.go
  pkg/liqo-controller-manager/webhooks/resourceslice/validate.go
Labels: size/M

#2546 Docs: azure subscription ID
  docs/installation/install.md
Labels: size/XS

#2552 [Offloading] Remove IPAM client from virtual kubelet
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/consts/replication.go
  pkg/liqo-controller-manager/ip-controller/exposition.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/mapping.go
  pkg/liqo-controller-manager/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/webhooks/virtualnode/mutate.go
  pkg/utils/ipam/ips/ips.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/virtualKubelet/roles/local/role.go
  pkg/vkMachinery/forge/forge.go
  pkg/vkMachinery/forge/type.go
Labels: size/L

#2560 Network: firewallconfiguration port and protocol match
  apis/networking/v1alpha1/firewall/common_types.go
  apis/networking/v1alpha1/firewall/match_types.go
  apis/networking/v1alpha1/firewall/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  go.mod
  pkg/firewall/utils/match.go
  pkg/liqo-controller-manager/external-network/remapping/cidr.go
  pkg/liqo-controller-manager/external-network/remapping/ip.go
  pkg/liqo-controller-manager/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_k8s.go
  pkg/utils/network/port/doc.go
  pkg/utils/network/port/port.go
Labels: size/L, merge-requested

#2561 [Offloading] Refactoring reflectors configs in VK Options
  apis/virtualkubelet/v1alpha1/vkoptionstemplate_types.go
  apis/virtualkubelet/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/modules/offloading.go
  cmd/virtual-kubelet/root/flag.go
  cmd/virtual-kubelet/root/opts.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/charts/liqo-crds/crds/virtualkubelet.liqo.io_vkoptionstemplates.yaml
  deployments/liqo/templates/liqo-vk-options-template.yaml
  pkg/consts/replication.go
  pkg/virtualKubelet/forge/events.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/configuration/configmap.go
  pkg/virtualKubelet/reflection/configuration/configmap_test.go
  pkg/virtualKubelet/reflection/configuration/secret.go
  pkg/virtualKubelet/reflection/configuration/secret_test.go
  pkg/virtualKubelet/reflection/configuration/serviceaccount.go
  pkg/virtualKubelet/reflection/configuration/serviceaccount_test.go
  pkg/virtualKubelet/reflection/event/event.go
  pkg/virtualKubelet/reflection/event/event_test.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/reflection/exposition/ingress.go
  pkg/virtualKubelet/reflection/exposition/ingress_test.go
  pkg/virtualKubelet/reflection/exposition/service.go
  pkg/virtualKubelet/reflection/exposition/service_test.go
  pkg/virtualKubelet/reflection/generic/namespaced.go
  pkg/virtualKubelet/reflection/generic/namespaced_test.go
  pkg/virtualKubelet/reflection/generic/reflector.go
  pkg/virtualKubelet/reflection/generic/reflector_test.go
  pkg/virtualKubelet/reflection/options/options.go
  pkg/virtualKubelet/reflection/options/options_test.go
  pkg/virtualKubelet/reflection/resources/doc.go
  pkg/virtualKubelet/reflection/resources/resources.go
  pkg/virtualKubelet/reflection/storage/persistentvolumeclaim.go
  pkg/virtualKubelet/reflection/workload/pod.go
  pkg/virtualKubelet/reflection/workload/pod_test.go
  pkg/virtualKubelet/reflection/workload/podns_test.go
  pkg/vkMachinery/forge/forge.go
Labels: size/XL

#2569 [Network] Move forge utilities out of liqoctl package
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  cmd/liqoctl/cmd/network.go
  pkg/liqo-controller-manager/external-network/externalnetwork/externalnetwork_controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/externalnetwork.go
  pkg/liqo-controller-manager/networking/forge/common.go
  pkg/liqo-controller-manager/networking/forge/configuration.go
  pkg/liqo-controller-manager/networking/forge/doc.go
  pkg/liqo-controller-manager/networking/forge/gatewayclient.go
  pkg/liqo-controller-manager/networking/forge/gatewayserver.go
  pkg/liqo-controller-manager/networking/forge/publickey.go
  pkg/liqo-controller-manager/networking/getters/doc.go
  pkg/liqo-controller-manager/networking/getters/publickey.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/rest/configuration/create.go
  pkg/liqoctl/rest/configuration/generate.go
  pkg/liqoctl/rest/configuration/utils.go
  pkg/liqoctl/rest/gatewayclient/create.go
  pkg/liqoctl/rest/gatewayclient/types.go
  pkg/liqoctl/rest/gatewayserver/create.go
  pkg/liqoctl/rest/gatewayserver/types.go
  pkg/liqoctl/rest/publickey/create.go
  pkg/liqoctl/rest/publickey/generate.go
Labels: size/XL

#2564 [Offloading] Replace IP, Network, FC validating webhooks with CEL
  apis/discovery/v1alpha1/foreigncluster_types.go
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  apis/networking/v1alpha1/common_types.go
  cmd/webhook/main.go
  deployments/liqo/charts/liqo-crds/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_configurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalfabrics.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_internalnodes.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  pkg/liqo-controller-manager/webhooks/foreigncluster/fc.go
  pkg/liqo-controller-manager/webhooks/ip/doc.go
  pkg/liqo-controller-manager/webhooks/ip/ip.go
  pkg/liqo-controller-manager/webhooks/network/doc.go
  pkg/liqo-controller-manager/webhooks/network/nw.go
Labels: size/L

#2570 Network: providers liqoctl values
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/values.yaml
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/kind/provider.go
Labels: size/L, merge-requested

#2567 [Offloading] Resource webhook
  apis/offloading/v1alpha1/groupversion_info.go
  apis/offloading/v1alpha1/quota_types.go
  apis/offloading/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_quotas.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-webhook-ClusterRole.yaml
  pkg/consts/authentication.go
  pkg/liqo-controller-manager/webhooks/shadowpod/cache.go
  pkg/liqo-controller-manager/webhooks/shadowpod/cache_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/peeringinfo.go
  pkg/liqo-controller-manager/webhooks/shadowpod/peeringinfo_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/shadowpod_suite_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/spdescription_test.go
  pkg/liqo-controller-manager/webhooks/shadowpod/webhook.go
  pkg/liqo-controller-manager/webhooks/shadowpod/webhook_test.go
  pkg/utils/getters/k8sGetters.go
Labels: size/XL

#2566 [Offloading] Move webhooks in a separate folder
  Makefile
  cmd/webhook/main.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/webhooks/firewallconfiguration/chain.go
  pkg/webhooks/firewallconfiguration/doc.go
  pkg/webhooks/firewallconfiguration/error.go
  pkg/webhooks/firewallconfiguration/firewallconfiguration.go
  pkg/webhooks/firewallconfiguration/natrule.go
  pkg/webhooks/firewallconfiguration/rule.go
  pkg/webhooks/firewallconfiguration/table.go
  pkg/webhooks/foreigncluster/doc.go
  pkg/webhooks/foreigncluster/fc.go
  pkg/webhooks/namespaceoffloading/doc.go
  pkg/webhooks/namespaceoffloading/nsoff.go
  pkg/webhooks/pod/doc.go
  pkg/webhooks/pod/mutations.go
  pkg/webhooks/pod/pod.go
  pkg/webhooks/pod/pod_test.go
  pkg/webhooks/pod/testutils/doc.go
  pkg/webhooks/pod/testutils/utils.go
  pkg/webhooks/resourceslice/doc.go
  pkg/webhooks/resourceslice/validate.go
  pkg/webhooks/routeconfiguration/doc.go
  pkg/webhooks/routeconfiguration/route.go
  pkg/webhooks/routeconfiguration/routeconfiguration.go
  pkg/webhooks/routeconfiguration/rule.go
  pkg/webhooks/routeconfiguration/table.go
  pkg/webhooks/shadowpod/cache.go
  pkg/webhooks/shadowpod/cache_test.go
  pkg/webhooks/shadowpod/doc.go
  pkg/webhooks/shadowpod/peeringinfo.go
  pkg/webhooks/shadowpod/peeringinfo_test.go
  pkg/webhooks/shadowpod/shadowpod_suite_test.go
  pkg/webhooks/shadowpod/spdescription.go
  pkg/webhooks/shadowpod/spdescription_test.go
  pkg/webhooks/shadowpod/webhook.go
  pkg/webhooks/shadowpod/webhook_test.go
  pkg/webhooks/virtualnode/doc.go
  pkg/webhooks/virtualnode/mutate.go
  pkg/webhooks/virtualnode/virtualnode.go
Labels: size/M

#2576 Network: firewallconfiguration rename + cleanup fix
  pkg/liqo-controller-manager/networking/external-network/remapping/ip.go
  pkg/liqo-controller-manager/offloading/ipmapping/configuration_controller.go
Labels: kind/feature, size/M, merge-requested

#2578 Network: IP masquerade works locally
  pkg/liqo-controller-manager/networking/external-network/remapping/ip.go
Labels: size/M, merge-requested

#2573 [Offloading] Add quota creator controller
  apis/offloading/v1alpha1/quota_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_quotas.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/authentication/csr.go
  pkg/liqo-controller-manager/quotacreator-controller/doc.go
  pkg/liqo-controller-manager/quotacreator-controller/quotacreator_controller.go
Labels: size/L, merge-requested

#2577 [Offloading] User-defined resources
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
Labels: size/XS, merge-requested

#2575 [Offloading] Quota enforcement type
  pkg/webhooks/shadowpod/cache.go
  pkg/webhooks/shadowpod/peeringinfo.go
  pkg/webhooks/shadowpod/peeringinfo_test.go
  pkg/webhooks/shadowpod/spdescription.go
  pkg/webhooks/shadowpod/spdescription_test.go
  pkg/webhooks/shadowpod/webhook.go
Labels: size/M, merge-requested
