Repository liqotech/liqo, pull requests merged in 2024-04, with the labels that each got.

#2416 [Auth] Sign nonce and generate Tenant
  apis/authentication/v1alpha1/tenant_types.go
  apis/authentication/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/authentication.go
  cmd/liqoctl/cmd/generate.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/main.go
  deployments/liqo/crds/authentication.liqo.io_tenants.yaml
  pkg/consts/authentication.go
  pkg/liqo-controller-manager/authentication/csr.go
  pkg/liqo-controller-manager/authentication/forge/doc.go
  pkg/liqo-controller-manager/authentication/forge/tenant.go
  pkg/liqo-controller-manager/authentication/keys.go
  pkg/liqo-controller-manager/authentication/noncesigner-controller/doc.go
  pkg/liqo-controller-manager/authentication/noncesigner-controller/noncesigner_controller.go
  pkg/liqo-controller-manager/authentication/noncesigner-controller/utils.go
  pkg/liqo-controller-manager/authentication/utils.go
  pkg/liqoctl/factory/factory.go
  pkg/liqoctl/rest/tenant/create.go
  pkg/liqoctl/rest/tenant/delete.go
  pkg/liqoctl/rest/tenant/doc.go
  pkg/liqoctl/rest/tenant/generate.go
  pkg/liqoctl/rest/tenant/get.go
  pkg/liqoctl/rest/tenant/types.go
  pkg/liqoctl/rest/tenant/update.go
  pkg/liqoctl/rest/tenant/utils.go
  pkg/liqoctl/rest/types.go
  pkg/liqoctl/rest/virtualnode/generate.go
  pkg/liqoctl/wait/wait.go
Labels: size/XXL

#2413 Network: IP resource creation
  apis/networking/v1alpha1/routeconfiguration_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_routeconfigurations.yaml
  pkg/liqo-controller-manager/offloadedpod-controller/doc.go
  pkg/liqo-controller-manager/offloadedpod-controller/k8s.go
  pkg/liqo-controller-manager/offloadedpod-controller/label.go
  pkg/liqo-controller-manager/offloadedpod-controller/pod_controller.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/natrule.go
Labels: size/L, merge-requested

#2424 Network: geneve tunnel ID fix
  pkg/gateway/fabric/geneve/internalnode_controller.go
Labels: size/XS, merge-requested

#2427 Network: gw restart fix
  pkg/utils/geneve/netlink.go
Labels: size/XS, merge-requested

#2428 [Auth] Create Kubeconfig secret from Identity
  cmd/liqo-controller-manager/modules/authentication.go
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  pkg/consts/authentication.go
  pkg/liqo-controller-manager/authentication/forge/kubeconfig.go
  pkg/liqo-controller-manager/authentication/identity-controller/doc.go
  pkg/liqo-controller-manager/authentication/identity-controller/identity_controller.go
  pkg/liqo-controller-manager/authentication/keys.go
Labels: size/L

#2439 [Auth] CRDs Mapper fix
  cmd/liqo-controller-manager/main.go
  pkg/utils/mapper/mapper.go
Labels: size/XS

#2434 [Auth] Liqoctl get nonce
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/get/doc.go
  pkg/liqoctl/get/types.go
  pkg/liqoctl/rest/nonce/get.go
  pkg/liqoctl/rest/nonce/types.go
Labels: size/L

#2438 [Auth] Control Plane RBACs
  Makefile
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-controlplane-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-rbac.yaml
  deployments/liqo/templates/liqo-controlplane-rbacs.yaml
  pkg/liqo-controller-manager/authentication/identity-controller/identity_controller.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/namespacemap-controller/namespacemap_controller.go
  pkg/peering-roles/controlplane/controlplane.go
Labels: size/L, merge-requested

#2440 Code-generator v0.30.0
  Makefile
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_namespacemap.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowendpointslice.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowpod.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_virtualnode.go
  pkg/client/informers/externalversions/factory.go
Labels: size/M, merge-requested

#2442 Generate clients for IP resource
  Makefile
  apis/ipam/v1alpha1/groupversion_info.go
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/network_types.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/fake/fake_ip.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/fake/fake_ipam_client.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/ip.go
  pkg/client/clientset/versioned/typed/ipam/v1alpha1/ipam_client.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_namespacemap.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowendpointslice.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_shadowpod.go
  pkg/client/clientset/versioned/typed/virtualkubelet/v1alpha1/fake/fake_virtualnode.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/ipam/interface.go
  pkg/client/informers/externalversions/ipam/v1alpha1/interface.go
  pkg/client/informers/externalversions/ipam/v1alpha1/ip.go
  pkg/client/listers/ipam/v1alpha1/expansion_generated.go
  pkg/client/listers/ipam/v1alpha1/ip.go
  pkg/liqoctl/uninstall/handler.go
  pkg/utils/mapper/mapper.go
Labels: size/M, merge-requested

#2445 [Auth] CA encoding fix
  pkg/utils/apiserver/config.go
Labels: size/S

#2447 Network: liqoctl pod wait for ready status
  pkg/gateway/forge/doc.go
  pkg/liqoctl/wait/wait.go
Labels: kind/bug, size/S, merge-requested

#2433 Offloading: ip mapping (virtualkubelet integration)
  deployments/liqo/files/liqo-virtual-kubelet-local-ClusterRole.yaml
  pkg/gateway/remapping/ip.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/mapping.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/utils/ipam/networks.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
  pkg/virtualKubelet/roles/local/role.go
Labels: kind/feature, size/L, merge-requested

#2444 [Auth] Refactor CrdReplicator to work with new kubeconfig secret
  apis/authentication/v1alpha1/resourceslice_types.go
  cmd/crd-replicator/main.go
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/files/liqo-crd-replicator-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-rbac.yaml
  deployments/liqo/templates/liqo-controlplane-rbac.yaml
  deployments/liqo/templates/liqo-remote-controlplane-rbac.yaml
  internal/auth-service/auth-service.go
  internal/auth-service/auth_service_suite_test.go
  internal/crdReplicator/crdReplicator-operator.go
  internal/crdReplicator/reflection/handler.go
  internal/crdReplicator/resources/resources.go
  pkg/consts/authentication.go
  pkg/consts/namespace_mapping.go
  pkg/identityManager/certificate.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/client.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_suite_test.go
  pkg/identityManager/identityManager_test.go
  pkg/liqo-controller-manager/authentication/csr.go
  pkg/liqo-controller-manager/authentication/forge/kubeconfig.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-operator_test.go
  pkg/liqoctl/rest/tenant/generate.go
  pkg/liqoctl/uninstall/handler.go
  pkg/utils/getters/k8sGetters.go
Labels: size/XL

#2451 [Auth] Liqoctl get kubeconfig
  cmd/liqoctl/cmd/root.go
  pkg/liqoctl/rest/kubeconfig/create.go
  pkg/liqoctl/rest/kubeconfig/delete.go
  pkg/liqoctl/rest/kubeconfig/doc.go
  pkg/liqoctl/rest/kubeconfig/generate.go
  pkg/liqoctl/rest/kubeconfig/get.go
  pkg/liqoctl/rest/kubeconfig/types.go
  pkg/liqoctl/rest/kubeconfig/update.go
Labels: size/L

#2456 [Auth] Various fixes
  apis/authentication/v1alpha1/identity_types.go
  deployments/liqo/crds/authentication.liqo.io_identities.yaml
  pkg/identityManager/certificateIdentityProvider.go
  pkg/liqo-controller-manager/authentication/csr.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqoctl/completion/completion.go
  pkg/liqoctl/rest/tenant/generate.go
  pkg/liqoctl/wait/wait.go
Labels: size/M

#2462 [Network] Swap gw server and client default configuration
  apis/networking/v1alpha1/externalnetwork_types.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_externalnetworks.yaml
  docs/usage/external-network.md
  docs/usage/inter-cluster-network.md
  pkg/liqo-controller-manager/external-network/externalnetwork-controller/externalnetwork_controller.go
  pkg/liqoctl/network/handler.go
Labels: size/L, merge-requested

#2470 [Network] Remove natmapping inflater and IP deletion fixes
  pkg/ipam/ipam.go
  pkg/liqo-controller-manager/external-network/remapping/ip.go
Labels: size/M, merge-requested

#2463 [Network] Refactor controller-manager main
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/doc.go
  cmd/liqo-controller-manager/modules/networking.go
Labels: size/L

#2417 Proposing a new governance model for the Liqo community
  COMMUNITY.md
  GOVERNANCE.md
Labels: size/M

#2476 [Net] Fix external network logs
  pkg/liqo-controller-manager/foreign-cluster-operator/externalnetwork.go
Labels: size/S, merge-requested

#2478 [Fix] Eks install
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-aws-credentials.yaml
  deployments/liqo/values.yaml
Labels: size/S, merge-requested

#2467 [Network] Renamed flag to enable/disable the Networking module
  apis/discovery/v1alpha1/foreigncluster_types.go
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/discovery.liqo.io_foreignclusters.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-fabric-rbac.yaml
  deployments/liqo/templates/liqo-gateway-rbac.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-ipam-rbac.yaml
  deployments/liqo/templates/liqo-ipam-service.yaml
  deployments/liqo/templates/liqo-legacy-gateway-deployment.yaml
  deployments/liqo/templates/liqo-legacy-gateway-rbac.yaml
  deployments/liqo/templates/liqo-legacy-gateway-service.yaml
  deployments/liqo/templates/liqo-legacy-gateway-servicemonitor.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-rbac.yaml
  deployments/liqo/templates/liqo-network-manager-service.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/templates/liqo-route-rbac.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  docs/_toc.yml
  docs/index.md
  docs/usage/disable-networking.md
  pkg/liqo-controller-manager/foreign-cluster-operator/foreign-cluster-controller.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/mapping.go
  pkg/liqo-controller-manager/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/status/handler.go
  pkg/liqoctl/status/local/localinfo.go
  pkg/liqoctl/status/local/localinfo_test.go
  pkg/liqoctl/status/local/pods.go
  pkg/liqoctl/status/local/pods_test.go
  pkg/liqoctl/status/peer/peerinfo.go
  pkg/liqoctl/status/peer/peerinfo_test.go
  pkg/liqoctl/wait/wait.go
  pkg/utils/foreignCluster/peeringStatus.go
  pkg/utils/testutil/liqo.go
Labels: size/L

#2484 LiqoMapper fix for namespaced clients
  pkg/utils/mapper/mapper.go
Labels: size/S
