Repository liqotech/liqo, pull requests merged in 2024-08, with the labels that each got.

#2662 Inter-cluster authentication docs
  docs/advanced/peering/inter-cluster-authentication.md
Labels: kind/docs, size/L

#2655 [liqoctl] install the same version
  Makefile
  build/liqoctl/build.sh
  cmd/liqoctl/cmd/install.go
  pkg/liqoctl/version/handler.go
Labels: size/S

#2666 [Docs] liqo install
  cmd/liqoctl/cmd/install.go
  docs/installation/install.md
  docs/installation/liqoctl.md
  pkg/liqoctl/install/handler.go
Labels: kind/docs, size/L

#2663 Telemetry: nodes and modules
  cmd/telemetry/main.go
  deployments/liqo/files/liqo-telemetry-ClusterRole.yaml
  pkg/telemetry/builder.go
  pkg/telemetry/doc.go
  pkg/telemetry/types.go
  pkg/utils/getters/k8sGetters.go
Labels: size/L

#2672 [Docs] feature peering
  docs/_legacy/examples/global-ingress.md
  docs/_static/images/features/peering/in-band.drawio.svg
  docs/_static/images/features/peering/out-of-band.drawio.svg
  docs/_static/images/features/peering/peering-arch.drawio.svg
  docs/features/peering.md
  docs/installation/requirements.md
  test/e2e/pipeline/installer/liqoctl/peer.sh
Labels: kind/docs, size/XL

#2665 [Test] fix peer on kind
  test/e2e/pipeline/installer/liqoctl/peer.sh
Labels: size/XS

#2677 [Docs] add in-band and out-of-band deprecation warning
  docs/features/peering.md
Labels: kind/docs, size/XS

#2675 [Docs] feature offloading
  docs/features/offloading.md
Labels: kind/docs, size/M

#2671 [Docs] External Network
  docs/_toc.yml
  docs/advanced/disable-networking.md
  docs/advanced/enable-external-networking.md
  docs/advanced/use-only-offloading.md
Labels: kind/docs, size/L, merge-requested

#2680 Docs: papers
  docs/more/papers.md
Labels: kind/docs, size/S

#2681 [Docs] EKS warning
  docs/installation/install.md
Labels: size/XS

#2678 [Docs] advanced offloading
  docs/_toc.yml
  docs/advanced/peering/inter-cluster-authentication.md
  docs/advanced/peering/namespace-offloading.md
  docs/advanced/peering/offloading-in-depth.md
  docs/features/offloading.md
  docs/usage/peer.md
Labels: kind/docs, size/L, merge-requested

#2682 Docs: virtualnode customizations
  docs/_toc.yml
  docs/advanced/multiple-resource-slices.md
  docs/advanced/peering/offloading-in-depth.md
  docs/advanced/virtualnode-customizations.md
  docs/usage/reflection.md
Labels: kind/docs, size/M

#2674 [Docs] peering strategies
  docs/advanced/manual-peering.md
  docs/advanced/peering-strategies.md
  docs/advanced/peering/inter-cluster-network.md
Labels: kind/docs, size/M

#2679 Docs: interclusternetwork refactoring
  docs/_toc.yml
  docs/advanced/nat.md
  docs/advanced/peering/inter-cluster-authentication.md
  docs/advanced/peering/inter-cluster-network.md
Labels: kind/docs, size/L, merge-requested

#2684 Docs: hide kbd from search bar
  docs/_static/css/custom.css
Labels: size/XS

#2685 Docs: remove IP remapping page
  docs/_toc.yml
  docs/advanced/external-ip-remapping.md
Labels: size/XS

#2667 [Network] skip second connect in bidirectional peering
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
Labels: size/M

#2643 [Test] e2e plugin for eks
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  pkg/identityManager/iamIdentityProvider.go
  pkg/liqoctl/install/eks/policy.go
  test/e2e/pipeline/infra/eks/clean.sh
  test/e2e/pipeline/infra/eks/pre-requirements.sh
  test/e2e/pipeline/infra/eks/setup.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
Labels: size/L, merge-requested

#2647 [Test] e2e plugin for aks
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/infra/aks/clean.sh
  test/e2e/pipeline/infra/aks/pre-requirements.sh
  test/e2e/pipeline/infra/aks/setup.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
Labels: size/L, merge-requested

#2706 Bump golangci-lint and gci
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Makefile
Labels: size/S, dependencies, merge-requested

#2704 Fix providers overwrite flags liqoctl install
  cmd/liqoctl/cmd/docs.go
  cmd/liqoctl/cmd/drain.go
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/move.go
  cmd/liqoctl/cmd/offload.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/uninstall.go
  cmd/liqoctl/cmd/unoffload.go
  pkg/liqoctl/install/aks/aks_test.go
  pkg/liqoctl/install/aks/provider.go
  pkg/liqoctl/install/eks/eks_test.go
  pkg/liqoctl/install/eks/provider.go
  pkg/liqoctl/install/generic/provider.go
  pkg/liqoctl/install/gke/gke_test.go
  pkg/liqoctl/install/gke/provider.go
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/k3s/provider.go
  pkg/liqoctl/install/kind/provider.go
  pkg/liqoctl/install/kubeadm/kubeadm_test.go
  pkg/liqoctl/install/kubeadm/provider.go
  pkg/liqoctl/install/openshift/provider.go
  pkg/liqoctl/install/validation_test.go
Labels: kind/bug, size/L, merge-requested

#2703 Avoid retrieval of tenant namespace by name
  pkg/liqoctl/authenticate/cluster.go
  pkg/liqoctl/network/cluster.go
  pkg/tenantNamespace/namespaceManager.go
  test/e2e/cruise/multiplevirtualnodes/multiple_virtualnodes_test.go
Labels: kind/bug, size/M, merge-requested

#2708 E2E: add kyverno install as pipeline step
  Makefile
  test/e2e/pipeline/infra/aks/setup.sh
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/infra/eks/setup.sh
  test/e2e/pipeline/installer/kyverno/install.sh
  test/e2e/pipeline/utils.sh
Labels: size/M, merge-requested, kind/cleanup
