Repository liqotech/liqo, pull requests merged in 2024-10, with the labels that each got.

#2740 [Fix] Tenant cleanup & bidirectional peering
  cmd/liqoctl/cmd/unpeer.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/unauthenticate/handler.go
  pkg/liqoctl/unpeer/handler.go
Labels: kind/bug, size/L, merge-requested

#2749 Bump Alpine from 3.20 to 3.20.3
  build/cert-creator/Dockerfile
  build/common/Dockerfile
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
Labels: size/S, merge-requested

#2741 [Feat] New `liqoctl info peer` command
  cmd/liqoctl/cmd/info.go
  pkg/liqo-controller-manager/networking/external-network/route/k8s.go
  pkg/liqoctl/info/checker.go
  pkg/liqoctl/info/common/doc.go
  pkg/liqoctl/info/common/types.go
  pkg/liqoctl/info/common/utils.go
  pkg/liqoctl/info/handler.go
  pkg/liqoctl/info/localstatus/health.go
  pkg/liqoctl/info/localstatus/local_info.go
  pkg/liqoctl/info/localstatus/network.go
  pkg/liqoctl/info/localstatus/peerings.go
  pkg/liqoctl/info/localstatus/peerings_test.go
  pkg/liqoctl/info/peer/auth.go
  pkg/liqoctl/info/peer/auth_test.go
  pkg/liqoctl/info/peer/doc.go
  pkg/liqoctl/info/peer/network.go
  pkg/liqoctl/info/peer/network_test.go
  pkg/liqoctl/info/peer/offloading.go
  pkg/liqoctl/info/peer/offloading_test.go
  pkg/liqoctl/info/peer/peer_info.go
  pkg/liqoctl/info/peer/peer_info_test.go
  pkg/liqoctl/info/peer/peer_suite_test.go
  pkg/liqoctl/info/suite_test.go
  pkg/liqoctl/info/utils.go
  pkg/liqoctl/info/utils_test.go
  pkg/liqoctl/output/info.go
  pkg/liqoctl/output/output.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/testutil/liqo.go
Labels: kind/feature, size/XXL, merge-requested

#2750 Fix liqoctl disconnect on bidirectional peering
  cmd/liqoctl/cmd/network.go
  pkg/liqoctl/network/handler.go
Labels: kind/bug, size/M, merge-requested

#2753 docs: add liqoctl info documentation
  docs/advanced/peering/inter-cluster-authentication.md
  docs/advanced/peering/inter-cluster-network.md
  docs/advanced/peering/offloading-in-depth.md
  docs/conf.py
  docs/examples/quick-start.md
  docs/examples/service-offloading.md
  docs/features/network-fabric.md
  docs/installation/install.md
  docs/usage/peer.md
Labels: kind/docs, size/L

#2754 Docs: in-band docs refactored
  docs/advanced/k8s-api-server-proxy.md
  docs/advanced/peering/inter-cluster-authentication.md
  docs/features/peering.md
  docs/usage/peer.md
Labels: size/M

#2756 Disable docker artifacts in CI
  .github/workflows/integration.yml
Labels: size/XS

#2726 add missing ClusterRole to liqo-webhook
  deployments/liqo/files/liqo-webhook-ClusterRole.yaml
  pkg/webhooks/utils/permissions.go
Labels: kind/bug, size/M

#2758 fix: retrieve GatewayServer/GatewayClient resources by labels
  docs/advanced/peering/inter-cluster-network.md
  pkg/liqo-controller-manager/networking/forge/gatewayclient.go
  pkg/liqo-controller-manager/networking/forge/gatewayserver.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/rest/gatewayclient/create.go
  pkg/liqoctl/rest/gatewayserver/create.go
Labels: kind/bug, size/L, merge-requested

#2765 Bump sphinx from 7.2.6 to 8.0.2 and sphinxawesome-theme from 5.2.0 to 5.3.1
  docs/README.md
  docs/conf.py
  docs/requirements.txt
Labels: size/XS, merge-requested

#2771 Assign unique names to all controllers
  cmd/crd-replicator/main.go
  cmd/liqo-controller-manager/main.go
  internal/crdReplicator/crdReplicator-operator.go
  pkg/consts/controllers.go
  pkg/fabric/internalfabric_controller.go
  pkg/fabric/source-detector/gateway_controller.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/gateway/connection/connections_controller.go
  pkg/gateway/fabric/geneve/internalnode_controller.go
  pkg/gateway/tunnel/wireguard/publickeys_controller.go
  pkg/liqo-controller-manager/authentication/identity-controller/identity_controller.go
  pkg/liqo-controller-manager/authentication/identitycreator-controller/identitycreator_controller.go
  pkg/liqo-controller-manager/authentication/localresourceslice-controller/localresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/noncecreator-controller/noncecreator_controller.go
  pkg/liqo-controller-manager/authentication/noncesigner-controller/noncesigner_controller.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/liqo-controller-manager/authentication/tenant-controller/tenant_controller.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/apiserverchecker.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/conditions.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/doc.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/foreigncluster_controller.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/status.go
  pkg/liqo-controller-manager/ipmapping/configuration_controller.go
  pkg/liqo-controller-manager/ipmapping/pod_controller.go
  pkg/liqo-controller-manager/networking/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/networking/external-network/configuration/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/remapping/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/remapping/ip_controller.go
  pkg/liqo-controller-manager/networking/external-network/route/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/server-operator/server_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqo-controller-manager/networking/internal-network/client-controller/client_controller.go
  pkg/liqo-controller-manager/networking/internal-network/configuration-controller/configuration_controller.go
  pkg/liqo-controller-manager/networking/internal-network/gw-masq-bypass/pod_controller.go
  pkg/liqo-controller-manager/networking/internal-network/internalfabric-controller/internalfabric_controller.go
  pkg/liqo-controller-manager/networking/internal-network/node-controller/node_controller.go
  pkg/liqo-controller-manager/networking/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/networking/internal-network/route/pod_controller.go
  pkg/liqo-controller-manager/networking/internal-network/server-controller/server_controller.go
  pkg/liqo-controller-manager/networking/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/networking/network-controller/network_controller.go
  pkg/liqo-controller-manager/offloading/namespacemap-controller/namespacemap_controller.go
  pkg/liqo-controller-manager/offloading/namespaceoffloading-controller/namespaceoffloading_controller.go
  pkg/liqo-controller-manager/offloading/nodefailure-controller/nodefailure_controller.go
  pkg/liqo-controller-manager/offloading/podstatus-controller/podstatus_controller.go
  pkg/liqo-controller-manager/offloading/shadowendpointslice-controller/shadowendpointslice_controller.go
  pkg/liqo-controller-manager/offloading/shadowpod-controller/shadowpod_controller.go
  pkg/liqo-controller-manager/offloading/virtualnode-controller/virtualnode_controller.go
  pkg/liqo-controller-manager/quotacreator-controller/quotacreator_controller.go
  pkg/liqo-controller-manager/virtualnodecreator-controller/virtualnodecreator_controller.go
  pkg/route/routeconfiguration_controller.go
Labels: kind/bug, size/L, merge-requested

#2772 fix: retrieve configuration resources by labels
  pkg/liqo-controller-manager/authentication/forge/kubeconfig.go
  pkg/liqo-controller-manager/authentication/forge/nonce.go
  pkg/liqo-controller-manager/authentication/forge/signednonce.go
  pkg/liqo-controller-manager/networking/forge/configuration.go
  pkg/liqo-controller-manager/networking/utils/configuration.go
  pkg/liqo-controller-manager/networking/utils/doc.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/wait/wait.go
Labels: kind/bug, size/L, merge-requested

#2773 fix: retrieve publickey resources by labels
  pkg/liqo-controller-manager/networking/forge/publickey.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/rest/publickey/create.go
  pkg/utils/getters/k8sGetters.go
Labels: kind/bug, size/M, merge-requested

#2770 [Feat] VirtualKubelet HA
  apis/offloading/v1beta1/vkoptionstemplate_types.go
  apis/offloading/v1beta1/zz_generated.deepcopy.go
  cmd/virtual-kubelet/root/root.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_vkoptionstemplates.yaml
  deployments/liqo/templates/liqo-vk-options-template.yaml
  deployments/liqo/values.yaml
  pkg/leaderelection/blockingelection.go
  pkg/liqo-controller-manager/offloading/forge/virtualnode.go
  pkg/liqo-controller-manager/virtualnodecreator-controller/virtualnodecreator_controller.go
  pkg/liqoctl/rest/virtualnode/create.go
  pkg/vkMachinery/forge/creation.go
  pkg/webhooks/virtualnode/mutate.go
  pkg/webhooks/virtualnode/virtualnode.go
Labels: kind/feature, size/L, merge-requested

#2747 [Feat] Gateway external secrets
  apis/networking/v1beta1/gatewayclient_types.go
  apis/networking/v1beta1/gatewayserver_types.go
  apis/networking/v1beta1/wggatewayclient_types.go
  apis/networking/v1beta1/wggatewayserver_types.go
  apis/networking/v1beta1/zz_generated.deepcopy.go
  cmd/gateway/wireguard/main.go
  cmd/liqo-controller-manager/modules/networking.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_gatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  pkg/gateway/tunnel/wireguard/flags.go
  pkg/gateway/tunnel/wireguard/k8s.go
  pkg/gateway/tunnel/wireguard/keys.go
  pkg/gateway/tunnel/wireguard/options.go
  pkg/liqo-controller-manager/networking/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/networking/external-network/server-operator/server_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/utils.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqo-controller-manager/networking/forge/gatewayserver.go
Labels: kind/feature, size/XL, merge-requested

#2779 CI: arm32 build
  .github/workflows/integration.yml
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-proxy-configmap.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-proxy-service.yaml
  deployments/liqo/values.yaml
Labels: size/M, merge-requested

#2780 docs: added section for liqo pods in HA
  cmd/liqoctl/cmd/install.go
  cmd/webhook/main.go
  docs/installation/install.md
  docs/usage/service-continuity.md
  pkg/liqoctl/install/handler.go
Labels: kind/docs, size/M, merge-requested

#2767 [Feat] Gateway HA
  cmd/fabric/main.go
  cmd/gateway/geneve/main.go
  cmd/gateway/main.go
  cmd/gateway/wireguard/main.go
  deployments/liqo/files/liqo-gateway-ClusterRole.yaml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  pkg/fabric/source-detector/gateway_controller.go
  pkg/gateway/concurrent/const.go
  pkg/gateway/concurrent/doc.go
  pkg/gateway/concurrent/gateway.go
  pkg/gateway/concurrent/guest.go
  pkg/gateway/concurrent/k8s.go
  pkg/gateway/concurrent/label.go
  pkg/gateway/flags.go
  pkg/gateway/label.go
  pkg/gateway/options.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqo-controller-manager/networking/internal-network/gw-masq-bypass/pod_controller.go
  pkg/utils/ipc/client.go
  pkg/utils/ipc/common.go
  pkg/utils/ipc/doc.go
  pkg/utils/ipc/server.go
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/testutils/util/pod.go
Labels: kind/feature, size/XL

#2788 chore: bump protoc binaries and grpc lib
  Makefile
  go.mod
  go.sum
  pkg/ipam/ipam.pb.go
  pkg/ipam/ipam_grpc.pb.go
Labels: size/M, dependencies

#2783 fix: network status in ForeignCluster resource
  apis/core/v1beta1/foreigncluster_types.go
  deployments/liqo/charts/liqo-crds/crds/core.liqo.io_foreignclusters.yaml
  pkg/liqo-controller-manager/core/foreigncluster-controller/conditions.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/foreigncluster_controller.go
  pkg/liqo-controller-manager/core/foreigncluster-controller/status.go
Labels: kind/bug, size/L, merge-requested

#2787 [IPAM] API and first stub
  Makefile
  cmd/ipam/main.go
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  pkg/consts/ipam.go
  pkg/ipam/ipam.go
  pkg/ipam/ipam.pb.go
  pkg/ipam/ipam.proto
  pkg/ipam/ipam_grpc.pb.go
  pkg/ipamold/doc.go
  pkg/ipamold/errors/doc.go
  pkg/ipamold/errors/errors.go
  pkg/ipamold/fake/doc.go
  pkg/ipamold/fake/ipam.go
  pkg/ipamold/flags.go
  pkg/ipamold/ipam.go
  pkg/ipamold/ipam.pb.go
  pkg/ipamold/ipam.proto
  pkg/ipamold/ipamStorage.go
  pkg/ipamold/ipam_grpc.pb.go
  pkg/ipamold/ipam_suite_test.go
  pkg/ipamold/ipam_test.go
  pkg/ipamold/options.go
  pkg/ipamold/utils/doc.go
  pkg/ipamold/utils/utils.go
  pkg/ipamold/utils/utils_suite_test.go
  pkg/ipamold/utils/utils_test.go
  pkg/liqo-controller-manager/ipmapping/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/configuration/configuration_controller.go
  pkg/liqo-controller-manager/networking/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/networking/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/networking/ip-controller/ip_controller.go
  pkg/liqo-controller-manager/networking/network-controller/network_controller.go
  pkg/liqo-controller-manager/networking/network-controller/utils.go
Labels: size/XXL

#2786 fix: avoid creation of VirtualNode if ResourceSlice deleting
  pkg/liqo-controller-manager/virtualnodecreator-controller/virtualnodecreator_controller.go
Labels: kind/bug, size/XS, merge-requested
