Repository liqotech/liqo, pull requests merged in 2024-03, with the labels that each got.

#2345 Support priorityClassName in Helm chart
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-discovery-deployment.yaml
  deployments/liqo/templates/liqo-gateway-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-network-manager-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-route-daemonset.yaml
  deployments/liqo/values.yaml
Labels: kind/feature, size/M, merge-requested

#2368 [Network] Add priorityClass to new pods
  cmd/liqo-controller-manager/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
Labels: size/S

#2366 Add Prometheus scraping in Helm chart
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-service.yaml
  deployments/liqo/templates/liqo-controller-manager-servicemonitor.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-podmonitor.yaml
  deployments/liqo/values.yaml
Labels: size/L, merge-requested

#2295 Fix liqoctl install on AzureCNI
  pkg/liqoctl/install/aks/aks_test.go
  pkg/liqoctl/install/aks/provider.go
Labels: kind/bug, size/M, merge-requested

#2318 liqoctl: add incoming flag to peer and unpeer commands
  cmd/liqoctl/cmd/peer.go
  cmd/liqoctl/cmd/unpeer.go
  pkg/liqoctl/inband/cluster.go
  pkg/liqoctl/peer/handler.go
  pkg/liqoctl/peerib/handler.go
  pkg/liqoctl/peeroob/handler.go
  pkg/liqoctl/unpeerib/handler.go
  pkg/liqoctl/unpeeroob/handler.go
  pkg/liqoctl/wait/wait.go
  pkg/utils/foreignCluster/peeringStatus.go
Labels: kind/feature, size/L, merge-requested

#2377 Network: fwmark use all podcidr as src match
  .github/workflows/integration.yml
  go.mod
  go.sum
  pkg/liqo-controller-manager/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/internal-network/route/pod_controller.go
Labels: size/L, merge-requested

#2374 fix: ServiceMonitor PodMonitor scrape config null values
  deployments/liqo/templates/liqo-controller-manager-servicemonitor.yaml
  deployments/liqo/templates/liqo-crd-replicator-podmonitor.yaml
  deployments/liqo/templates/liqo-gateway-servicemonitor.yaml
  deployments/liqo/templates/liqo-virtualkubelet-podmonitor.yaml
Labels: size/M, merge-requested

#2388 Add documentation on external network configuration
  docs/usage/inter-cluster-network.md
Labels: kind/docs, size/S, merge-requested

#2384 Fix nat address and port override
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  pkg/liqo-controller-manager/external-network/client-operator/client_controller.go
  pkg/liqo-controller-manager/external-network/server-operator/server_controller.go
  pkg/liqo-controller-manager/external-network/utils/template.go
  pkg/liqo-controller-manager/external-network/wireguard/utils.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
Labels: size/L, merge-requested

#2387 WireGuard templates examples
  docs/usage/inter-cluster-network.md
  examples/networking/wireguard-client-default.yaml
  examples/networking/wireguard-client-high-availability.yaml
  examples/networking/wireguard-client-pingdisabled.yaml
  examples/networking/wireguard-client-selector.yaml
  examples/networking/wireguard-server-default.yaml
  examples/networking/wireguard-server-high-availability.yaml
  examples/networking/wireguard-server-nat.yaml
  examples/networking/wireguard-server-overridetargetport.yaml
  examples/networking/wireguard-server-pingdisabled.yaml
  examples/networking/wireguard-server-selector.yaml
Labels: kind/docs, size/XXL

#2369 [Network] Use a single manager with all pods cached in controller-manager
  cmd/liqo-controller-manager/main.go
  pkg/consts/externalnetwork.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqo-controller-manager/podstatus-controller/podstatus_controller.go
  pkg/liqo-controller-manager/podstatus-controller/podstatus_controller_test.go
  pkg/liqo-controller-manager/virtualnode-controller/deletion-routine.go
  pkg/liqo-controller-manager/virtualnode-controller/suite_test.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualkubelet.go
  pkg/liqo-controller-manager/virtualnode-controller/virtualnode_controller.go
Labels: size/L

#2394 Fix liqoctl build on non-linux systems
  cmd/gateway/geneve/main.go
  cmd/gateway/wireguard/main.go
  pkg/gateway/fabric/geneve/internalnode_controller.go
  pkg/gateway/forge/doc.go
  pkg/gateway/forge/utils.go
  pkg/gateway/options.go
  pkg/gateway/tunnel/wireguard/k8s.go
  pkg/liqo-controller-manager/external-network/wireguard/utils.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/external-network/wireguard/wggatewayserver_controller.go
  pkg/liqoctl/network/cluster.go
Labels: size/M

#2383 Handle InternalNodes deletion at uninstall time
  apis/networking/v1alpha1/firewall/rule_types.go
  cmd/liqo-controller-manager/main.go
  cmd/uninstaller/main.go
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_firewallconfigurations.yaml
  deployments/liqo/files/liqo-pre-delete-ClusterRole.yaml
  pkg/consts/annotations.go
  pkg/liqo-controller-manager/internal-network/node-controller/node_controller.go
  pkg/liqo-controller-manager/internal-network/route/finalizer.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/internal-network/route/internalnode_k8s.go
  pkg/liqo-controller-manager/network-controller/network_controller.go
  pkg/liqo-controller-manager/webhooks/firewallconfiguration/chain.go
  pkg/uninstaller/const.go
  pkg/uninstaller/deletion.go
  pkg/uninstaller/helpers.go
  pkg/utils/getters/k8sGetters.go
Labels: size/L

#2395 Support getting aws credentials from existing secret instead of clear text in values file
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-aws-credentials.yaml
  deployments/liqo/values.yaml
Labels: size/S, merge-requested

#2398 [Auth] Define new Authentication APIs
  .github/workflows/integration.yml
  apis/authentication/v1alpha1/aws_types.go
  apis/authentication/v1alpha1/common_types.go
  apis/authentication/v1alpha1/doc.go
  apis/authentication/v1alpha1/groupversion_info.go
  apis/authentication/v1alpha1/identity_types.go
  apis/authentication/v1alpha1/resourceslice_types.go
  apis/authentication/v1alpha1/tenant_types.go
  apis/authentication/v1alpha1/zz_generated.deepcopy.go
  cmd/auth-service/main.go
  deployments/liqo/crds/authentication.liqo.io_identities.yaml
  deployments/liqo/crds/authentication.liqo.io_resourceslices.yaml
  deployments/liqo/crds/authentication.liqo.io_tenants.yaml
  internal/auth-service/auth-service.go
  pkg/identityManager/iamIdentityProvider.go
  pkg/identityManager/identityManager.go
  pkg/identityManager/identityManager_test.go
Labels: size/XL

#2399 [Auth] Initialize cluster authentication keys
  cmd/liqo-controller-manager/main.go
  pkg/liqo-controller-manager/authentication/doc.go
  pkg/liqo-controller-manager/authentication/keys.go
  pkg/liqo-controller-manager/authentication/utils.go
Labels: size/L

#2414 [Auth] Refactor values file and controller manager main
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/authentication.go
  cmd/liqo-controller-manager/modules/doc.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-auth-deployment.yaml
  deployments/liqo/templates/liqo-aws-credentials.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/values.yaml
  docs/usage/reflection.md
Labels: size/XL, kind/breaking

#2418 VirtualNode: drain fix
  pkg/liqo-controller-manager/virtualnode-controller/drain.go
Labels: size/XS, merge-requested
