Repository liqotech/liqo, pull requests merged in 2024-11, with the labels that each got.

#2791 [Feat] liqoctl gateway template check
  cmd/liqoctl/cmd/network.go
  cmd/liqoctl/cmd/peer.go
  pkg/liqoctl/factory/factory.go
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/output/output.go
  pkg/liqoctl/peer/handler.go
  pkg/utils/maps/maps.go
Labels: kind/feature, size/L, merge-requested

#2798 [IPAM] Sync routine
  cmd/ipam/main.go
  pkg/consts/ipam.go
  pkg/ipam/initialize.go
  pkg/ipam/ipam.go
  pkg/ipam/ips.go
  pkg/ipam/networks.go
  pkg/ipam/options.go
  pkg/ipam/sync.go
Labels: kind/feature, size/L

#2806 [IPAM]: added unit tests for sync routine
  pkg/ipam/ipam_suite_test.go
  pkg/ipam/sync.go
  pkg/ipam/sync_test.go
Labels: size/L

#2807 [IPAM] Refactor configuration controller
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  pkg/liqo-controller-manager/networking/external-network/configuration/configuration_controller.go
Labels: size/M, kind/cleanup

#2815 fix: wggateway controllers pod watch
  deployments/liqo/templates/_helpers.tpl
  pkg/liqo-controller-manager/networking/external-network/wireguard/utils.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayclient_controller.go
  pkg/liqo-controller-manager/networking/external-network/wireguard/wggatewayserver_controller.go
  test/e2e/cruise/network/network_test.go
Labels: kind/bug, size/M, merge-requested

#2804 test: fix HA replicas checks
  pkg/gateway/concurrent/gateway.go
  pkg/gateway/concurrent/k8s.go
  pkg/utils/maps/maps.go
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/infra/cluster-api/setup.sh
  test/e2e/pipeline/infra/cni.sh
  test/e2e/pipeline/infra/kind/pre-requirements.sh
  test/e2e/pipeline/infra/kind/setup.sh
  test/e2e/pipeline/installer/liqoctl/setup.sh
  test/e2e/postinstall/basic_test.go
  test/e2e/testutils/util/pod.go
Labels: kind/bug, size/L, merge-requested

#2781 fix: liqoctl cluster labels and API server addr override collection
  pkg/liqoctl/info/localstatus/local_info.go
Labels: kind/bug, size/M

#2797 fix: nil pointer in network checker of liqoctl info peer
  pkg/liqoctl/info/peer/network.go
Labels: kind/bug, size/XS

#2817 Nftables monitor disable
  cmd/fabric/main.go
  cmd/gateway/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/values.yaml
  docs/contributing/contributing.md
  docs/installation/install.md
  pkg/fabric/flags.go
  pkg/fabric/options.go
  pkg/firewall/firewallconfiguration_controller.go
  pkg/liqoctl/install/k3s/provider.go
Labels: size/M, merge-requested

#2794 [Fix] argocd install
  cmd/webhook/main.go
  deployments/liqo/files/liqo-webhook-ClusterRole.yaml
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/webhooks/job-patch/job-create-secret.yaml
  deployments/liqo/templates/webhooks/job-patch/job-patch-webhook.yaml
  deployments/liqo/templates/webhooks/job-patch/rbac.yaml
  deployments/liqo/templates/webhooks/liqo-mutating-webhook.yaml
  deployments/liqo/templates/webhooks/liqo-validating-webhook.yaml
  deployments/liqo/templates/webhooks/liqo-webhook-secret.yaml
  pkg/consts/annotations.go
  pkg/consts/controllers.go
  pkg/consts/labels.go
  pkg/utils/mapper/mapper.go
  pkg/webhooks/secretcontroller/doc.go
  pkg/webhooks/secretcontroller/secret_controller.go
Labels: kind/bug, size/XL, merge-requested

#2820 Updated legend in grafana Liqo dashboard
  docs/_downloads/grafana/liqonetwork.json
Labels: size/S

#2816 [IPAM]: Refactor IP controller
  apis/ipam/v1alpha1/ip_types.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/networking.go
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  docs/advanced/external-ip-remapping.md
  pkg/consts/ipam.go
  pkg/ipam/ips.go
  pkg/ipam/sync_test.go
  pkg/ipamold/ipam.go
  pkg/ipamold/utils/utils.go
  pkg/liqo-controller-manager/ipmapping/configuration_controller.go
  pkg/liqo-controller-manager/networking/external-network/remapping/finalizer.go
  pkg/liqo-controller-manager/networking/external-network/remapping/ip_controller.go
  pkg/liqo-controller-manager/networking/internal-network/configuration-controller/firewall.go
  pkg/liqo-controller-manager/networking/internal-network/route/internalnode_controller.go
  pkg/liqo-controller-manager/networking/ip-controller/exposition.go
  pkg/liqo-controller-manager/networking/ip-controller/ip_controller.go
  pkg/liqoctl/authenticate/cluster.go
  pkg/liqoctl/test/network/setup/ip.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/ipam/ips.go
  pkg/utils/ipam/networks.go
  pkg/virtualKubelet/provider/provider.go
  pkg/virtualKubelet/reflection/exposition/endpointslice.go
  pkg/virtualKubelet/reflection/exposition/endpointslice_test.go
Labels: size/XL, kind/cleanup

#2826 [IPAM] fix liqoctl builds by avoiding importing nftables
  pkg/utils/ipam/ips.go
Labels: size/M

#2824 [IPAM] Cleanup old packages and resources
  Makefile
  apis/ipam/v1alpha1/ipamstorage_types.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  cmd/uninstaller/main.go
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ipamstorages.yaml
  deployments/liqo/files/liqo-pre-delete-ClusterRole.yaml
  go.mod
  go.sum
  pkg/consts/labels.go
  pkg/ipamold/doc.go
  pkg/ipamold/errors/doc.go
  pkg/ipamold/errors/errors.go
  pkg/ipamold/fake/doc.go
  pkg/ipamold/fake/ipam.go
  pkg/ipamold/flags.go
  pkg/ipamold/ipam.go
  pkg/ipamold/ipam.pb.go
  pkg/ipamold/ipam.proto
  pkg/ipamold/ipamStorage.go
  pkg/ipamold/ipam_grpc.pb.go
  pkg/ipamold/ipam_suite_test.go
  pkg/ipamold/ipam_test.go
  pkg/ipamold/options.go
  pkg/ipamold/utils/doc.go
  pkg/ipamold/utils/utils.go
  pkg/ipamold/utils/utils_suite_test.go
  pkg/ipamold/utils/utils_test.go
  pkg/uninstaller/const.go
  pkg/uninstaller/deletion.go
  pkg/utils/getters/dataGetters.go
  pkg/utils/getters/dataGetters_test.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/labels/labelSelectors.go
  pkg/utils/testutil/kubernetes.go
Labels: size/XXL, merge-requested

#2819 [Feat] Golang http proxy
  .github/workflows/integration.yml
  build/proxy/Dockerfile
  cmd/proxy/doc.go
  cmd/proxy/main.go
  deployments/liqo/templates/liqo-proxy-configmap.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  docs/advanced/k8s-api-server-proxy.md
  pkg/proxy/connect.go
  pkg/proxy/doc.go
  pkg/proxy/types.go
  pkg/utils/network/netmonitor/netmonitor.go
Labels: kind/feature, size/L, merge-requested

#2835 [IPAM] Wait for gRPC server to be Ready
  cmd/liqo-controller-manager/main.go
  pkg/utils/grpc/connection.go
  pkg/utils/grpc/doc.go
Labels: size/M

#2823 [IPAM] reserve first N IPs on Networks
  apis/ipam/v1alpha1/network_types.go
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/templates/liqo-ipam-networks.yaml
  pkg/ipam/ipam.go
  pkg/ipam/ipam.pb.go
  pkg/ipam/ipam.proto
  pkg/ipam/networks.go
  pkg/ipam/sync.go
  pkg/ipam/sync_test.go
Labels: kind/feature, size/M

#2829 [IPAM] support reserved networks
  apis/ipam/v1alpha1/network_types.go
  cmd/liqo-controller-manager/main.go
  cmd/liqo-controller-manager/modules/authentication.go
  cmd/liqo-controller-manager/modules/networking.go
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_networks.yaml
  deployments/liqo/templates/liqo-ipam-networks.yaml
  pkg/ipam/ipam.go
  pkg/ipam/networks.go
  pkg/liqo-controller-manager/networking/network-controller/network_controller.go
  pkg/liqo-controller-manager/networking/network-controller/utils.go
Labels: kind/feature, size/L

#2813 [Docs] Add declarative peering section
  docs/_toc.yml
  docs/advanced/peering/inter-cluster-authentication.md
  docs/advanced/peering/peering-via-cr.md
  docs/conf.py
Labels: kind/docs, size/L, merge-requested

#2825 [Fix] improve liqoctl uninstall error message
  pkg/liqoctl/uninstall/handler.go
  pkg/utils/preuninstall.go
Labels: kind/bug, size/M, merge-requested
