Repository liqotech/liqo, pull requests merged in 2024-12, with the labels that each got.

#2830 [IPAM] support additional pools
  cmd/ipam/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/values.yaml
  pkg/ipam/initialize.go
Labels: kind/feature, size/S

#2837 [IPAM] Fix HA
  cmd/ipam/main.go
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  pkg/ipam/options.go
  pkg/leaderelection/blockingelection.go
  pkg/leaderelection/leaderelection.go
  test/e2e/pipeline/installer/liqoctl/setup.sh
Labels: size/S, merge-requested

#2840 [IPAM] NetworkIsAvailable refuse nodes with children
  pkg/ipam/core/ipam.go
Labels: size/XS, merge-requested

#2841 [IPAM] function NetworkIsAvailable refactoring
  pkg/ipam/core/ipam.go
  pkg/ipam/core/node.go
  pkg/ipam/sync.go
Labels: size/M, merge-requested

#2818 Metrics: changed port from 8080 to 8082
  cmd/liqo-controller-manager/main.go
  cmd/virtual-kubelet/root/flag.go
  cmd/webhook/main.go
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-controller-manager-service.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/liqo-webhook-service.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  examples/networking/wireguard-client-default.yaml
  examples/networking/wireguard-client-high-availability.yaml
  examples/networking/wireguard-client-pingdisabled.yaml
  examples/networking/wireguard-client-selector.yaml
  examples/networking/wireguard-server-default.yaml
  examples/networking/wireguard-server-high-availability.yaml
  examples/networking/wireguard-server-overridetargetport.yaml
  examples/networking/wireguard-server-pingdisabled.yaml
  examples/networking/wireguard-server-selector.yaml
  pkg/fabric/flags.go
  pkg/vkMachinery/const.go
Labels: size/M, merge-requested, kind/cleanup

#2838 [IPAM] Grace Period
  cmd/ipam/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/values.yaml
  pkg/consts/ipam.go
  pkg/ipam/core/ipam.go
  pkg/ipam/core/node.go
  pkg/ipam/initialize.go
  pkg/ipam/ipam.go
  pkg/ipam/ips.go
  pkg/ipam/networks.go
  pkg/ipam/sync.go
  pkg/ipam/sync_test.go
  pkg/utils/testutil/liqo.go
Labels: size/L

#2844 chore: bump to controller-runtime v0.19.2 and go 1.23.3
  go.mod
  go.sum
Labels: size/XS, dependencies

#2853 chore: bump alpine to 3.21.0
  build/cert-creator/Dockerfile
  build/common/Dockerfile
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
Labels: size/S, dependencies, merge-requested

#2856 [Liqoctl] interaction schema
  docs/_static/images/features/peering/peering-arch.drawio.svg
  docs/_static/images/installation/liqoctl/liqoctl.drawio.svg
  docs/installation/liqoctl.md
Labels: size/L

#2860 refactor: use standard maps lib instead of experimental one
  go.mod
  pkg/utils/getters/dataGetters.go
  pkg/utils/resources/resources.go
Labels: size/S, kind/cleanup

#2854 [IPAM] core tests
  .gitignore
  build/liqo-test/Dockerfile
  pkg/ipam/core/core_suite_test.go
  pkg/ipam/core/ipam.go
  pkg/ipam/core/ipam_test.go
  pkg/ipam/core/net.go
  pkg/ipam/core/net_test.go
  pkg/ipam/core/node.go
  pkg/ipam/initialize_test.go
  pkg/ipam/ipam.go
  pkg/ipam/sync_test.go
Labels: size/XL

#2827 [Docs] improve NAT and manual peering documentation
  docs/_static/images/advanced/nat/consumer-nat.svg
  docs/_static/images/advanced/nat/port-address-override.svg
  docs/_static/images/advanced/nat/provider-nat.svg
  docs/advanced/manual-peering.md
  docs/advanced/nat.md
  docs/advanced/peering/inter-cluster-network.md
  docs/usage/namespace-offloading.md
  docs/usage/peer.md
Labels: kind/docs, size/L, merge-requested

#2855 [Helm] uniform flag names
  deployments/liqo/README.md
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-metric-agent-apiservice.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-rbac.yaml
  deployments/liqo/templates/liqo-metric-agent-service.yaml
  deployments/liqo/templates/liqo-storage-class.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  deployments/liqo/templates/liqo-telemetry-rbac.yaml
  deployments/liqo/templates/liqo-virtual-kubelet-local.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/templates/runtime-class.yaml
  deployments/liqo/values.yaml
  pkg/liqoctl/install/handler.go
  pkg/liqoctl/install/openshift/provider.go
Labels: size/M, merge-requested, kind/cleanup

#2865 [Liqoctl] network test exit error code
  pkg/liqoctl/test/network/check/check.go
Labels: size/XS, fix

#2867 [Liqoctl] control-planes in liqoctl network np-nodes flag
  pkg/liqoctl/test/network/check/service.go
  pkg/liqoctl/test/network/flags/flags.go
  pkg/liqoctl/test/network/flags/options.go
Labels: size/S, merge-requested

#2861 [Offloading] Allow coexistence of podoffloadingpolicy and runtimeclass
  cmd/webhook/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/runtime-class.yaml
  deployments/liqo/values.yaml
  docs/examples/offloading-with-policies.md
  docs/usage/namespace-offloading.md
  pkg/webhooks/pod/mutations.go
  pkg/webhooks/pod/pod.go
  pkg/webhooks/pod/pod_test.go
  pkg/webhooks/pod/testutils/utils.go
  test/e2e/cruise/offloadingpolicies/offloadingpolicies_test.go
Labels: kind/feature, size/L, merge-requested

#2870 [virtual-kubelet] namespacemap bidirectional fix
  pkg/virtualKubelet/reflection/namespacemap/namespace.go
Labels: kind/bug, size/XS, merge-requested

#2872 [Docs] resource templating
  docs/advanced/peering/inter-cluster-network.md
Labels: kind/docs, size/M, merge-requested

#2834 Adopt `Conventional Commits` specification
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/release.yml
  .github/workflows/greeting.yml
  docs/contributing/contributing.md
Labels: size/M, merge-requested, feat

#2839 [CI] Assign label based on `Conventional Commits`
  .github/workflows/labels.yaml
Labels: size/M, merge-requested
