Repository liqotech/liqo, pull requests merged in 2024-09, with the labels that each got.

#2713 [Fix] Node IP
  pkg/virtualKubelet/liqoNodeProvider/nodeProvider.go
  pkg/virtualKubelet/liqoNodeProvider/reconciler.go
  pkg/virtualKubelet/liqoNodeProvider/resourceWatcher.go
  pkg/virtualKubelet/liqoNodeProvider/setup.go
Labels: size/S, merge-requested

#2714 Bump alpine images to v3.20
  build/cert-creator/Dockerfile
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
  pkg/route/table.go
Labels: size/M, merge-requested

#2717 Update CodeQL action
  .github/workflows/codeql.yml
  deployments/liqo/templates/_helpers.tpl
Labels: size/S, merge-requested, kind/cleanup

#2721 Fix bug deletion routine of virtualnodes with createNode=false
  pkg/liqo-controller-manager/offloading/virtualnode-controller/deletion-routine.go
  pkg/liqo-controller-manager/offloading/virtualnode-controller/virtualnode_controller.go
Labels: kind/bug, size/XS, merge-requested

#2475 Updating the roadmap based on recent discussions within the Liqo maintainers
  ROADMAP.md
Labels: kind/docs, size/S, merge-requested

#2723 Support for gcloud subnet in different project
  pkg/liqoctl/install/gke/provider.go
Labels: kind/bug, size/S

#2718 New `liqoctl info` command
  cmd/liqoctl/cmd/info.go
  cmd/liqoctl/cmd/root.go
  go.mod
  pkg/liqoctl/info/checker.go
  pkg/liqoctl/info/doc.go
  pkg/liqoctl/info/handler.go
  pkg/liqoctl/info/localstatus/doc.go
  pkg/liqoctl/info/localstatus/health.go
  pkg/liqoctl/info/localstatus/health_test.go
  pkg/liqoctl/info/localstatus/local_info.go
  pkg/liqoctl/info/localstatus/local_info_test.go
  pkg/liqoctl/info/localstatus/local_suite_test.go
  pkg/liqoctl/info/localstatus/network.go
  pkg/liqoctl/info/localstatus/network_test.go
  pkg/liqoctl/info/localstatus/peerings.go
  pkg/liqoctl/info/localstatus/peerings_test.go
  pkg/liqoctl/info/suite_test.go
  pkg/liqoctl/info/utils.go
  pkg/liqoctl/info/utils_test.go
  pkg/utils/getters/k8sGetters.go
  pkg/utils/testutil/kubernetes.go
Labels: kind/feature, size/XXL, merge-requested

#2736 Fix default wireguard MTU
  pkg/gateway/tunnel/wireguard/flags.go
Labels: kind/bug, size/XS, merge-requested

#2730 [E2E] k3s test plugin
  .gitignore
  test/e2e/cruise/apiserverinteraction/apiserver_interaction_test.go
  test/e2e/cruise/network/network_test.go
  test/e2e/cruise/storage/storage_test.go
  test/e2e/pipeline/infra/k3s/.gitignore
  test/e2e/pipeline/infra/k3s/ansible-blocking-io.py
  test/e2e/pipeline/infra/k3s/clean.sh
  test/e2e/pipeline/infra/k3s/inventory.template.yml
  test/e2e/pipeline/infra/k3s/pre-requirements.sh
  test/e2e/pipeline/infra/k3s/setup.sh
  test/e2e/pipeline/infra/k3s/vms.template.yaml
  test/e2e/pipeline/installer/liqoctl/peer.sh
  test/e2e/testconsts/consts.go
Labels: kind/feature, size/L, merge-requested
