Repository liqotech/liqo, pull requests merged in 2025-05, with the labels that each got.

#3036 [Sphinx] ignore google scholar in linting
  docs/conf.py
Labels: size/XS, docs

#3028 chore: bump controller-runtime to v0.20.4
  deployments/liqo/charts/liqo-crds/crds/ipam.liqo.io_ips.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayclients.yaml
  deployments/liqo/charts/liqo-crds/crds/networking.liqo.io_wggatewayservers.yaml
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_shadowpods.yaml
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_virtualnodes.yaml
  go.mod
  go.sum
Labels: size/XXL, merge-requested, chore

#3029 Add image pull policy and secret handling across components
  apis/offloading/v1beta1/vkoptionstemplate_types.go
  apis/offloading/v1beta1/zz_generated.deepcopy.go
  deployments/liqo/README.md
  deployments/liqo/charts/liqo-crds/crds/offloading.liqo.io_vkoptionstemplates.yaml
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-controller-manager-deployment.yaml
  deployments/liqo/templates/liqo-crd-replicator-deployment.yaml
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-ipam-deployment.yaml
  deployments/liqo/templates/liqo-metric-agent-deployment.yaml
  deployments/liqo/templates/liqo-proxy-deployment.yaml
  deployments/liqo/templates/liqo-telemetry-cronjob.yaml
  deployments/liqo/templates/liqo-vk-options-template.yaml
  deployments/liqo/templates/liqo-webhook-deployment.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/templates/pre-delete-job.yaml
  deployments/liqo/values.yaml
  pkg/vkMachinery/forge/forge.go
Labels: size/L, merge-requested, chore

#3035 [ArgoCD] installation instructions
  docs/installation/install.md
Labels: size/S, docs

#3034 [IPAM] improved error logs
  pkg/ipam/initialize.go
Labels: size/XS, docs

#3038 [Telemetry] ResourceSliceNumber
  pkg/telemetry/doc.go
Labels: size/XS, docs

#2999 [Network] Debugging FAQ
  docs/advanced/peering/inter-cluster-network.md
  docs/faq/faq.md
Labels: size/L, docs

#3041 fix: show correct err when update local pod status failed
  pkg/virtualKubelet/reflection/workload/podns.go
Labels: size/XS, merge-requested, fix

#3052 fix: escape the shadowpod creator label
  pkg/utils/getters/k8sGetters.go
  pkg/utils/resource/labels.go
  pkg/webhooks/shadowpod/webhook.go
Labels: size/S, fix
