Repository liqotech/liqo, pull requests merged in 2025-02, with the labels that each got.

#2917 [E2E Tests] add description in the uninstall checks of 2e2 tests
  test/e2e/postuninstall/basic_test.go
Labels: size/M, merge-requested, test

#2918 [liqoctl] include network init in connect
  cmd/liqoctl/cmd/network.go
  docs/advanced/nat.md
  docs/advanced/peering/inter-cluster-network.md
  pkg/liqoctl/network/cluster.go
  pkg/liqoctl/network/handler.go
  pkg/liqoctl/peer/handler.go
Labels: size/L, refactor

#2921 fix: PodMonitor
  cmd/crd-replicator/main.go
  deployments/liqo/templates/liqo-virtualkubelet-podmonitor.yaml
Labels: size/S, merge-requested, fix

#2944 [Network] huge firewallconfiguration IP mapping resource
  pkg/liqo-controller-manager/networking/external-network/remapping/ip.go
  pkg/utils/cidr/cidr.go
Labels: size/S, merge-requested, fix

#2920 fix: examples
  examples/stateful-applications/manifests/cluster1.yaml
  examples/stateful-applications/manifests/cluster2.yaml
Labels: size/XS, fix

#2928 Disable nftables monitor by default
  deployments/liqo/README.md
  deployments/liqo/values.yaml
Labels: size/XS, merge-requested, fix

#2929 Improve error messages
  pkg/fabric/internalfabric_controller.go
  pkg/gateway/fabric/geneve/internalnode_controller.go
  pkg/liqo-controller-manager/networking/internal-network/route/pod_k8s.go
Labels: size/XS, merge-requested, style

#2958 [Issue Templates] added user value
  .github/ISSUE_TEMPLATE/feature_proposal.yaml
Labels: size/S, chore

#2956 [E2E] kubeadm provider refactoring
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/infra/kubeadm/clean.sh
  test/e2e/pipeline/infra/kubeadm/pre-requirements.sh
  test/e2e/pipeline/infra/kubeadm/setup.sh
  test/e2e/pipeline/installer/liqo/peer.sh
  test/e2e/pipeline/installer/liqo/setup.sh
  test/e2e/pipeline/installer/liqo/uninstall.sh
  test/e2e/pipeline/installer/liqo/unpeer.sh
  test/e2e/pipeline/utils.sh
Labels: size/M, ci

#2959 [Dependabot] groups docker dependencies
  .github/dependabot.yml
Labels: size/S, merge-requested, ci
