Repository liqotech/liqo, pull requests merged in 2025-03, with the labels that each got.

#2965 [Adopters] added markdown file
  ADOPTERS.md
Labels: size/S, chore

#2979 Add Politecnico di Torino among the adopters
  ADOPTERS.md
Labels: size/XS

#2964 [Cilium] kube-proxy replacement
  docs/conf.py
  docs/installation/install.md
Labels: size/S, merge-requested, docs

#2971 fix(liqoctl): rename `producer` occurences to `provider`
  cmd/liqoctl/cmd/test.go
  pkg/liqoctl/test/network/check/endpointslices.go
  pkg/liqoctl/test/network/check/external.go
  pkg/liqoctl/test/network/check/ip.go
  pkg/liqoctl/test/network/check/node.go
  pkg/liqoctl/test/network/check/pod.go
  pkg/liqoctl/test/network/check/service.go
  pkg/liqoctl/test/network/client/k8s.go
  pkg/liqoctl/test/network/flags/flags.go
  pkg/liqoctl/test/network/setup/deployment.go
  pkg/liqoctl/test/network/setup/kyverno.go
Labels: size/M, merge-requested, fix

#2984 Update ADOPTERS.md
  ADOPTERS.md
Labels: size/XS, chore

#2982 [E2E] use `liqoctl info` instead of status in diagnostic
  test/e2e/pipeline/diagnostic/diagnose.sh
Labels: size/XS, test

#2960 [E2E] GKE
  deployments/liqo/README.md
  deployments/liqo/values.yaml
  pkg/liqoctl/install/gke/provider.go
  test/e2e/cruise/network/network_test.go
  test/e2e/pipeline/infra/gke/const.sh
  test/e2e/pipeline/infra/gke/setup.sh
  test/e2e/pipeline/installer/liqo/setup.sh
  test/e2e/pipeline/utils.sh
Labels: size/M, ci

#2985 Add compatibility matrix documentation
  docs/_toc.yml
  docs/installation/compatibility.md
  docs/installation/install.md
Labels: size/M, docs

#2957 [docs] liqoctl generate/delete peering-user
  docs/conf.py
  docs/installation/install.md
  docs/usage/peer.md
Labels: size/M, docs

#2972 [Flags] gateway flags refactoring
  cmd/liqoctl/cmd/network.go
  cmd/liqoctl/cmd/peer.go
  docs/_legacy/examples/global-ingress.md
  docs/advanced/nat.md
  docs/advanced/peering/inter-cluster-network.md
  docs/examples/offloading-with-policies.md
  docs/examples/quick-start.md
  docs/examples/replicated-deployments.md
  docs/examples/service-offloading.md
  docs/examples/stateful-applications.md
  docs/usage/peer.md
  pkg/liqoctl/network/cluster.go
  test/e2e/pipeline/installer/liqo/peer.sh
Labels: size/L, merge-requested, chore

#2974 [E2E] EKS
  docs/advanced/peering/inter-cluster-network.md
  pkg/liqoctl/install/eks/iam.go
  test/e2e/pipeline/infra/eks/pre-requirements.sh
  test/e2e/pipeline/infra/eks/setup.sh
  test/e2e/pipeline/installer/liqo/peer.sh
  test/e2e/pipeline/installer/liqo/setup.sh
  test/e2e/pipeline/installer/liqo/unpeer.sh
  test/e2e/pipeline/utils.sh
Labels: size/M, merge-requested, ci

#2986 [liqoctl] fix help commands templating
  cmd/liqoctl/cmd/activate.go
  cmd/liqoctl/cmd/authenticate.go
  cmd/liqoctl/cmd/cordon.go
  cmd/liqoctl/cmd/docs.go
  cmd/liqoctl/cmd/drain.go
  cmd/liqoctl/cmd/info.go
  cmd/liqoctl/cmd/install.go
  cmd/liqoctl/cmd/move.go
  cmd/liqoctl/cmd/network.go
  cmd/liqoctl/cmd/offload.go
  cmd/liqoctl/cmd/peer.go
  cmd/liqoctl/cmd/root.go
  cmd/liqoctl/cmd/test.go
  cmd/liqoctl/cmd/unauthenticate.go
  cmd/liqoctl/cmd/uncordon.go
  cmd/liqoctl/cmd/uninstall.go
  cmd/liqoctl/cmd/unoffload.go
  cmd/liqoctl/cmd/unpeer.go
  cmd/liqoctl/cmd/version.go
  pkg/liqoctl/create/types.go
  pkg/liqoctl/delete/types.go
  pkg/liqoctl/generate/types.go
  pkg/liqoctl/get/types.go
  pkg/liqoctl/utils/cmd.go
Labels: size/L, merge-requested, fix, chore

#2955 Adding information about community (how-to, meetings, etc)
  .github/ISSUE_TEMPLATE/feature_proposal.yaml
  COMMUNITY.md
  vm.yaml
Labels: size/M

#3001 [Docs] update mariadb-galera version
  docs/examples/stateful-applications.md
  examples/stateful-applications/manifests/values.yaml
Labels: size/XS, refactor

#3005 Update text to the content of the latest community repository
  .github/ISSUE_TEMPLATE/feature_proposal.yaml
  COMMUNITY.md
  README.md
Labels: size/S, merge-requested, docs
