Repository liqotech/liqo, pull requests merged in 2025-01, with the labels that each got.

#2901 chore: Bump alpine from 3.21.0 to 3.21.2
  build/cert-creator/Dockerfile
  build/common/Dockerfile
  build/fabric/Dockerfile
  build/gateway/Dockerfile
  build/gateway/geneve/Dockerfile
  build/gateway/wireguard/Dockerfile
Labels: size/S, chore, docker

#2889 Use liqo.selectorTemplate for label definitions
  deployments/liqo/templates/_helpers.tpl
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
Labels: size/S, merge-requested, fix

#2897 [liqoctl] improve liqoctl version error message
  pkg/liqoctl/version/handler.go
Labels: size/S, fix

#2902 [License] new year renewal
  Makefile
Labels: size/XS, ci

#2884 Certificate renewal
  apis/authentication/v1beta1/renew_types.go
  apis/authentication/v1beta1/resourceslice_types.go
  apis/authentication/v1beta1/zz_generated.deepcopy.go
  cmd/liqo-controller-manager/modules/authentication.go
  deployments/liqo/charts/liqo-crds/crds/authentication.liqo.io_renews.yaml
  deployments/liqo/files/liqo-controller-manager-ClusterRole.yaml
  deployments/liqo/files/liqo-remote-controlplane-ClusterRole.yaml
  internal/crdReplicator/resources/resources.go
  pkg/consts/authentication.go
  pkg/consts/controllers.go
  pkg/identityManager/certificateIdentityProvider.go
  pkg/identityManager/interface.go
  pkg/liqo-controller-manager/authentication/localrenwer-controller/doc.go
  pkg/liqo-controller-manager/authentication/localrenwer-controller/localrenewer_controller.go
  pkg/liqo-controller-manager/authentication/remoterenwer-controller/doc.go
  pkg/liqo-controller-manager/authentication/remoterenwer-controller/remoterenewer_controller.go
  pkg/liqo-controller-manager/authentication/remoteresourceslice-controller/remoteresourceslice_controller.go
  pkg/peering-roles/controlplane/controlplane.go
Labels: size/XL, merge-requested, feat

#2871 Resource slice classes
  docs/advanced/peering/offloading-in-depth.md
Labels: size/M, merge-requested, docs

#2908 [Webhooks] limit webhook patch to Liqo webhooks
  pkg/consts/webhook.go
  pkg/webhooks/secretcontroller/secret_controller.go
Labels: size/S, merge-requested, fix

#2903 Health Check Probe
  cmd/fabric/main.go
  cmd/gateway/geneve/main.go
  cmd/gateway/main.go
  cmd/gateway/wireguard/main.go
  deployments/liqo/README.md
  deployments/liqo/templates/liqo-fabric-daemonset.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
  deployments/liqo/values.yaml
  pkg/gateway/flags.go
Labels: size/L, merge-requested, feat

#2912 Fix rendering of WgGateway templates when metrics disabled
  deployments/liqo/templates/liqo-wireguard-gateway-client-template.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template-eks.yaml
  deployments/liqo/templates/liqo-wireguard-gateway-server-template.yaml
Labels: size/S, merge-requested, fix
